<!DOCTYPE html>
<html>
<head>
	<title>Вход в админку</title>
	<%= stylesheet_link_tag    'admin/welcome', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'admin/welcome' %>
	<%= csrf_meta_tags %>
</head>
<body>
<%  wallpapers = [
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-86222.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-3922.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-108024.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-26545.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-78665.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-53092.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-57785.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-101496.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-6352.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-11706.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-10694.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-6529.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-725.jpg',
		'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-11779.jpg'
	] %>
<div id='welcome' style='background-image: url("<%= wallpapers.sample %>")'>
<% if User.where(role: :admin).empty? %>
<%= form_tag '/users' do %>
	<label class="field">
		<span>E-mail:</span>
		<input type='email' name='user[email]'>
	</label>
	<label class="field">
		<span>Пароль:</span>
		<input type='password' name='user[password]'>
	</label>
	<label class="field">
		<span>Подтверждение:</span>
		<input type='password' name='user[password_confirmation]'>
	</label>
	<input class='btn blue' type='submit' value='Создать Администратора'>
	<input type="hidden" name="user[role]" value="admin">
<% end %>
<% else %>
<%= form_tag '/users/sign_in' do %>
	<label class="field">
		<span>E-mail:</span>
		<input type='email' name='user[email]'>
	</label>
	<label class="field">
		<span>Пароль:</span>
		<input type='password' name='user[password]'>
	</label>
	<div class='row'>
		<label class='checkbox'>
			<div>
				<input type='checkbox' onchange="el=$(this);el.parent().toggleClass('checked');if(this.checked){el.next().val(true)}else{el.next().val(false)}">
				<input type="hidden" name='user[remember_me]' value="0">
			</div>
			Запомнить меня
		</label>
	</div>
	<input class='btn blue' type='submit' value='Войти'>
<% end %>
<% end %>
</div>
</body>
</html>