<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Диваны</h1>
</div>
<div class="menuCategoryPage rightShadow">
	<a href="/catalog/divany-trevi"><img src="/assets/Trevi.jpg">
		<div class='description'><p class='name'>Диваны Trevi</p><%= raw Category.find_by_scode('Trevi').description %></div>
	</a>
	<a href="/catalog/divany-opera"><img src="/assets/Opera.jpg">
		<div class='description'><p class='name'>Диваны Opera</p><%= raw Category.find_by_scode('Opera').description %></div>
	</a>
	<a href="/catalog/divany-lucca"><img src="/assets/Lucca.jpg">
		<div class='description'><p class='name'>Диваны Lucca</p><%= raw Category.find_by_scode('Lucca').description %></div>
	</a>
	<a href="/catalog/divany-ritmo"><img src="/assets/Ritmo.jpg">
		<div class='description'><p class='name'>Диваны Ritmo</p><%= raw Category.find_by_scode('Ritmo').description %></div>
	</a>
	<a href="/catalog/divany-nuvola"><img src="/assets/Nuvola.jpg">
		<div class='description'><p class='name'>Диваны Nuvola</p><%= raw Category.find_by_scode('Nuvola').description %></div>
	</a>
	<a href="/catalog/kresla"><img src="/assets/SoftAgioArteCircle.jpg">
		<div class='description'><p class='name'>Диваны Кресла</p><%= raw Category.find_by_scode('Кресла').description %></div>
	</a>
</div>