<div class="menuCategoryPage">
	<a href="/catalog/index?category_scode=Trevi"><img src="/assets/Trevi.jpg">
		<div class='description'><p class='name'>Спальня Trevi</p><%= raw Category.find_by_scode('Trevi').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Opera"><img src="/assets/Opera.jpg">
		<div class='description'><p class='name'>Спальня Opera</p><%= raw Category.find_by_scode('Opera').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Lucca"><img src="/assets/Lucca.jpg">
		<div class='description'><p class='name'>Спальня Lucca</p><%= raw Category.find_by_scode('Lucca').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Ritmo"><img src="/assets/Ritmo.jpg">
		<div class='description'><p class='name'>Спальня Ritmo</p><%= raw Category.find_by_scode('Ritmo').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Nuvola"><img src="/assets/Nuvola.jpg">
		<div class='description'><p class='name'>Спальня Nuvola</p><%= raw Category.find_by_scode('Nuvola').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Кресла"><img src="/assets/SoftAgioArteCircle.jpg">
		<div class='description'><p class='name'>Спальня Кресла</p><%= raw Category.find_by_scode('Кресла').description %></div>
	</a>
</div>