<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Мебель для гостиной</h1>
</div>

<% cats = Category.select(:name, :url, :description).where(scode: ['Norte', 'P3', 'BellaGost', 'Verro', 'Stylechoco', 'Joy', 'Azzon']) %>

<div class="menuCategoryPage">
	<% c = cats.find { |c| c.name == 'Norte' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/NorteNew.jpg">
		<div class='description'><p class='name'>Гостиная Norte</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'P3' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/P3.jpg">
		<div class='description'><p class='name'>Гостиная P3</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Bella' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/BellaGost.jpg">
		<div class='description'><p class='name'>Гостиная BellaGost</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Verro' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/Verro.jpg">
		<div class='description'><p class='name'>Гостиная Verro</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Style' } %>
	<a href="/catalog/<%= c.url %>-choco-new"><img src="/assets/Style.jpg">
		<div class='description'><p class='name'>Гостиная Style</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Joy' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/Joy.jpg">
		<div class='description'><p class='name'>Гостиная Joy</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Azzon' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/Azzon.jpg">
		<div class='description'><p class='name'>Гостиная Azzon</p><%= raw c.description %></div>
	</a>
</div>

<div class="seo-text">
<h2>Модульная корпусная мебель в гостиную</h2>

<p>Гостиная – место, в котором проводятся как душевные семейные посиделки, так и шумные встречи с друзьями. Это центр домашнего очага, от уюта которого зависит, какое впечатление произведет ваш дом на гостей. А значит, эта комната должна быть обставлена одновременно стильно и максимально комфортно. Выбирая, где купить мебель в гостиную в Москве, обратите внимание на бренд Parra. Эта марка выпускает высококачественную и функциональную корпусную мебель, созданную при участии европейских дизайнеров. В интернет-магазине Parra-Shop вы найдете популярные коллекции по привлекательным ценам.</p>

<h2>Особенности современной мебели для гостиной</h2>

<p>Современная мебель для гостиной – это отдельные элементы обстановки (шкафы, полки, тумбы и т. п.), которые комбинируются между собой. Такой подход позволяет создать интерьер, идеально отвечающий потребностям всей семьи. При необходимости вы можете легко внести в модульную систему изменения, просто поменяв местами предметы мебели. Современная стенка для гостиной выгодно отличается от своих предшественниц тем, что не занимает много места, но позволяет вместить в себя все необходимые в быту вещи. Она не выглядит громоздко и помогает реализовать самые смелые дизайнерские задумки. Кроме того, модульная мебель в гостиную оптимально впишется в интерьер как малогабаритной квартиры, так и загородного дома. Благодаря большому выбору элементов для модульной стенки вы сможете гармонично обставить помещение любой площади.</p>

<h2>Наши коллекции</h2>

<p>В интернет-магазине Parra-Shop представлены следующие стенки и наборы мебели для гостиной.

<p><b>Norte.</b> Элементы коллекции легко комбинируются между собой, смотрятся просто и оригинально. Они выполнены из натурального шпона дуба, красоту которого подчеркивает стекло и металл.</p>

<p><b>P3.</b> Эта мебель для гостиной комнаты воплощает актуальный урбанистический стиль. Вставки из массива дуба и окраска серой или белой глянцевой эмалью делают этот набор ультрамодным.</p>

<p><b>Bella.</b> Данную коллекцию корпусной мебели, выполненную из шпона ореха, отличает четкость линий и безупречность в деталях. Она привнесет в комнату гармонию и естественную красоту.</p>

<p><b>Verro.</b> Сочетание фактуры натурального ореха с прозрачным и тонированным темным стеклом придает стенке из этой коллекции легкость и изысканность.</p>

<p><b>Joy.</b> Данная коллекция корпусной мебели в гостиную была разработана немецкими дизайнерами. Ее отличает оригинальная фактурная поверхность, выполненная из шпона сердцевины ореха.</p>

<p><b>Azzon.</b> Функциональная гостиная, сочетающая контрастные оттенки дерева и стекло. Эта стильная коллекция производится из шпона ореха и ясеня.</p>

<p><b>Style.</b> Комбинация натурального ясеня и стекла «графит» создает стильную и функциональную стенку. Эта серия корпусной мебели представлена в двух цветовых решениях: «choco» и «орех».</p>

<p>Последняя категория представлена в двух разных цветах, но по виду эти коллекции очень похожи. Чтобы не повторяться в описании, мы объединили их под одно название. Можно оставить в таком виде или лучше разделить на две отдельные коллекции?</p>

<p>Чтобы уточнить размеры, сделать заказ на мебель для гостиной, оформить доставку и сборку, позвоните нам по бесплатному номеру 8-800-707-67-57. Также вы можете купить модульную мебель для спален и гостиных в интернет-магазине Parra-Shop, воспользовавшись функцией оформления заказа на сайте. Чтобы лично ознакомиться с ассортиментом моделей, посетите один из наших фирменных салонов.</p>
</div>