<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <p>Гостиные</p>
</div>
<div class="menuCategoryPage">
	<a href="/catalog/index?category_scode=Norte"><img src="/assets/NorteNew.jpg">
		<div class='description'><p class='name'>Гостиная Norte</p><%= raw Category.find_by_scode('Norte').description %></div>
	</a>
	<a href="/catalog/index?category_scode=P3"><img src="/assets/P3.jpg">
		<div class='description'><p class='name'>Гостиная P3</p><%= raw Category.find_by_scode('P3').description %></div>
	</a>
	<a href="/catalog/index?category_scode=BellaGost"><img src="/assets/BellaGost.jpg">
		<div class='description'><p class='name'>Гостиная BellaGost</p><%= raw Category.find_by_scode('BellaGost').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Verro"><img src="/assets/Verro.jpg">
		<div class='description'><p class='name'>Гостиная Verro</p><%= raw Category.find_by_scode('Verro').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Stylechoco"><img src="/assets/Style.jpg">
		<div class='description'><p class='name'>Гостиная Style choco</p><%= raw Category.find_by_scode('Stylechoco').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Stylenut"><img src="/assets/Style2.jpg">
		<div class='description'><p class='name'>Гостиная Style орех</p><%= raw Category.find_by_scode('Stylenut').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Joy"><img src="/assets/Joy.jpg">
		<div class='description'><p class='name'>Гостиная Joy</p><%= raw Category.find_by_scode('Joy').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Azzon"><img src="/assets/Azzon.jpg">
		<div class='description'><p class='name'>Гостиная Azzon</p><%= raw Category.find_by_scode('Azzon').description %></div>
	</a>
</div>