<div class="menuCategoryPage">
	<a href="/catalog/index?category_scode=Norte"><img src="/assets/NorteNew.jpg">
		<div class='description'><p class='name'>Спальня Norte</p><%= raw Category.find_by_scode('Norte').description %></div>
	</a>
	<a href="/catalog/index?category_scode=P3"><img src="/assets/P3.jpg">
		<div class='description'><p class='name'>Спальня P3</p><%= raw Category.find_by_scode('P3').description %></div>
	</a>
	<a href="/catalog/index?category_scode=BellaGost"><img src="/assets/BellaGost.jpg">
		<div class='description'><p class='name'>Спальня BellaGost</p><%= raw Category.find_by_scode('BellaGost').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Verro"><img src="/assets/Verro.jpg">
		<div class='description'><p class='name'>Спальня Verro</p><%= raw Category.find_by_scode('Verro').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Style"><img src="/assets/Style.jpg">
		<div class='description'><p class='name'>Спальня Style</p><%= raw Category.find_by_scode('Style').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Joy"><img src="/assets/Joy.jpg">
		<div class='description'><p class='name'>Спальня Joy</p><%= raw Category.find_by_scode('Joy').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Azzon"><img src="/assets/Azzon.jpg">
		<div class='description'><p class='name'>Спальня Azzon</p><%= raw Category.find_by_scode('Azzon').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Forma"><img src="/assets/Forma.jpg">
		<div class='description'><p class='name'>Спальня Forma</p><%= raw Category.find_by_scode('Forma').description %></div>
	</a>
</div>