<link rel="stylesheet" type="text/css" href="/assets/home.css">

<div id="home">
	<% banners = Banner.all %>
	<% b = banners.find_all(&:first) %>
	<% if b.any? %>
		<div class="main-slider">
			<% for banner in b %>
				<a href="<%= banner.url %>"><img src="<%= banner.image %>"></a>
			<% end %>
		</div>
	<% end %>

	<div class="icons">
		<a href="/service"><img src="/assets/Transport.png"><p>Бесплатная доставка</p></a>
		<a href="/service"><img src="/assets/Tools.png"><p>Сборка</p></a>
		<a href="/oplata"><img src="/assets/Payment.png"><p>Способы оплаты</p></a>
		<a href="/insurance"><img src="/assets/Certificate.png"><p>Гарантии</p></a>
		<a href="/stores"><img src="/assets/Shop.png"><p>Магазины</p></a>
	</div>

	<% b = banners.find_all(&:new) %>
	<% if b.any? %>
		<h2>Новинки</h2>
		<div class="categories">
			<% for banner in b %>
				<a href="<%= banner.url %>"><img src="<%= banner.image %>"></a>
			<% end %>
		</div>
	<% end %>

	<% comments = Comment.where(published: true).order date: :desc %>
	<div class="white">
		<h2>Отзывы наших покупателей</h2>
		<div class="reviews">
			<% for comment in comments %>
				<div class="item">
					<div class="text"><%= comment.body.truncate 220 %></div>
					<% if comment.date %><div class='date'><%= comment.date.strftime "%d-%m-%Y" %></div><% end %>
					<div class="author"><%= comment.author %><% unless comment.city.blank? %>, <%= comment.city %><% end %></div>
				</div>
			<% end %>
		</div>
		<div style="text-align: center; padding: 20px 0">
			<div class="btn gray" onclick="otzyv()"><p>Оставить отзыв</p></div>
		</div>
	</div>

	<% b = banners.find_all(&:hit) %>
	<% if b.any? %>
		<h2>Хиты продаж</h2>
		<div class="categories">
			<% for banner in b %>
				<a href="<%= banner.url %>"><img src="<%= banner.image %>"></a>
			<% end %>
		</div>
	<% end %>

	<div id="info">
		<h1>Мебель из шпона</h1>
		<p>Гостиная или спальня из натуральной древесины выглядит эффектно в интерьере любого стиля. Но те, кто ценят экологичность не меньше удачного дизайна, приобретают мебель из шпона. Она выгодно отличается по цене и весу от моделей из массива и в то же время сохраняет респектабельность оригинала.<br>Коллекции европейской мебели Parra отделаны натуральным шпоном. В них современная лаконичность форм сочетается с классической надежностью. Интернет-магазин корпусной мебели Parra-Shop предлагает шпонированные гарнитуры от производителя.</p>
		<h3>Шпон в мебельном производстве</h3>
		<br>
		<p>Листы материала получают, срезая тонкий слой древесины в процессе лущения массива дерева. Технология раскрывает красоту материала: древесные прожилки, сучки, наросты, которые образуют неповторимый узор. После специальной обработки шпон приобретает влагостойкость и прочность.<br>Фасады, боковые панели и другие элементы мебели «Парра» не рассыхаются и не выделяют вредных веществ. Купить корпусную мебель из шпона – значит позаботиться о своем здоровье и окружающей среде.</p>
		<h3>Преимущества изделий Parra</h3>
		<br>
		<div><b>Качество и безопасность.</b></div>
		<p>Долговечность продукции основана на строгом контроле всех этапов производства. Плиты ДСП и МДФ, покрытые натуральным шпоном из дуба, ореха, ясеня, соответствуют стандартам безопасности. На наши изделия распространяется увеличенный срок гарантии – 24 месяца.</p>
		<div><b>Широкий ассортимент.</b></div>
		<p>Стильные кровати, пуфы, шкафы и другую корпусную мебель в Москве легко найти в наших салонах. Здесь представлены дополнительные декоративные элементы, завершающие вид интерьера.</p>
		<div><b>Удобство использования.</b></div>
		<p>Модульная система позволяет комбинировать элементы коллекции между собой. Модели из шпона легко передвигаются на новое место – можно легко изменить дизайн комнаты тогда, когда вам этого хочется.</p>
		<p>Комплекты корпусной мебели с отделкой шпоном можно купить в наших фирменных салонах или заказать в интернет-магазине Parra-Shop. Позвоните по бесплатному номеру <b>8-800-707-67-57</b>, чтобы получить дополнительную информацию.</p>
 	</div>

	<div class="info">Контент сайта Parra-shop.ru носит исключительно информационный характер и не является публичной офертой. Внешний вид, комплектация и стоимость продукции, могут отличаться от представленных на сайте.</div>
</div>
<link rel="stylesheet" type="text/css" href="/assets/slick.min.css">
<script type="text/javascript" src="/assets/slick.min.js"></script>
<script type="text/javascript">
	$('.main-slider').slick({arrows:false,dots:true,autoplay:true,speed:700});
	$('.categories').slick({
		autoplay: true,
		speed: 700,
		slidesToShow: 3,
		centerMode: true,
		responsive: [{
			breakpoint: 800,
			settings: {
				slidesToShow: 2
			}
		}],
		responsive: [{
			breakpoint: 575,
			settings: {
				slidesToShow: 1
			}
		}]
	});
	$('.reviews').slick({
		slidesToShow: 2,
		responsive: [{
			breakpoint: 1000,
			settings: {
				slidesToShow: 1
			}
		}]
	});
</script>
<style type="text/css">
    #blur > .main {
        background-color: #463F39
    }
</style>