<div style="margin-top:30px">
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td><%= image_tag("main1.png")%></td>
			<td><%= image_tag("main2.png",:style => "margin-left:25px;")%></td>
		</tr>
	</table>

	<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td><%= image_tag("main3.png",:style => "margin-top:30px;")%></td>
			<td><%= image_tag("main4.png",:style => "margin-top:30px;margin-left:25px;")%></td>
		</tr>
	</table>
	
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td><%= image_tag("main5.png",:style => "margin-top:30px;")%></td>
		</tr>
	</table>
	
</div>
