<div class="home">
	<% unless @banners.blank? %>
	<div class="banners">
		<div id="slider">
			<div class="prev" onclick="sliderPrev(this)"></div>
			<div class="wrap">
				<% @banners.each_with_index do |b, i| %>
					<a href="<%= b.url %>" class="<%= 'active' if i == 0 %>" style="background-image: url('<%= b.image %>')"></a>
				<% end %>
			</div>
			<div class="next" onclick="sliderNext(this)"></div>
			<div class="buttons">
				<div class="active" onclick="sliderChoose(this)"></div>
				<% (@banners.count - 1).times do %>
					<div onclick="sliderChoose(this)"></div>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>

	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td class="opacity">
				<%= link_to(image_tag("sales.jpg", :style => "margin-bottom:30px"), '/catalog/sales' )%>
			</td>
		</tr>
	</table>
	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td class="opacity">
				<%= link_to(image_tag("JimiAkciaMiro.png", :style => "margin-bottom:30px"), '/catalog/index?category_scode=Miro' )%>
			</td>
		</tr>
	</table>

	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td>
				<div>
					<table>
						<tr>
							<% if @cat1.size > 1 then @cat1[0..2].each do |p| %>
							<td>
								<a href="<%= url_for '/kupit/'+p.scode %>" style="background-image: url('<%= p.images.split(',')[0] %>')">
									<h2><%= p.name %></h2>
									<p><b>Цена:</b> <%= number_to_currency(p.price) %></p>
								</a>
							</td>
							<% end end %>
						</tr>
						<tr>
							<% if @cat1.size > 3 then @cat1[3..4].each do |p| %>
							<td>
								<a href="<%= url_for '/kupit/'+p.scode %>" style="background-image: url('<%= p.images.split(',')[0] %>')">
									<h2><%= p.name %></h2>
									<p><b>Цена:</b> <%= number_to_currency(p.price) %></p>
								</a>
							</td>
							<% end end %>
							<td>
								<a href="<%= url_for({ :controller => '/catalog', :action => :index, :category_scode => :Bella} )%>" class="showAll">
									Посмотреть всю<br> коллекцию >><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
								</a>
							</td>
						</tr>
					</table>
				</div>
				<span><%= image_tag("main1.png")%></span>				
			</td>
			<td class="opacity"><%= link_to(image_tag("main2.png",:style => "margin-left:25px;"), { :controller => '/catalog', :action => :index, :category_scode => "Матрасы по акции"} )%></td>
		</tr>
	</table>

	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td class="opacity"><%= link_to(image_tag("main3.png", style: "margin-top:30px"), { :controller => '/catalog', :action => :index, :category_scode => :Столы} )%></td>
			<td>
				<div class="margin">
					<table>
						<tr>
							<% if @cat2.size > 1 then @cat2[0..2].each do |p| %>
							<td>
								<a href="<%= url_for '/kupit/'+p.scode %>" style="background-image: url('<%= p.images.split(',')[0] %>')">
									<h2><%= p.name %></h2>
									<p><b>Цена:</b> <%= number_to_currency(p.price) %></p>
								</a>
							</td>
							<% end end %>
						</tr>
						<tr>
							<% if @cat2.size > 3 then @cat2[3..4].each do |p| %>
							<td>
								<a href="<%= url_for '/kupit/'+p.scode %>" style="background-image: url('<%= p.images.split(',')[0] %>')">
									<h2><%= p.name %></h2>
									<p><b>Цена:</b> <%= number_to_currency(p.price) %></p>
								</a>
							</td>
							<% end end %>
							<td>
								<a href="<%= url_for :controller => '/catalog', :action => :index, :category_scode => :Style %>" class="showAll">
									Посмотреть всю<br> коллекцию >><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
								</a>
							</td>
						</tr>
					</table>
				</div>
				<span><%= image_tag("main4.png", :class => "margin")%></span>
			</td>
		</tr>
	</table>
	
	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td>
				<div class="marginTop">
					<table>
						<tr>
							<% if @cat3.size > 0 then @cat3[0..4].each do |p| %>
							<td>
								<a href="<%= url_for '/kupit/'+p.scode %>" style="background-image: url('<%= p.images.split(',')[0] %>')">
									<h2><%= p.name %></h2>
									<p><b>Цена:</b> <%= number_to_currency(p.price) %></p>
								</a>
							</td>
							<% end end %>
						</tr>
						<tr>
							<% if @cat3.size > 5 then @cat3[5..9].each do |p| %>
							<td>
								<a href="<%= url_for '/kupit/'+p.scode %>" style="background-image: url('<%= p.images.split(',')[0] %>')">
									<h2><%= p.name %></h2>
									<p><b>Цена:</b> <%= number_to_currency(p.price) %></p>
								</a>
							</td>
							<% end end %>
						</tr>
					</table>
				</div>
				<span><%= image_tag("main5.png", :class => "marginTop")%></span>
			</td>
		</tr>
	</table>
	
</div>

<script type="text/javascript">
	slider()
</script>