<%= stylesheet_link_tag "main", media: "all" %>

<div class="home">
	<% unless @first_banners.blank? %>
	<div class="banners">
		<div id="slider"<% if @first_banners.size == 1 %> style='height: 360px'<% end %>>
			<div class="wrap">
				<% @first_banners.each_with_index do |b, i| %>
					<a href="<%= b.url %>" class="<%= 'active' if i == 0 %>" style="background-image: url('<%= b.image %>')"></a>
				<% end %>
			</div>
			<% unless @first_banners.size == 1 %>
				<div class="buttons">
					<div class="active" onclick="sliderChoose(this)"></div>
					<% (@first_banners.count - 1).times do %>
						<div onclick="sliderChoose(this)"></div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<% end %>

	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td>
				<div>
					<% unless @second_banners.blank? %>
					<div class="banners second">
						<p class="label">Новинки 2016 года</p>
						<div class="wrap">
							<% @second_banners.each do |b| %>
								<a href="<%= b.url %>" style="background-image: url('<%= b.image %>')"></a>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>			
			</td>
			<td class="opacity"><%= link_to(image_tag("main2.png",:style => "margin-left: 21px"), { :controller => '/catalog', :action => :index, :url => "marraspoakcii"} )%></td>
		</tr>
	</table>

	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td class="opacity"><%= link_to(image_tag("main3.png"), { :controller => '/catalog', :action => :index, :url => 'stoly' } )%></td>
			<td>
				<div class="margin">
					<% unless @third_banners.blank? %>
					<div class="banners third">
						<p class="label" style="background-color: #ffc240">Хиты продаж</p>
						<div class="wrap">
							<% @third_banners.each do |b| %>
								<a href="<%= b.url %>" style="background-image: url('<%= b.image %>')"></a>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>
			</td>
		</tr>
	</table>

	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td>
				<div>
					<% unless @fourth_banners.blank? %>
					<div class="banners fourth">
						<div class="wrap">
							<% @fourth_banners.each do |b| %>
								<a href="<%= b.url %>" style="background-image: url('<%= b.image %>')"></a>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>			
			</td>
			<td>
				<div class="margin">
					<% unless @square_third.blank? %>
					<div class="banners square">
						<div class="wrap">
							<% @square_third.each do |b| %>
								<a href="<%= b.url %>" style="background-image: url('<%= b.image %>')"></a>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>			
			</td>
		</tr>
	</table>
</div>
<div id="info">
	<h1>Мебель Parra из шпона</h1>
	<p>Ключевую роль в создании неповторимого стиля вашего дома играет мебель. Порой бывает очень непросто выбрать тот или иной предмет интерьера, который бы гармонично вписывался в обстановку, был надежным и функциональным. Компания Parra предлагает качественную и современную мебель из шпона для гостиных и спален с доставкой по Москве и области. Наша продукция разрабатывается ведущими европейскими дизайнерами и изготавливается на собственной фабрике. В интернет-магазине Parra-Shop представлена мебель из натурального шпона в различных стилях – от классики до модерна.</p>
	<h3>Особенности мебели из шпона</h3>
	<p>Шпон – это тонкий слой древесины, предназначенный для отделки фасадов, боковых панелей и других деталей корпуса мебели. Благодаря обработке он обладает прочностью, влагостойкостью и долговечностью. Кроме того, шпон отличается высокой экологичностью и не выделяет вредных веществ. Мебель с таким покрытием не рассыхается, устойчива к перепадам температуры и влажности в помещении. В зависимости от породы дерева (ясень, дуб, орех, бук и т. п.) изготавливаемая продукция имеет различные оттенки. Мебель из шпона более доступна по цене по сравнению с продукцией из массива дерева.</p>
	<h3>Преимущества нашей продукции</h3>
	<p><b>Широкий ассортимент.</b> В наших магазинах вы найдете стильные шкафы, кровати, комоды, тумбочки и другую корпусную мебель из шпона. Также в ассортименте Parra представлены полки, зеркала и дополнительные декоративные элементы, которые придадут интерьеру завершенный вид.</p>
	<p><b>Удобство эксплуатации.</b> Мебель Parra изготавливается по принципу модульной системы, что позволяет гармонично обставить помещение любой площади и конфигурации. Отдельные элементы легко комбинируются между собой и составляют множество вариантов оформления.</p>
	<p><b>Высокое качество.</b> Мебель Parra производится из МДФ и ДСП с покрытием из натурального шпона. Сочетание этих материалов обеспечивает не только красоту, но и долговечность продукции Parra. Мы закупаем сырье и фурнитуру только у проверенных поставщиков. Строгий контроль качества на каждом этапе производства дает возможность компании Parra устанавливать на мебель из натурального шпона увеличенный гарантийный срок – два года.</p>
	<p>Вы можете приобрести мебель Parra в нашем интернет-магазине или посетив один из фирменных салонов в столице. За более подробной информацией о продукции из шпона обращайтесь к нашим специалистам по телефону 8-800-707-67-57.</p>
</div>
<% unless @first_banners.size == 1 %>
<script type="text/javascript">
	slider()
</script>
<% end %>
<style type="text/css">
    #blur > .main {
        background-color: #463F39
    }
</style>