<div class="index">
<% for product in  @products %>
<div>
    <img src="<%= product.images %>">
    <div><%= link_to product.name, "kupit/" + product.scode %></div>
    <div><%= product.scode %></div>
    <div><%= product.shortdesk %></div>
    <div><b>Цена:</b> <%= product.price %> руб</div>
</div>
<% end %>
</div>