<div class="home">
	<% unless @first_banners.blank? %>
	<div class="banners">
		<div id="slider">
			<div class="prev"></div>
			<div class="wrap">
				<% @first_banners.each_with_index do |b, i| %>
					<a href="<%= b.url %>" class="<%= 'active' if i == 0 %>" style="background-image: url('<%= b.image %>')"></a>
				<% end %>
			</div>
			<div class="next"></div>
			<div class="buttons">
				<div class="active" onclick="sliderChoose(this)"></div>
				<% (@first_banners.count - 1).times do %>
					<div onclick="sliderChoose(this)"></div>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>

	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td>
				<div>
					<% unless @second_banners.blank? %>
					<div class="banners second">
						<p class="label">Новинки 2015 года</p>
						<div class="wrap">
							<% @second_banners.each do |b| %>
								<a href="<%= b.url %>" style="background-image: url('<%= b.image %>')"></a>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>			
			</td>
			<td class="opacity"><%= link_to(image_tag("main2.png",:style => "margin-left: 21px"), { :controller => '/catalog', :action => :index, :category_scode => "Матрасы по акции"} )%></td>
		</tr>
	</table>

	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td class="opacity"><%= link_to(image_tag("main3.png"), { :controller => '/catalog', :action => :index, :category_scode => :Столы } )%></td>
			<td>
				<div class="margin">
					<% unless @third_banners.blank? %>
					<div class="banners third">
						<p class="label" style="background-color: #ffc240">Хиты продаж</p>
						<div class="wrap">
							<% @third_banners.each do |b| %>
								<a href="<%= b.url %>" style="background-image: url('<%= b.image %>')"></a>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>
			</td>
		</tr>
	</table>
	
	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td>
				<div class="wide hover">
					<table>
						<tr>
							<% if @cat.size > 0 then @cat[0..4].each do |p| %>
							<td>
								<a href="<%= url_for '/kupit/'+p.scode %>" style="background-image: url('<%= p.images.split(',')[0] %>')">
									<h2><%= p.name %></h2>
									<p><b>Цена:</b> <%= number_to_currency(p.price) %></p>
								</a>
							</td>
							<% end end %>
						</tr>
						<tr>
							<% if @cat.size > 5 then @cat[5..9].each do |p| %>
							<td>
								<a href="<%= url_for '/kupit/'+p.scode %>" style="background-image: url('<%= p.images.split(',')[0] %>')">
									<h2><%= p.name %></h2>
									<p><b>Цена:</b> <%= number_to_currency(p.price) %></p>
								</a>
							</td>
							<% end end %>
						</tr>
					</table>
				</div>
				<span><%= image_tag("main5.png", :class => "marginTop")%></span>
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	slider()
</script>
<style type="text/css">
    body > .main {
        background-color: #463F39
    }
</style>