<link rel="stylesheet" type="text/css" href="/assets/home.css">

<div id="home">
	<div class="main-slider">
		<% @first_banners.each do |b| %>
			<a href="<%= b.url %>">
				<img src="<%= b.image %>">
			</a>
		<% end %>
	</div>

	<div class="row">
		<div class="big">
			<p class="label" style="background-color: #4fb859">Новинки 2016 года</p>
			<div class="slick">
				<% @second_banners.each do |b| %>
					<a href="<%= b.url %>">
						<img src="<%= b.image %>">
					</a>
				<% end %>
			</div>
		</div>
		<div class="small opacity">
			<a href="/catalog/marraspoakcii">
				<img src="/assets/main2.png">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="small opacity">
			<a href="/catalog/stoly">
				<img src="/assets/main3.png">
			</a>
		</div>
		<div class="big">
			<p class="label" style="background-color: #ffc240">Хиты продаж</p>
			<div class="slick">
				<% @third_banners.each do |b| %>
					<a href="<%= b.url %>">
						<img src="<%= b.image %>">
					</a>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="big slick">
			<% @fourth_banners.each do |b| %>
				<a href="<%= b.url %>">
					<img src="<%= b.image %>">
				</a>
			<% end %>
		</div>
		<div class="small slick">
			<% @square_third.each do |b| %>
				<a href="<%= b.url %>">
					<img src="<%= b.image %>">
				</a>
			<% end %>
		</div>
	</div>

	<div id="info">
		<h1>Мебель из шпона</h1>
		<p>Гостиная или спальня из натуральной древесины выглядит эффектно в интерьере любого стиля. Но те, кто ценят экологичность не меньше удачного дизайна, приобретают мебель из шпона. Она выгодно отличается по цене и весу от моделей из массива и в то же время сохраняет респектабельность оригинала.</p>
		<p>Коллекции европейской мебели Parra отделаны натуральным шпоном. В них современная лаконичность форм сочетается с классической надежностью. Интернет-магазин корпусной мебели Parra-Shop предлагает шпонированные гарнитуры от производителя.</p>
		<h3>Шпон в мебельном производстве</h3>
		<p>Листы материала получают, срезая тонкий слой древесины в процессе лущения массива дерева. Технология раскрывает красоту материала: древесные прожилки, сучки, наросты, которые образуют неповторимый узор. После специальной обработки шпон приобретает влагостойкость и прочность. </p>
		<p>Фасады, боковые панели и другие элементы мебели «Парра» не рассыхаются и не выделяют вредных веществ. Купить корпусную мебель из шпона – значит позаботиться о своем здоровье и окружающей среде.</p>
		<h3>Преимущества изделий Parra</h3>
		<ul>
		<li>Качество и безопасность. Долговечность продукции основана на строгом контроле всех этапов производства. Плиты ДСП и МДФ, покрытые натуральным шпоном из дуба, ореха, ясеня, соответствуют стандартам безопасности. На наши изделия распространяется увеличенный срок гарантии – 24 месяца.</li>
		<li>Широкий ассортимент. Стильные кровати, пуфы, шкафы и другую корпусную мебель в Москве легко найти в наших салонах. Здесь представлены дополнительные декоративные элементы, завершающие вид интерьера.</li>
		<li>Удобство использования. Модульная система позволяет комбинировать элементы коллекции между собой. Модели из шпона легко передвигаются на новое место – можно легко изменить дизайн комнаты тогда, когда вам этого хочется.</li>
		</ul>
		<p>Комплекты корпусной мебели с отделкой шпоном можно купить в наших фирменных салонах или заказать в интернет-магазине Parra-Shop. Позвоните по бесплатному номеру 8-800-707-67-57, чтобы получить дополнительную информацию.</p>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="/assets/slick.min.css">
<script type="text/javascript" src="/assets/slick.min.js"></script>
<script type="text/javascript">
	$('.main-slider').slick({arrows:false,dots:true,autoplay:true,speed:700});
	$('.slick').slick({arrows:false,autoplay:true,speed:700});
</script>
<style type="text/css">
    #blur > .main {
        background-color: #463F39
    }
</style>