<div class="home">
	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td>
				<div>
					<%= image_tag("mainPhoto1.png")%>
					<table>
						<tr>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#" class="showAll">
									Посмотреть всю коллекцию >>
								</a>
							</td>
						</tr>
					</table>
				</div>
				<span><%= image_tag("main1.png")%></span>				
			</td>
			<td><%= image_tag("main2.png",:style => "margin-left:25px;")%></td>
		</tr>
	</table>

	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td><%= image_tag("main3.png",:style => "margin-top:30px;")%></td>
			<td>
				<div class="margin">
					<%= image_tag("mainPhoto2.png")%>
					<table>
						<tr>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#" class="showAll">
									Посмотреть всю коллекцию >>
								</a>
							</td>
						</tr>
					</table>
				</div>
				<span><%= image_tag("main4.png", :class => "margin")%></span>
			</td>
		</tr>
	</table>
	
	<table border="0" cellspacing="0" cellpadding="0" width="90%">
		<tr>
			<td>
				<div class="marginTop">
					<%= image_tag("mainPhoto2.png")%>
					<table>
						<tr>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#">
									<h2>Кровать BELLA</h2>
									<p><b>Цена:</b> 37 198руб.</p>
								</a>
							</td>
							<td>
								<a href="#" class="showAll">
									Посмотреть всю коллекцию >>
								</a>
							</td>
						</tr>
					</table>
				</div>
				<span><%= image_tag("main5.png", :class => "marginTop")%></span>
			</td>
		</tr>
	</table>
	
</div>
