<script src="/assets/lightbox.min.js"></script>
<link href="/assets/lightbox.min.css" rel="stylesheet" />

<div id="user_nav">
 	 	  <% if user_signed_in? %>
 	 	    Signed in as <%= current_user.email %>. Not you?
 	 	    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
 	 	  <% else %>
 	 	    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
 	 	  <% end %>
 </div>

<div class="index">
<% img = 0 %>
<% if @products %>
<% for @product in  @products %>
<div>
    <% product_images = @product.product_images %>
    <% if product_images.any? %>
    	<% images = product_images.map{|i| i.image.url} %>
        <a href="<%= images[0] %>" data-lightbox="image-<%= img+=1 %>" title="<%= @product.name %>"><img src="<%= images[0] %>"></a>
        <div class="hidden">
        	<%  images.drop(1).each do |i| %>
        		<a href="<%= i %>" data-lightbox="image-<%= img %>" title="<%= @product.name %>"><img src="<%= i %>"></a>
        	<% end %>
        </div>
    <% end %>
    <div><%= link_to @product.name, "/kupit/" + @product.scode %></div>
    <div><%= sanitize(@product.shortdesk) %></div>
    <div><b>Цена:</b> <%= currency(@product.price) %></div>
</div>
<% end %>
<% end %>
</div>