<div class="breadcrumbs" style="padding: 0 5%">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Матрасы</h1>
</div>
<div class="menuCategoryPage matras rightShadow">
	<a href="/catalog/matrasy-organic"><img src="/assets/SonberryOrganic.jpg">
		<div class='description'><p class='name'>Матрасы Sonberry Organic</p><%= raw Category.find_by_url('matrasy-organic').description %></div>
	</a>
	<a href="/catalog/matrasy-aero"><img src="/assets/SonberryAero.jpg">
		<div class='description'><p class='name'>Матрасы Sonberry Aero</p><%= raw Category.find_by_url('matrasy-aero').description %></div>
	</a>
	<a href="/catalog/matrasy-aero"><img src="/assets/Sonberry2XL.jpg">
		<div class='description'><p class='name'>Матрасы Sonberry 2XL</p><%= raw Category.find_by_url('matrasy-2xl').description %></div>
	</a>
	<a href="/catalog/matrasy-active"><img src="/assets/SonberryActive.jpg">
		<div class='description'><p class='name'>Матрасы Sonberry Active</p><%= raw Category.find_by_url('matrasy-active').description %></div>
	</a>
	<a href="/catalog/matrasy-italia"><img src="/assets/SonberryItalia.jpg">
		<div class='description'><p class='name'>Матрасы Sonberry Italia</p><%= raw Category.find_by_url('matrasy-italia').description %></div>
	</a>
</div>