<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <p>Отзывы</p>
</div>
<h1 style="text-align: center; margin-top: 30px; color: #4FB859">Отзывы покупателей о мебели Parra.</h1>
<br>
<div class="tar" style="margin: 30px 0 20px">
	<div class="btn green" onclick="otzyv()"><p>Оставить отзыв</p></div>
</div>
<br>
<% for comment in Comment.where(published: true).order date: :desc %>
	<div class='otzyv'>
		<div class='header'><%= comment.title %></div>
		<div class='body'><%= comment.body %></div>
		<div class='bottom'>
			<div class='name'><%= comment.author %><% unless comment.city.blank? %>, <%= comment.city %><% end %></div>
			<% if comment.date %><div class='date'><%= comment.date.strftime "%d-%m-%Y" %></div><% end %>
		</div>
	</div>
<% end %>
<br>
<div class="tar" style="margin: 30px 0">
	<div class="btn green" onclick="otzyv()"><p>Оставить отзыв</p></div>
</div>
<br>