<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Спальные гарнитуры в Москве</h1>
</div>
<div class="menuCategoryPage">
	<a href="/catalog/spalni-gamma"><img src="/assets/GammaNew.jpg">
		<div class='description'><p class='name'>Спальня Gamma</p><%= raw Category.find_by_scode('Gamma').description %></div>
	</a>
	<a href="/catalog/spalni-liona"><img src="/assets/LyonaNew.jpg">
		<div class='description'><p class='name'>Спальня Lyona</p><%= raw Category.find_by_scode('Lyona').description %></div>
	</a>
	<a href="/catalog/spalni-bella"><img src="/assets/Bella.jpg">
		<div class='description'><p class='name'>Спальня Bella</p><%= raw Category.find_by_scode('Bella').description %></div>
	</a>
	<a href="/catalog/spalni-plisset"><img src="/assets/Plisset.jpg">
		<div class='description'><p class='name'>Спальня Plisset</p><%= raw Category.find_by_scode('Plisset').description %></div>
	</a>
	<a href="/catalog/spalni-orly"><img src="/assets/Orly.jpg">
		<div class='description'><p class='name'>Спальня Orly</p><%= raw Category.find_by_scode('Orly').description %></div>
	</a>
	<a href="/catalog/spalni-ritmika"><img src="/assets/RitmikaSale.jpg">
		<div class='description'><p class='name'>Спальня Ritmika</p><%= raw Category.find_by_scode('Ritmika').description %></div>
	</a>
	<a href="/catalog/spalni-lorra"><img src="/assets/Lorra.jpg">
		<div class='description'><p class='name'>Спальня Lorra</p><%= raw Category.find_by_scode('Lorra').description %></div>
	</a>
	<a href="/catalog/spalni-leggero-oreh"><img src="/assets/LeggeroSale.jpg">
		<div class='description'><p class='name'>Спальня Leggero</p><%= raw Category.find_by_scode('Leggero').description %></div>
	</a>
	<a href="/catalog/spalni-miro"><img src="/assets/Miro.jpg">
		<div class='description'><p class='name'>Спальня Miro</p><%= raw Category.find_by_scode('Miro').description %></div>
	</a>
</div>
<div class="seo-text">
		<h2>Мебель для спальни</h2>
		<p>Спальня – одна из самых важных комнат в доме, ведь здесь мы не только спим, но и от отдыхаем от повседневных забот. Именно поэтому спальный гарнитур должен создавать уютную и комфортную атмосферу. При выборе важно учитывать удобство в использовании, долговечность и, конечно же, эстетическую привлекательность комплекта. Компания Parra предлагает стильную модульную мебель от европейских дизайнеров. В каталоге нашего интернет-магазина представлены шкафы, кровати, комоды, тумбочки и другие предметы интерьера для создания гармоничной обстановки. Вы сможете выгодно купить мебель для спальни в Москве с доставкой по городу и области.</p>
		<h2>Корпусные спальные гарнитуры</h2>
		<p>Модульная мебель для спальни – отличный вариант, позволяющий учесть индивидуальные размеры вашей спальной комнаты. Такой комплект можно органично вписать в помещение небольшой площади. Он не будет загромождать комнату, одновременно способствуя правильной организации пространства. Покупка модульной спальни позволит вам оформить интерьер в едином стиле. Кроме того, вы всегда можете обновить обстановку, просто переставив местами корпусную мебель. Специалисты Parra-Shop помогут подобрать оптимальный вариант и купить спальный гарнитур, который не только идеально впишется в ваш интерьер, но и позволит удобно разместить все необходимые вещи.</p>
		<h2>Модульные спальни от производителя</h2>
		<p>У нас вы можете оформить заказ на мебель для спальни от производителя. В каталоге представлено 10 стильных на любой вкус.</p>
		<p><b>Gamma.</b> Натуральный шпон ясеня с эмалевым покрытием цвета слоновой кости придает серии благородный вид, а резной декор фасадов – изящества.</p>
		<p><b>Lyona.</b> Изысканная простота – так можно описать данную коллекцию корпусной мебели от производителя. Кровать с массивным изголовьем подчеркивает основательность комплекта, доступного в цветах «орех» и «дуб».</p>
		<p><b>Bella.</b> Эта модульная мебель для спальни является воплощением гармонии натурального дерева и стекла. Она доступна в двух вариантах отделки – шпон «орех» с цветом «графит» и шпон «зебрано» с черным стеклом и искусственной кожей.</p>
		<p><b>Plisset.</b> Строгие формы, минимум фурнитуры и зеркальные вставки создают ультрасовременный облик коллекции. Доминантной этой спальни от производителя является кожаная белая кровать с высоким изголовьем.</p>
		<p><b>Orly.</b> Натуральный шпон цвета «дуб» или «орех» в сочетании с современными системами открывания без фурнитуры подчеркивают уникальность этой модульной мебели. Теплые оттенки гарнитура придают спальне особый уют.</p>
		<p><b>Ritmika.</b> Индивидуальность модульной коллекции придает сочетание натурального шпона, экокожи и стекла. Она представлена в двух цветовых решениях – белый дуб» и «орех».</p>
		<p><b>Lorra.</b> Эта серия корпусной мебели для спальни лаконична и имеет минимум деталей. Она доступна для заказа в двух оттенках – светлый дуб» и «ясень шоко».</p>
		<p><b>Leggero.</b> Элегантная модульная коллекция для спальни представлена в двух утонченных цветах – «ясень шоко» и «натуральный орех». Стильное оформление гарнитура подчеркивают декоративные металлические вставки и тонкие серебристые ручки.</p>
		<p><b>Miro.</b> Кровати с мягким изголовьем создадут уют в вашей спальной комнате и обеспечат комфортный сон. В серии представлены различные модели с обивкой из натуральной и искусственной кожи.</p>
		<p>Чтобы купить спальни в интернет-магазине Parra-Shop, добавьте модульный спальный гарнитур в «Корзину» и следуйте дальнейшим указаниям. Проконсультироваться с нашими специалистами и оформить заказ можно также по телефону 8-800-707-67-57.</p>
</div>