<div class="menuCategoryPage">
	<a href="/catalog/index?category_scode=Lyona"><img src="/assets/LyonaNew.jpg">
		<div class='description'><%= '' %></div>
	</a>
	<a href="/catalog/index?category_scode=Bella"><img src="/assets/Bella.jpg">
		<div class='description'><p class='name'>Спальня Bella</p><%= raw Category.find_by_scode('Bella').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Plisset"><img src="/assets/Plisset.jpg">
		<div class='description'><p class='name'>Спальня Plisset</p><%= raw Category.find_by_scode('Plisset').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Orly"><img src="/assets/Orly.jpg">
		<div class='description'><p class='name'>Спальня Orly</p><%= raw Category.find_by_scode('Orly').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Ritmika"><img src="/assets/RitmikaSale.jpg">
		<div class='description'><p class='name'>Спальня Ritmika</p><%= raw Category.find_by_scode('Ritmika').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Lorra"><img src="/assets/Lorra.jpg">
		<div class='description'><p class='name'>Спальня Lorra</p><%= raw Category.find_by_scode('Lorra').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Leggero"><img src="/assets/LeggeroSale.jpg">
		<div class='description'><p class='name'>Спальня Leggero</p><%= raw Category.find_by_scode('Leggero').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Miro"><img src="/assets/Miro.jpg">
		<div class='description'><p class='name'>Спальня Miro</p><%= raw Category.find_by_scode('Miro').description %></div>
	</a>
	<a href="/catalog/index?category_scode=Mild"><img src="/assets/Mild.jpg">
		<div class='description'><p class='name'>Спальня Mild</p><%= raw Category.find_by_scode('Mild').description %></div>
	</a>
</div>