<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Спальные гарнитуры в Москве</h1>
</div>
<div class="menuCategoryPage">
	<a href="/catalog/spalni-gamma"><img src="/assets/GammaNew.jpg">
		<div class='description'><p class='name'>Спальня Gamma</p><%= raw Category.find_by_scode('Gamma').description %></div>
	</a>
	<a href="/catalog/spalni-liona"><img src="/assets/LyonaNew.jpg">
		<div class='description'><p class='name'>Спальня Lyona</p><%= raw Category.find_by_scode('Lyona').description %></div>
	</a>
	<a href="/catalog/spalni-bella"><img src="/assets/Bella.jpg">
		<div class='description'><p class='name'>Спальня Bella</p><%= raw Category.find_by_scode('Bella').description %></div>
	</a>
	<a href="/catalog/spalni-plisset"><img src="/assets/Plisset.jpg">
		<div class='description'><p class='name'>Спальня Plisset</p><%= raw Category.find_by_scode('Plisset').description %></div>
	</a>
	<a href="/catalog/spalni-orly"><img src="/assets/Orly.jpg">
		<div class='description'><p class='name'>Спальня Orly</p><%= raw Category.find_by_scode('Orly').description %></div>
	</a>
	<a href="/catalog/spalni-ritmika"><img src="/assets/RitmikaSale.jpg">
		<div class='description'><p class='name'>Спальня Ritmika</p><%= raw Category.find_by_scode('Ritmika').description %></div>
	</a>
	<a href="/catalog/spalni-ritmika2"><img src="/assets/RitmikaSale2.jpg">
		<div class='description'><p class='name'>Спальня Ritmika2</p><%= raw Category.find_by_scode('Ritmika2').description %></div>
	</a>
	<a href="/catalog/spalni-lorra"><img src="/assets/Lorra.jpg">
		<div class='description'><p class='name'>Спальня Lorra</p><%= raw Category.find_by_scode('Lorra').description %></div>
	</a>
	<a href="/catalog/spalni-leggero-oreh"><img src="/assets/LeggeroSale.jpg">
		<div class='description'><p class='name'>Спальня Leggero Орех</p><%= raw Category.find_by_scode('Leggero').description %></div>
	</a>
	<a href="/catalog/spalni-leggero-choco1"><img src="/assets/LeggeroSale2.jpg">
		<div class='description'><p class='name'>Спальня Leggero choco</p><%= raw Category.find_by_scode('Leggerochoco1').description %></div>
	</a>
	<a href="/catalog/spalni-miro"><img src="/assets/Miro.jpg">
		<div class='description'><p class='name'>Спальня Miro</p><%= raw Category.find_by_scode('Miro').description %></div>
	</a>
	<a href="/catalog/spalni-mild"><img src="/assets/Mild.jpg">
		<div class='description'><p class='name'>Спальня Mild</p><%= raw Category.find_by_scode('Mild').description %></div>
	</a>
</div>