<div class="breadcrumbs" style="padding: 0 5%">
  <a href="/">Главная</a>
  <span>></span>
  <h1><%= @category.name %></h1>
</div>

<% cats = Category.select(:name, :url, :description).where(scode: ['Sienna', 'Nocce', 'Gamma', 'Lyona', 'Bella', 'Plisset', 'Orly', 'Ritmika', 'Lorra', 'Leggero', 'Miro']) %>

<div class="menuCategoryPage">
	<% c = cats.find { |c| c.name == 'Sienna' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/Sienna.jpg">
		<div class='description'><p class='name'>Спальня Sienna</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Nocce' } %>
	<a href="/catalog/spalni-nocce-antracit"><img src="/assets/Nocce.jpg">
		<div class='description'><p class='name'>Спальня Nocce</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Gamma' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/GammaNew.jpg">
		<div class='description'><p class='name'>Спальня Gamma</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Lyona' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/LyonaNew.jpg">
		<div class='description'><p class='name'>Спальня Lyona</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Bella' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/Bella.jpg">
		<div class='description'><p class='name'>Спальня Bella</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Plisset' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/Plisset.jpg">
		<div class='description'><p class='name'>Спальня Plisset</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Orly' } %>
	<a href="/catalog/<%= c.url %>"><img src="/assets/Orly.jpg">
		<div class='description'><p class='name'>Спальня Orly</p><%= raw c.description %></div>
	</a>
	<% c = cats.find { |c| c.name == 'Leggero' } %>
	<a href="/catalog/<%= c.url %>-oreh"><img src="/assets/LeggeroSale.jpg">
		<div class='description'><p class='name'>Спальня Leggero</p><%= raw c.description %></div>
	</a>
</div>
<div class="seo-text" style="margin: 20px 5%">
<h1>Спальные гарнитуры</h1>
<p>Спальня – заповедный уголок спокойствия, зона релаксации, отстранения от повседневных хлопот и тревог. Расслабляющую атмосферу задают гармоничные сочетания цветов, комфортные и уютные элементы мебели. Желая купить спальный гарнитур, обращают внимание не только на стильный дизайн. Особо ценятся надежность конструкции и экологичность использованных материалов.</p>
<p>Сочетанием этих факторов мебель для спален Parra удерживает свою популярность. Европейское качество материалов, отделка натуральным шпоном, дизайн в духе минимализма – достоинства каждого гарнитура. Интернет-магазин Parra-Shop предлагает спальни от производителя с доставкой по Москве и области, чтобы вы всегда засыпали с комфортом.</p>
<p>Состав гарнитура</p>
<p>Современная корпусная мебель для спальни позволяет организовать пространство, не перегружая его. В коллекциях мебели Parra используется модульная система. Классический комплект включает:</p>
<ul>
<li>кровать;</li>
<li>шкаф;</li>
<li>комод;</li>
<li>туалетный столик;</li>
<li>зеркало;</li>
<li>один или два пуфа.</li>
</ul>
<p>Все элементы спальни связаны единым стилем. Их расположение в комнате задается вашими предпочтениями. Если обстановка надоела, ее легко сменить, переставив мебель.</p>
<p>Какой гарнитур выбрать</p>
<p>Создавая мебель для спальни, дизайнеры соединяют сдержанность форм с красотой древесной текстуры. Вы можете выбрать предметы, отделанные шпоном из ясеня, дуба или ореха. Праздничную нотку придадут вставки из экокожи. Если хотите создать в спальне умиротворяющую атмосферу, выбирайте скругленные углы и плавные линии.</p>
<p>Если вы хотите купить спальню в интернет-магазине, вам трудно оценить реальные размеры шкафов и тумб. Наши консультанты помогут подобрать гарнитур, оптимально подходящий по размеру и стилю. При этом компактность систем хранения не исключает их вместительность.</p>
<p>Ассортимент коллекций Parra для спален порадует даже придирчивых покупателей. На мебель распространяется 2 года гарантии от производителя. Закажите спальню на сайте или свяжитесь с менеджером по бесплатному номеру 8-800-707-67-57.</p>
</div>