<div class="page">
    <div class="wherebuyinner">
      <div>
        <%= link_to raw('Мебель PARRA<br>МЦ "Мебель PARK"<br>Киевское шоссе,<br>Строение 1, 3 вход,<br>3 этаж<br>(499) 940-12-29'), store1_path %>
        <%= link_to raw('Мебель PARRA<br>МЦ "Family Room"<br>Киевское шоссе,<br>Строение 1, 5 вход,<br>2 этаж<br>(499) 940-12-29'), store2_path %>
        <%= link_to raw('Мебель PARRA<br>МЦ "Армада"<br>Кировоградская ул.,<br>д. 11/1<br>(495) 665-11-52'), store3_path %>
        <%= link_to raw('Мебель PARRA<br>ТЦ "Черемушки"<br>Профсоюзная ул.,<br>д. 56, 3 этаж<br>(499) 340-56-56'), store4_path %>
        <%= link_to raw('Мебель PARRA<br>МЦ "ROOMER"<br>ул. Ленинская,<br>Слобода, д. 26<br>(499) 426-46-06'), store5_path %>
        <%= link_to raw('Мебель PARRA<br><nobr>ТЦ «Твой Дом - Крокус»</nobr><br>66км МКАД<br>(499) 340-09-08'), store6_path %>
        <%= link_to raw('Мебель PARRA<br>ТРЦ "РИО" Реутов<br>г. Реутов, 2-ой км<br>МКАД, д. 2, этаж 3<br>(499) 347-09-09'), store7_path %>
		<%= link_to raw('Мебель PARRA<br>МЦ "Вагант"<br>г. Подольск, ул. Станционная,<br> д. 11, 1 этаж<br>(499) 400-58-18'), store8_path %>
		<%= link_to raw('Мебель PARRA<br>МЦ "Империя"<br>г.Москва Дмитровское шоссе 159 , 3 этаж.<br>(499) 899-07-09'), store9_path %>
      </div>
    </div>
</div>