<tr class='<%= cycle('light', 'dark') %>'>
	<td style="text-align: center"><%= proption.name %></td>
	<td style="text-align: center"><%= number_to_currency(proption.price) %></td>
	<td style="text-align: center">
		<%= link_to 'Удалить', proption, :confirm => 'Вы уверены?', :method => :delete %> | 
		<%= link_to 'Редактировать', edit_proption_path(proption) %>
	</td>
</tr>