<div class="devise">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <label>Email: <%= f.email_field :email, autofocus: true %></label>
  <label>Пароль: <%= f.password_field :password, autocomplete: "off" %></label>  
  <label>Подтверждение пароля: <%= f.password_field :password_confirmation, autocomplete: "off" %></label>

  <div>
	<%if User.count < 1 %>
			<%=check_box("user", "admin", {}, "true", "false")%> Сделать администратором
	<%end%>
 </div>	

  <div><%= f.submit "Зарегистрироваться" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>