<p class="title"><%= subcategory.name %><% if user_signed_in? && (current_user.admin? || current_user.manager) %><a style='margin-left: 50px' class="btn btn-primary" href="<%= edit_subcategory_path(subcategory) %>">Редактировать</a><%= link_to("Удалить", subcategory, method: :delete, data: {confirm: 'Вы уверены?'}, class: 'btn btn-danger') %><%= link_to('Создать новый продукт', "/products/new?subcategory_id=#{subcategory.id}", class: 'btn btn-success') %><% end %></p>
<% if subcategory.description %>
	<div class="description">
		<%= raw subcategory.description %>
	</div>
<% end %>
<% if subcategory.sub_cat_images %>
	<table class="images">
		<tr>
			<% for image in subcategory.sub_cat_images %>
				<td>
					<img src="<%= image.url %>">
					<div class="image-description"><%= raw image.description %></div>
				</td>
			<% end %>
		</tr>
	</table>
<% end %>
<% if subcategory.products %>
	<div id="products">
		<%= render partial: 'pages/product', collection: subcategory.products %>
	</div>
<% end %>