<%= form_for(@extension) do |f| %>
<div class='row'>
    <h4 class="col-md-2 col-md-offset-3 text-right"><%= f.label :name, "Название", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :name, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
</div>
<br>
<div class="text-center col-md-6" style="width: 100%">
	<div id="addImages" class="extension_image">
	<% if @extension.image %>
		<h4>Изображение</h4>
		<div>
			<div>
				<img class="img-thumbnail" src="<%= @extension.image %>">
				<small class="btn btn-warning" onclick="deleteImageHeader(this)">Удалить</small>
			</div>
		</div>
	<% else %>
		<input onclick="addImageClick(this)" type="button" value="Добавить изображение" class="btn btn-primary">
		<div></div>
	<% end %>
	</div>
	<%= f.hidden_field :image, class: 'one' %>
</div>
<br>
<br>
<br>
<br>
<div class='text-center'><%= f.submit 'Сохранить', class: "btn btn-success" %></div>
<% end %>