<%= form_for @texture do |f| %>
  <br>
  <p>
    <%= f.label :name , "Название" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :scode , "Код" %><br>
    <%= f.text_field :scode %>
  </p>
  <p>
    <%= f.label :price , "Цена" %><br>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :image , "Изображение" %><br>
    <% if @texture.image %><p onclick="imageChange(this)" data-url="<%= @texture.image %>">Изменить</p><% end %>
    <div id="addImages" class="textureImage">
      <img src="<%= @texture.image %>">
    </div>
    <%= f.hidden_field :image %>
  </p>
  <br>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>