<%= form_for @order do |f| %>
  <p>
    <%= f.label :email , "Email" %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :last_name , "Фамилия" %><br>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :first_name , "Имя" %><br>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name , "Отчество" %><br>
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :phone , "Телефон" %><br>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :addr_street , "Улица" %><br>
    <%= f.text_field :addr_street %>
  </p>
  <p>
    <%= f.label :addr_home , "Дом" %><br>
    <%= f.text_field :addr_home %>
  </p>
  <p>
    <%= f.label :addr_block , "Корпус" %><br>
    <%= f.text_field :addr_block %>
  </p>
  <p>
    <%= f.label :addr_flat , "Квартира" %><br>
    <%= f.text_field :addr_flat %>
  </p>
  <p>
    <%= f.label :comment , "Комментарий" %><br>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
  <%= hidden_field_tag :cartfield %>
<% end %>