<%= form_for(@banner, data: {banner: @banner.id}) do |f| %>
	<label>Ссылка: <%= f.text_field :url, style: 'width: 280px' %></label>
		<br><br>
	<div class="addImage">
		<% unless @banner.image.blank? %>
			<p onclick="addImageButton(this)" class="btn btn-danger">Удалить</p>
			<img src="<%= @banner.image %>">
		<% else %>
			<p onclick="addImageButton(this)" class="btn btn-primary">Добавить изображение</p>
		<% end %>
		<%= f.hidden_field :image %>
	</div>
	<div class="buttons">
		<div>
		  <% unless @banner.id.nil? %>
		    <%= link_to 'Показать', @banner, class: 'btn btn-default' %>
		    <%= link_to 'Создать новый', new_banner_path, class: 'btn btn-default' %>
		  <% end %>
		  <%= link_to 'Список баннеров', banners_path, class: 'btn btn-default' %>
		</div>
		<%= f.submit 'Сохранить', class: "btn btn-success" %>
	</div>
<% end %>