<%= form_for(@banner) do |f| %>
<table class="table table-bordered table-striped">
	<tr>
		<td colspan="1">
		    <h4 class="text-right"><%= f.label :url, "Ссылка", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
		</td>
		<td colspan="4">
		    <div>
		      <div class="wrath-content-box" style="padding:0 15px">
		        <%= f.text_field :url, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
		      </div>
		    </div>
		</td>
	</tr>
	<tr>
		<td style="padding: 15px 30px 15px 20px">
			<div class="text-center">
				<div id="addImages" class="banner_image">
					<% if @banner.image %>
					<h4>Изображение</h4>
					<div>
						<div>
							<img class="img-thumbnail" src="<%= @banner.image %>">
							<small class="btn btn-warning" onclick="deleteImageHeader(this)">Удалить</small>
						</div>
					</div>
					<% else %>
					<input onclick="addImageClick(this)" type="button" value="Добавить изображение" class="btn btn-primary">
					<div>
					</div>
					<% end %>
				</div>
				<%= f.hidden_field :image, class: 'one' %>
			</div>
		</td>
		<td>
			<label><input type="radio" name='slider'<% if params[:slider] == 'first' %> checked='checked'<% end %> value='1'> Первый слайлер</label>
		</td>
		<td>
			<label><input type="radio" name='slider'<% if params[:slider] == 'second' %> checked='checked'<% end %> value='2'> Второй слайлер</label>
		</td>
		<td>
			<label><input type="radio" name='slider'<% if params[:slider] == 'third' %> checked='checked'<% end %> value='3'> Третий слайлер</label>
		</td>
		<td>
			<label><input type="radio" name='slider'<% if params[:slider] == 'fourth' %> checked='checked'<% end %> value='4'> Четвертый слайлер</label>
		</td>
	</tr>
	<tr>
		<td colspan="4"></td>
		<td>
			<label><input type="radio" name='slider'<% if params[:slider] == 'square_third' %> checked='checked'<% end %> value='square_third'> Третий квадрат</label>
		</td>
	</tr>
</table>
<br><br><br>
<table class="table table-striped fixed-buttons text-center">
	<tr>
		<td>
			<div class="absolute">
			  <%= link_to 'Список Баннеров', banners_path, class: 'btn btn-default' %>
			</div>
			<%= f.submit 'Сохранить', class: "btn btn-success" %>
		</td>
	</tr>
</table>
<% end %>