<br><h2 class="text-center">Список баннеров</h2><br>
<br><h3 class="text-center">Главный слайдер</h3><br>
<table class="table table-bordered table-striped">
	<tr>
		<th>№</th>
		<th>Картинка</th>
		<th>Ссылка</th>
		<th>Действия</th>
	</tr>
	<% for banner in @banners.find_all{|b| b.first} %>
	<tr>
		<td class="text-center"><%= banner.position %></td>
		<td>
			<%= image_tag(banner.image, class: 'img-thumbnail img200') %>
		</td>
		<td class="text-center">
			<%= link_to banner.url, banner.url %>
		</td>
		<td class="text-center">
			<%= link_to 'Редактировать', edit_banner_path(banner), class: 'btn btn-warning' %>
			<%= link_to("Удалить", banner, 'data-confirm' => 'Вы уверены?', method: :delete, class: 'btn btn-danger') %>
		</td>
	</tr>
	<% end %>
	<tr>
		<td colspan="3" class="text-center">
			<%= link_to 'Создать новый баннер в новинках', new_banner_path(type: :first), class: 'btn btn-success' %>
		</td>
	</tr>
</table>
<br>
<br><h3 class="text-center">Новинки</h3><br>
<table class="table table-bordered table-striped">
	<tr>
		<th>№</th>
		<th>Картинка</th>
		<th>Ссылка</th>
		<th>Действия</th>
	</tr>
	<% for banner in @banners.find_all{|b| b.new} %>
	<tr>
		<td class="text-center"><%= banner.position %></td>
		<td>
			<%= image_tag(banner.image, class: 'img-thumbnail img200') %>
		</td>
		<td class="text-center">
			<%= link_to banner.url, banner.url %>
		</td>
		<td class="text-center">
			<%= link_to 'Редактировать', edit_banner_path(banner), class: 'btn btn-warning' %>
			<%= link_to("Удалить", banner, 'data-confirm' => 'Вы уверены?', method: :delete, class: 'btn btn-danger') %>
		</td>
	</tr>
	<% end %>
	<tr>
		<td colspan="3" class="text-center">
			<%= link_to 'Создать новый баннер в новинках', new_banner_path(type: :new), class: 'btn btn-success' %>
		</td>
	</tr>
</table>
<br>
<br><h3 class="text-center">Хиты продаж</h3><br>
<table class="table table-bordered table-striped">
	<tr>
		<th>№</th>
		<th>Картинка</th>
		<th>Ссылка</th>
		<th>Действия</th>
	</tr>
	<% for banner in @banners.find_all{|b| b.hit} %>
	<tr>
		<td class="text-center"><%= banner.position %></td>
		<td>
			<%= image_tag(banner.image, class: 'img-thumbnail img200') %>
		</td>
		<td class="text-center">
			<%= link_to banner.url, banner.url %>
		</td>
		<td class="text-center">
			<%= link_to 'Редактировать', edit_banner_path(banner), class: 'btn btn-warning' %>
			<%= link_to("Удалить", banner, 'data-confirm' => 'Вы уверены?', method: :delete, class: 'btn btn-danger') %>
		</td>
	</tr>
	<% end %>
	<tr>
		<td colspan="3" class="text-center">
			<%= link_to 'Создать новый баннер в хитах', new_banner_path(type: :hit), class: 'btn btn-success' %>
		</td>
	</tr>
</table>
