<div class="admin">
	<h2>Список баннеров</h2>

	<table>
		<tr>
			<th>Картинка</th>
			<th>Ссылка</th>
			<th>Действия</th>
		</tr>
		<% for banner in @banners %>
		<tr>
			<td>
				<%= image_tag(banner.image, class: 'img-thumbnail img300') %>
			</td>
			<td class="text-center">
				<%= link_to banner.url, banner.url %>
			</td>
			<td class="text-center">
				<%= link_to 'Редактировать', edit_banner_path(banner), class: 'btn btn-warning' %>
				<%= link_to("Удалить", banner, 'data-confirm' => 'Вы уверены?', method: :delete, class: 'btn btn-danger') %>
			</td>
		</tr>
		<% end %>
	</table>

	<div class="buttons">
		<%= link_to 'Создать новый', new_banner_path, class: 'btn btn-success' %>
	</div>
</div>