<%= form_for @prcolor do |f| %>
  <p>
    <%= f.label :product_id , "Продукт" %><br>
    <%= f.select :product_id, options_from_collection_for_select(@products, "id", "name", if @product_id then @product_id else 1 end) %>
  </p>
  <p>
    <%= f.label :scode , "Код" %><br>
    <%= f.text_field :scode %>
  </p>
  <br>
  <div id="addImages" class="prcolor_images">
    <input type="button" value="Добавить изображение">
    <div></div>
  </div>
  <%= f.hidden_field :images %>
  <br>
  <p>
    <%= f.label :name , "Название" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price , "Цена" %><br>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :description , "Описание" %><br />
    <%= f.text_area :description, class: "tinymce", :rows => 5 %>
  </p>
  <div id="createTextures">
    <h2 onclick="addTexture(this)">Добавить текстуру +</h2>
    <div>
      <% i = 0 %>
      <% @prcolor.textures.each do |t| %>
      <div>
        <label for="textures__name">Название</label><br>
        <input id="textures__name" name="textures[][name]" type="text" value="<%= t.name %>"><br>
        <label for="textures__scode">Код</label><br>
        <input id="textures__scode" name="textures[][scode]" type="text" value="<%= t.scode %>"><br>
        <label for="textures__price">Цена</label><br>
        <input id="textures__price" name="textures[][price]" type="text" value="<%= t.price %>"><br>
        <label for="textures__image">Изображение</label><br>
        <div id="addImages" class="textureImage<%= i += 1 %>">
          <img src="<%= t.image %>">
        </div>
        <input id="textureImage<%= i %>" name="textures[][image]" type="hidden" value="<%= t.image %>"><br>
      </div>
      <% end %>
    </div>
  </div>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>

<%= tinymce %>