<%= form_for @prcolor do |f| %>
  <% if @prcolor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prcolor.errors.count, "error") %> prohibited this prcolor from being saved:</h2>
      <ul>
        <% @prcolor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group treebox-group">
    <p>Принадлежит товару:</p>
    <div class="treebox">
      <% if @products.empty? %>
        <div class="button">
          <p>Нет товаров</p>
        </div>
      <% else %>
        <div class="button" onclick="treebox.show(this)">
          <p>
            <% if @prcolor.product_id %>
              <%= @products.find{|r| r.id == @prcolor.product_id}.name %>
            <% else %>
              Выбрать
            <% end %>
          </p><span class="caret"></span>
        </div>
        <ul>
          <% def treebox items
            ret = ''
            for item in items
              ret += "<li><div><span></span><p onclick='treebox.pick(this)' data-id='#{item.id}'>#{item.name}</p></div></li>"
            end
            ret
          end %>
          <%= raw treebox @products %>
        </ul>
        <% if params[:product_id].present? %>
          <%= f.hidden_field :product_id, value: params[:product_id] %>
        <% else %>
          <%= f.hidden_field :product_id %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <a class="btn btn-success">Создать новый цвет</a>
  <%= link_to 'Скопировать цвет', "/prcolors/copy?product_id=#{@prcolor.product.id}", class: 'btn btn-default' %>
  <br><br>
  <label>Название: <%= f.text_field :name %></label>
  <label>Код: <%= f.text_field :scode %></label>
  <label>Цена: <%= f.text_field :price %></label>
  <div class="addImage">
    <% unless @prcolor.images.blank? %>
      <p onclick="addImageButton(this)" class="btn btn-danger">Удалить</p>
      <img src="<%= @prcolor.images %>">
    <% else %>
      <p onclick="addImageButton(this)" class="btn btn-primary">Добавить изображение</p>
    <% end %>
    <%= f.hidden_field :images %>
  </div>
  <div class="editor">
    <p>Описание</p>
    <%= f.text_area :description, class: "tinymce", :rows => 12, :cols => 120 %>
  </div>
  <div class="buttons">
    <div>
      <% unless @prcolor.id.nil? %>
        <%= link_to 'Вернутся на страницу товара', product_path(@prcolor.product), class: 'btn btn-default' %>
      <% end %>
    </div>
    <%= f.submit 'Сохранить', class: "btn btn-success" %>
  </div>
  <br><br>
  <!-- Название, код, цена, картинка, удалить -->
  <div id="createTextures">
    <h3 onclick="addTexture(this)" class="btn btn-primary">Добавить текстуру +</h3>
    <% for t in @prcolor.textures %>
      <div>
        <div class="addImage">
          <% if t.image.blank? %>
            <p onclick="addImageButton(this)" class="btn btn-primary">Добавить изображение</p>
          <% else %>
            <p onclick="addImageButton(this)" class="btn btn-danger">Удалить</p>
            <img src="<%= t.image %>">
          <% end %>
          <input name="textures[][image]" type="hidden" value="<%= t.image %>">
        </div>
        <label>Название: <input type="text" name="textures[][name]" value="<%= t.name %>"></label>
        <label>Код: <input type="text" name="textures[][scode]" value="<%= t.scode %>"></label>
        <label>Цена: <input type="text" name="textures[][price]" value="<%= t.price %>"></label>
        <div class="btn btn-danger" onclick="$(this).parent().remove()">Удалить</div>
      </div>
    <% end %>
  </div>
<% end %>
<%= tinymce %>