<script src="http://lokeshdhakar.com/projects/lightbox2/js/lightbox-2.6.min.js"></script>
<link href="http://lokeshdhakar.com/projects/lightbox2/css/lightbox.css" rel="stylesheet" />
<%= form_for @prcolor do |f| %>
  <p>
    <%= f.label :product_id , "Продукт" %><br>
    <%= f.select :product_id, options_from_collection_for_select(@products, "id", "name", if @product_id then @product_id else 1 end) %>
  </p>
  <div class="colorFields">
    <a class="active" onclick="colorToggle(this, 'new')">Создать новый цвет</a> / <a onclick="colorToggle(this, 'copy')">Скопировать существующий</a>
    <span id="newColor">
      <p>
        <%= f.label :scode , "Код" %><br>
        <%= f.text_field :scode %>
      </p>
      <br>
      <label for="textures__image">Изображение</label><br>
      <% if (@prcolor.images) then %><p onclick="imageChange(this)" data-url="<%= @prcolor.images %>">Изменить</p><% end %>
      <div id="addImages" class="prcolor_images">
        <% if (@prcolor.images) then %>
        <img src="<%= @prcolor.images %>">
        <% else %>
        <input type="button" value="Добавить изображение">
        <% end %>
      </div>
      <%= f.hidden_field :images %>
      <br>
      <p>
        <%= f.label :name , "Название" %><br>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :price , "Цена" %><br>
        <%= f.text_field :price %>
      </p>
      <p>
        <%= f.label :description , "Описание" %><br />
        <%= f.text_area :description, class: "tinymce", :rows => 5 %>
      </p>
      <div id="createTextures">
        <h2 onclick="addTexture(this)">Добавить текстуру +</h2>
        <div>
          <% i = 0 %>
          <% @prcolor.textures.each do |t| %>
          <div>
            <label for="textures__name">Название</label><br>
            <input id="textures__name" name="textures[][name]" type="text" value="<%= t.name %>"><br>
            <label for="textures__scode">Код</label><br>
            <input id="textures__scode" name="textures[][scode]" type="text" value="<%= t.scode %>"><br>
            <label for="textures__price">Цена</label><br>
            <input id="textures__price" name="textures[][price]" type="text" value="<%= t.price %>"><br>
            <label for="textures__image">Изображение</label><br>
            <% if t.image %><p onclick="imageChange(this)" data-url="<%= t.image %>">Изменить</p><% end %>
            <div id="addImages" class="textureImage<%= i += 1 %>">
              <img src="<%= t.image %>">
            </div>
            <input id="textureImage<%= i %>" name="textures[][image]" type="hidden" value="<%= t.image %>">        
            <p onclick="this.parentNode.parentNode.removeChild(this.parentNode)">Удалить</p>
            <br><br>
          </div>
          <% end %>
        </div>
      </div>
    </span>
    <span id="copyColor">      
      <p>
        <%= label_tag :copy_scode , "Код товара для копирования" %><br>
        <%= text_field_tag :copy_scode %>
      </p>
      <br>
      <ul>
      <% @products.each do |p| %>
        <li>
          <span>
            <a onclick="showProductPrcolor(this)"><%= p.name %> <b>(<%= p.scode %>)</b></a>
            <a onclick="copyPrcolorChoose(this)" class="fancyButton">Выбрать</a>
          </span>
          <ul>
            <% p.prcolors.each do |c| %>
            <li>
              <div class="heading">
                <div class="color" style="background-image: url('<%= c.images %>')">
                  <p>Каталог тканей</p>
                  <p><%= c.name %></p>
                </div>
                <div class="fancyButton" onclick="texturesWatch(this)">Выбрать</div>
              </div>
              <div class="textures">
                <% c.textures.each do |t| %>
                  <label>
                    <p><%= t.scode %> <%= t.name %></p>
                    <a href="<%= t.image %>" data-lightbox="<%= c.name %>" title="<%= t.scode %> <%= t.name %>"><img src="<%= t.image %>"></a>
                  </label>
                <% end %>
              </div>
            </li>
            <% end %>
          </ul>
        </li>        
      <% end %>
      </ul>
      <br>
    </span>
  </div>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>

<%= tinymce %>