<div class="catalog">
	<div class="header">
		<div class="heading" style="background-image: url('<%= textures.images %>')"><p>Каталог тканей</p><p><%= textures.name %></p></div>
		<div class="fancyButton" onclick="texturesWatch(this)">Посмотреть</div>
	</div>
	<div class="textures" style="height:0">
		<% textures.textures.each do |t| %>
		<label>
			<p><%= t.scode %> <%= t.name %></p>
			<img src="<%= t.image %>">
			<input type="radio" name="prcolors" value="<% t.id %>">
		</label>
		<% end %>
	</div>
</div>