<h1 class="text-center" style="margin:15px 0">Заказ №<b id="order-id"><%= @order.number %></b></h1>

<table class="table table-striped table-bordered text-center">
	<tr>
		<th>Email</th>
		<th>Ф.И.О</th>
		<th>Телефон</th>
		<th>Улица</th>
		<th>Дом</th>
		<th>Корпус</th>
		<th>Квартира</th>
		<th>Сумма</th>
	</tr>
	<tr>
		<% price = 0;
		@items = @order.order_items
		@items.each do |item|
			price += item.price
		end %>
		<td><%= @order.email %></td>
		<td><%= @order.first_name %></td>
		<td><%= @order.phone %></td>
		<td><%= @order.addr_street %></td>
		<td><%= @order.addr_home %></td>
		<td><%= @order.addr_block %></td>
		<td><%= @order.addr_flat %></td>
		<td><%= number_to_currency(price) %></td>
	</tr>
</table>
<br><br><br>
<table class="table table-striped table-bordered text-center order-items">
	<tr>
		<th>Код</th>
		<th>Картинка</th>
		<th>Название</th>
		<th>Размер</th>
		<th>Цвет</th>
		<th>Опция</th>
		<th>Количество</th>
		<th>Цена</th>
		<th>Итого</th>
		<th>Скидка, %</th>
		<th></th>
	</tr>
	<% @items.each do |item| %>
	<tr>
		<td><%= item.product.scode %></td>
		<td>
			<% i = item.product.product_images.first %>
			<% if i %>
				<img src="<%= i.image.url %>">
			<% end %>
		</td>
		<td><%= item.product.name %></td>
		<td><%= item.size %><br><u><%= item.size_scode %></u></td>
		<td><%= item.color %><br><u><%= item.color_scode %></u></td>
		<td><%= item.option %><br><u><%= item.option_scode %></u></td>
		<td data-url="<%= order_order_item_path(@order, item) %>">
			<span onclick="orderItemMinus(this)" class="btn btn-<%= item.quantity == 1 ? 'default' : 'danger' %> quantity">-</span>
			<span><%= item.quantity %></span>
			<span onclick="orderItemPlus(this)" class="btn btn-success quantity">+</span></td>
		<td class="startPrice"><%= number_to_currency(item.price) %></td>
		<td class="endPrice"><%= number_to_currency(item.price*item.quantity) %></td>
		<td>
			<input type="text" class="form-control input-discount" onkeyup="orderItemDiscountSave(this, <%= item.id %>)" value="<%= item.discount %>">
		</td>
		<td><%= link_to("Удалить", order_order_item_path(@order, item), :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-danger') %></td>
	</tr>
	<% end %>
</table>

<h2 class="text-center" style="margin:15px 0">Дополнительные товары</h2>

<table class="table table-striped table-bordered text-center">
	<tr>
		<th>Название</th>
		<th>Цена</th>
		<th>Действие</th>
	</tr>
	<% for virt in @order.virtproducts %>
	<tr data-id="<%= virt.id %>">
		<td><input onkeyup='editVirtProduct(this)' name='text' type='text' value='<%= virt.text %>' class='form-control form-control-90'></td>
		<td><input onkeyup='editVirtProduct(this)' name='price' type='text' value='<%= virt.price %>' class='form-control form-control-90'></td>
		<td><div class='btn btn-danger' onclick='destroyVirtProduct(this)'>Удалить</div></td>
	</tr>
	<% end %>
	<tr>
		<td colspan="3"><div onclick="addVirtproduct(this)" class="btn btn-primary">Добавить товар</div></th>
	</tr>
</table>

<style type="text/css">
	body > .main > div {width: auto; padding: 20px 50px}
</style>