<div>
	<a onclick="if(event.target.nodeName=='BUTTON'){event.preventDefault()}" href="/kupit/<%= product.scode %>">
		<% if product.extension %>
			<img src="<%= product.extension.image %>" class='extension-catalog'>
		<% elsif $global_share %>
			<img src="<%= $global_extension.url :medium %>" class='extension-catalog'>
		<% end %>
		<% images = product.product_images.map{|i| i.image.block.url} %>
		<% price = product.price %>
		<% sizes = product.prsizes %>
		<% if sizes.any? %>
			<% size = sizes.first %>
			<% price += size.price %>
			<% if size %>
				<% colors = size.prcolors %>
				<% if colors.any? %>
					<% color = colors.first %>
					<% textures = color.textures %>
					<% price += color.price %>
					<% if textures.any? %>
						<% texture = textures.first %>
						<% price += texture.price %>
					<% end %>
				<% end %>
				<% options = size.proptions %>
				<% if options.any? %>
					<% option = options.first %>
					<% price += option.price %>
				<% end %>
			<% end %>
		<% end %>
		<% price = number_to_currency price %>
		<% if images.any? %>
			<% alt = "#{product.name}, цена #{price}" %>
			<div class="photoes">
				<% images.each_with_index do |i, index| %>
					<div<% if index == 0 %> class='showPhoto'<% end %>><img alt="<%= alt %>" src="<%= i %>"></div>
				<% end %>
			</div>
		<% end %>
		<div>
			<div class="name">
				<div class="product-name"><%= product.name %></div>
			</div>
		</div>
		<div class="articul"><%= product.s_title %></div>
		<div><%= raw product.shortdesk %></div>
		<div class="price-row">
			<b>Цена: </b>
			<span class="price"><%= price %></span>
		</div>
		<div class="appear">
			<% if size %>
				<div>
					<b>Размер: </b>
					<span class="size"><%= size.name %></span>
					<span class="hidden"><%= size.scode %></span>
				</div>
			<% end %>
			<% if texture %>
				<div>
					<b>Цвет: </b>
					<span class="color"><%= texture.name %></span>
					<span class="hidden"><%= texture.scode %></span>
				</div>
			<% elsif color %>
				<div>
					<b>Цвет: </b>
					<span class="color"><%= color.name %></span>
					<span class="hidden"><%= color.scode %></span>
				</div>
			<% end %>
			<% if option %>
				<div>
					<b>Опция: </b>
					<span class="option"><%= option.name %></span>
					<span class="hidden"><%= option.scode %></span>
				</div>
			<% end %>
			<div class="id hidden"><%= product.id %></div>
			<div class="scode hidden"><%= product.scode %></div>
			<div class="fancyButton" onclick="addToCartFromCatalog(this)">Купить</div>
		</div>
	</a>
</div>