<%= form_for @prsize do |f| %>
  <% if @prsize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prsize.errors.count, "error") %> prohibited this prsize from being saved:</h2>
      <ul>
        <% @prsize.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group treebox-group">
    <p>Принадлежит товару:</p>
    <div class="treebox">
      <% if @products.empty? %>
        <div class="button">
          <p>Нет товаров</p>
        </div>
      <% else %>
        <div class="button" onclick="treebox.show(this)">
          <p>
            <% if @prsize.product_id %>
              <%= @products.find{|r| r.id == @prsize.product_id}.name %>
            <% else %>
              Выбрать
            <% end %>
          </p><span class="caret"></span>
        </div>
        <ul>
          <% def treebox items
            ret = ''
            for item in items
              ret += "<li><div><span></span><p onclick='treebox.pick(this)' data-id='#{item.id}'>#{item.name}</p></div></li>"
            end
            ret
          end %>
          <%= raw treebox @products %>
        </ul>
        <% if params[:product_id].present? %>
          <%= f.hidden_field :product_id, value: params[:product_id] %>
        <% else %>
          <%= f.hidden_field :product_id %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <label>Название: <%= f.text_field :name %></label>
  <label>Код: <%= f.text_field :scode %></label>
  <label>Цена: <%= f.text_field :price %></label>
  <div class="buttons">
    <div>
      <% unless @prsize.id.nil? %>
        <%= link_to 'Вернутся на страницу товара', product_path(@prsize.product), class: 'btn btn-default' %>
      <% end %>
    </div>
    <%= f.submit 'Сохранить', class: "btn btn-success" %>
  </div>
<% end %>