<tr class='<%= cycle('light', 'dark') %>'>
	<td style="text-align: center"><%= prsize.name %></td>
	<td style="text-align: center"><%= number_to_currency(prsize.price) %></td>
	<td style="text-align: center">
		<%= link_to 'Удалить', prsize, :confirm => 'Вы уверены?', :method => :delete %> | 
		<%= link_to 'Редактировать', edit_prsize_path(prsize) %>
	</td>
</tr>