<script src="/assets/lightbox.min.js"></script>
<link href="/assets/lightbox.min.css" rel="stylesheet" />
<link href="/assets/products.css" rel="stylesheet" />
<div class="breadcrumbs">
	<a href="http://www.parra-shop.ru/">Главная</a>
	<span>></span>
	<% if params[:url].present?
		par = @category.parent
		while par %>
			<a href="http://www.parra-shop.ru/catalog/<%= par.url %>"><%= par.name %></a>
			<span>></span>
			<% par = par.parent
		end %>
		<% unless @category.header.blank? %>
		<img src='<%= @category.header %>'><span>/</span>
		<% end %>
		<h1 class="categoryLogo">
			<% if params[:url].present? %>
				<%= @category.name %>
			<% elsif params[:q].present? %>
				Поиск по запросу "<%= params[:q] %>"
			<% end %>
		</h1>
	<% else %>
		<span>Поиск по запросу "<%= params[:q] %>"</span>
	<% end %>
</div>
<div class="index">
	<% if params[:url].present? %>
		<% unless @category.images.blank? %>
			<div class="category-image">
				<div id="scrollArrow" onclick="scrollImage(this)"></div>
				<img src="<%= @category.images %>">
			</div>
		<% end %>
	<% end %>
	<% if (params[:url].present? and @category.subcategories.blank?) or params[:q].present? %>
		<%= render partial: 'filter', locals: {id: @category.id, color: false} %>
		<div id="products">
			<%= render partial: 'pages/product', collection: @products %>
		</div>
	<% elsif @category %>
		<div id="subcategories">
			<%= render partial: "subcategories/subcategory" , collection: @category.subcategories %>
		</div>
	<% else %>
		<div id="products"></div>
		<script type="text/javascript">
		productLoad = {}
		</script>
	<% end %>
	<% unless !params[:url].present? or @category.seo_text.blank? %>
		<div class="seo_text">
			<%= raw @category.seo_text %>
		</div>
	<% end %>
</div>
<link rel="stylesheet" type="text/css" href="/assets/slick.min.css">
<script type="text/javascript" src="/assets/slick.min.js"></script>
<script type="text/javascript">
	$('.photoes').slick();
</script>