<script src="/assets/lightbox.min.js"></script>
<link href="/assets/lightbox.min.css" rel="stylesheet" />
<div class="index">
	<div class="breadcrumbs">
		<a href="http://www.parra-shop.ru/">Главная</a>
		<span>></span>
		<% if params[:url].present?
		par = @category.parent
		while par %>
			<a href="http://www.parra-shop.ru/catalog/<%= par.url %>"><%= par.name %></a>
			<span>></span>
			<% par = par.parent
		end
		end %>
		<% unless @category.header.blank? %>
		<img src='<%= @category.header %>'><span>/</span>
		<% end %>
		<h1 class="categoryLogo">
			<% if params[:url].present? %>
				<%= @category.name %>
			<% elsif params[:q].present? %>
				Поиск по запросу "<%= params[:q] %>"
			<% end %>
		</h1>
	</div>
	<% if params[:url].present? %>
		<% unless @category.images.blank? %>
			<div class="category-images">
				<% for image in @category.images.split(',') %>
					<img src="<%= image %>">
				<% end %>
			</div>
		<% end %>
	<% end %>
	<% if (params[:url].present? and @category.subcategories.blank?) or params[:q].present? %>
		<div id="products">
			<%= render partial: 'pages/product', collection: @products %>
		</div>
	<% elsif @category %>
		<div id="subcategories">
			<%= render partial: "subcategories/subcategory" , collection: @category.subcategories %>
		</div>
	<% else %>
		<div id="products"></div>
		<script type="text/javascript">
		productLoad = {}
		</script>
	<% end %>
	<% unless !params[:url].present? or @category.seo_text.blank? %>
		<div class="seo_text">
			<%= raw @category.seo_text %>
		</div>
	<% end %>
</div>