<div class="category-image" style="background-image: url('/assets/bedroom.png')">
	<div><%= raw @cat.seo_text %></div>
</div>
<div id="breadcrumbs">
	<a href="/">Главная</a>
	<span>>></span>
	<p><%= @cat.name %></p>
</div>
<h1>
	<% parent_name = @categories.find{|r| r.id == @cat.parent_id}.name
	case parent_name
	when 'Спальни' %>
		Спальня
	<% when 'Гостинные' %>
		Гостинная
	<% else %>
		<%= parent_name %>
	<% end %>
	<%= @cat.name %>
</h1>
<div id="products"></div>
<script type="text/javascript">
	productLoad = {}
	<%= if params[:category_scode].present? || params[:url].present? then raw "productLoad.cat_id = '#{@cat.id}'" end %>
	<%= if params[:q].present? then raw "productLoad.q = '#{params[:q]}'" end %>
</script>