Здравствуйте, <%=h @order.first_name %> <%=h @order.last_name %>.<br/><br/>

Благодарим Вас за оформление заказа в интернет-магазине <%= link_to "www.parra-shop.ru", "http://www.parra-shop.ru" %><br/><br/>

Номер заказа: <%= @order.id%> от <%= @order.created_at.to_s[0,10] %><br/><br/>

<table border=0 bgcolor="#000000" cellspacing=1 cellpadding=4>
<tr>
<td bgcolor="#FFFFFF">Наименование</td><td bgcolor="#FFFFFF">Цена</td><td bgcolor="#FFFFFF">Количество</td><td bgcolor="#FFFFFF">Сумма</td>
</tr>
<% @order.order_items.each do |item| %>
<tr>
<td bgcolor="#FFFFFF">
	<%= item.product.name %>
	<% if(item.size) %>
		</br><%=h item.size%>	
	<% end %>
	<% if(item.color) %>
		</br><%=h item.color%>	
	<% end %>
	<% if(item.option) %>
		</br><%=h item.option%>	
	<% end %>
</td>
<td bgcolor="#FFFFFF"><%= item.price %> руб.</td>
<td bgcolor="#FFFFFF"><%= item.quantity %></td>
<td bgcolor="#FFFFFF"><%= item.total_price %> руб.</td>
<tr>
<% end %>
</table>

<br/><br/>Сумма заказа: <%= @order.total_price %> руб. (доставка не включена) <br/>

<br/>Информация о Вашем заказе принята.<br/>

Пожалуйста, ожидайте звонка от менеджера в ближайшее время для согласования времени и стоимости доставки.<br/><br/>

Мы внимательно контролируем исполнение заказов. <br/>
Будем рады ответить на любые Ваши вопросы по телефону или электронной почте.<br/><br/>

Возвращайтесь на <%= link_to "www.parra-shop.ru", "http://parra-shop.ru" %>!<br/><br/>


---<br/>
С уважением,<br/>
администрация сайта <%= link_to "www.parra-shop.ru", "http://www.parra-shop.ru" %><br/>
Тел: +7 (495) 728-20-90<br/>
e-mail: orders@parra-shop.ru<br/>


