<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if Category.count > 0 %>
  <p>
    <%= f.label :parent_id , "Родительская категория" %><br />
    <%= select_tag :parent_id, options_from_collection_for_select(Category.all, "id", "name"), params[:gender]), prompt: '' %>
  </p>
  <% end %>
  <p>
    <%= f.label :scode , "Код" %><br />
    <%= f.text_field :scode %>
  </p>
  <p>
    <%= f.label :name , "Название" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :s_title , "SEO title" %><br />
    <%= f.text_field :s_title %>
  </p>
  <p>
    <%= f.label :s_description , "SEO description" %><br />
    <%= f.text_field :s_description %>
  </p>
  <p>
    <%= f.label :s_keyword , "SEO keywords через запятую" %><br />
    <%= f.text_field :s_keyword %>
  </p>
  <p>
    <%= f.label :commission , "Наценка продавца" %><br />
    <%= f.text_field :commission %>
  </p>
  <p>
    <%= f.label :rate , "Наша наценка" %><br />
    <%= f.text_field :rate %>
  </p>

  <p>
    <%= f.label :description , "Описание" %><br />
  <%= f.cktext_area :description, :toolbar=>'Full', :language => 'ru'%>
  </p>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>