<%= tinymce_assets %>

<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if Category.count > 0 %>
  <p>
    <%= f.label :parent_id , "Родительская категория" %><br />
    <%= f.select :parent_id, options_from_collection_for_select(Category.all, "id", "name",if @category then @category.parent_id else 0 end), {:include_blank => true} %>
  </p>
  <% end %>
  <p>
    <%= f.label :scode , "Код" %><br />
    <%= f.text_field :scode %>
  </p>
  <p>
    <%= f.label :name , "Название" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :s_title , "SEO title" %><br />
    <%= f.text_field :s_title %>
  </p>
  <p>
    <%= f.label :s_description , "SEO description" %><br />
    <%= f.text_field :s_description %>
  </p>
  <p>
    <%= f.label :s_keyword , "SEO keywords через запятую" %><br />
    <%= f.text_field :s_keyword %>
  </p>
  <p>
    <%= f.label :commission , "Наценка продавца" %><br />
    <%= f.text_field :commission %>
  </p>
  <p>
    <%= f.label :rate , "Наша наценка" %><br />
    <%= f.text_field :rate %>
  </p>

  <div id="addImages" class="category_header">
    <input type="button" value="Добавить изображение в поле header">
    <div></div>
  </div>
  <%= f.hidden_field :header %>

  <div id="addImages" class="category_images">
    <input type="button" value="Добавить изображение в поле images">
    <div></div>
  </div>
  <%= f.hidden_field :images %>

  <p>
    <%= f.label :description , "Описание" %><br />
    <%= f.text_area :description, class: "tinymce" %>
  </p>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>

<%= tinymce %>