<%= form_for(@category) do |f| %>
<table class="table table-bordered table-striped">
  <% if @category.errors.any? %>
    <tr><td style="padding: 15px 30px 0 20px">
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    </td></tr>
  <% end %>

  <% if Category.count > 0
  @cats = Category.all.order :position %>
  <tr><td style="padding: 15px 30px 0 20px">
  <div class="row form-group">
    <h4 class="col-md-3 text-right"><%= f.label :parent_id, "Родительская категория:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-9">
      <div class="wrath-content-box" style="padding:0 15px">
        <div class="treebox">
          <% parent = @cats.find{|c| c if c.id == @category.parent_id} %>
          <p class="choose" onclick="catDropDown(this)"><%= if parent.nil? then 'Корневая категория' else parent.name end %></p>
          <span class="arrow"></span>
          <div class="windows">
            <% def drawTree(cats, parent_id)
              ret = ''
              for cat in cats
                children = getCatChildren cat
                if children.size == 0
                  ret += "<div class='cat'><p class='#{'choosed ' if cat.id == parent_id}enable' onclick='chooseCatParent(this, #{cat.id})'>#{cat.name}</p></div>"
                else
                  ret += "<div class='cat'><p class='#{'choosed ' if cat.id == parent_id}enable' onclick='chooseCatParent(this, #{cat.id})'>#{cat.name}</p><span class='arrow'></span><div class='wrap'>#{drawTree(children, parent_id)}</div></div>"
                end
              end
              ret
            end %>
            <%= raw drawTree @cats.find_all{|cat| cat unless cat.parent_id}, if parent then parent.id else 0 end %>
          </div>
          <%= f.hidden_field :parent_id %>
        </div>
      </div>
    </div>
  </div>
  </td></tr>
  <% end %>
  <tr><td style="padding: 15px 100px 0 20px">
  <div class="row form-group">
    <h4 class="col-md-1 text-right"><%= f.label :scode, "Код:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :scode, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right" style="margin-left:-15px"><%= f.label :name, "Название", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2" style="margin-right:15px">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :name, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><nobr><%= f.label :commission, "Наценка продавца", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :commission, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><%= f.label :rate, "Наша наценка", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :rate, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
  </div>
  <div class="row form-group">
  <h4 class="col-md-1 text-right"><nobr><%= f.label :s_title, "SEO title", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :s_title, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><%= f.label :s_description, "SEO description", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :s_description, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-4 text-right"><nobr><%= f.label :s_keyword, "SEO keywords через запятую", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :s_keyword, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>    
  </div>
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><nobr><%= f.label :url, "Краткий url", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :url, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
  </div>
  </td></tr>
  <tr><td style="padding: 15px 30px 0 20px">
  <div class="row form-group">
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Отображать на главной странице</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "main", {}, "true", "false")%>
      </div>
    </div>
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Отображать на панели скидки</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "action", {}, "true", "false")%>
      </div>
    </div>
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Отображать на панели Хиты продаж</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "best", {}, "true", "false")%>
      </div>
    </div>
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Сделать Невидимым</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "invisible", {}, "true", "false")%>
      </div>
    </div>    
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Сделать Разделителем</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "delemiter", {}, "true", "false")%>
      </div>
    </div>
  </div>
  </td></tr>
  <tr><td style="padding: 15px 30px 15px 20px">

  <div class="text-center col-md-6">
    <div id="addImages" class="category_header">
      <% if @category.header %>
      <h4>Изображение в поле header</h4>
      <div>
        <div>
          <img class="img-thumbnail" src="<%= @category.header %>">
          <small class="btn btn-warning" onclick="deleteImageHeader(this)">Удалить</small>
        </div>
      </div>
      <% else %>
        <input onclick="addImageClick(this)" type="button" value="Добавить изображение в поле header" class="btn btn-primary">
        <div></div>
      <% end %>
    </div>
    <%= f.hidden_field :header, class: 'one' %>
  </div>

  <div class="text-center col-md-6">
    <div id="addImages" class="category_images">
      <input type="button" value="Добавить изображение в поле images" class="btn btn-primary">
      <div>
        <% if @category.images then @category.images.split(',').each do |i| %>
          <div>
            <img class="img-thumbnail" src="<%= i %>">
            <small class="btn btn-warning" onclick="deleteImage(this)">Удалить</small>
          </div>
        <% end end %>
      </div>
    </div>
    <%= f.hidden_field :images %>
  </div>

  </td></tr>
  <tr><td style="padding:10px 30px 0 0">
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><nobr><%= f.label :description, "Описание:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    <div class="col-md-10">
      <%= f.text_area :description, class: "tinymce", :rows => 12, :cols => 120 %>
    </div>
  </div>
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><nobr><%= f.label :seo_text, "SEO текст:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    <div class="col-md-10">
      <%= f.text_area :seo_text, class: "tinymce", :rows => 12, :cols => 120 %>
    </div>
  </div>
  </td></tr>
  </table>
  <br><br><br>
  <table class="table table-striped text-center fixed-buttons">
    <tr>
      <td>
        <div class="absolute">
          <% unless @category.id.nil? %>
            <%= link_to 'Показать', @category, class: 'btn btn-default' %>
            <%= link_to 'Создать новую', new_category_path, class: 'btn btn-default' %>
          <% end %>
            <%= link_to 'Список категорий', categories_path, class: 'btn btn-default' %>
          </div>
        <%= f.submit 'Сохранить', onclick: 'return categoryValidate()', class: "btn btn-success" %>
      </td>
    </tr>
  </table>
<% end %>
<%= tinymce %>