<%= form_for(@category, {data: {cat: @category.id}}) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group">
    <p>Родительская категория:</p>
    <div class="treebox">
      <% if @categories.empty? %>
        <div class="button">
          <p>Корневая запись</p>
        </div>
      <% else %>
        <div class="button" onclick="treebox.show(this)">
          <p>
            <% if @category.parent_id %>
              <%= @categories.find{|r| r.id == @category.parent_id}.name %>
            <% else %>
              Выбрать
            <% end %>
          </p><span class="caret"></span>
        </div>
        <ul>
          <% def treebox items
            ret = ''
            for item in items
              children = @categories.find_all{|r| r.parent_id == item.id}
              if children.empty?
                ret += "<li><div><span></span><p onclick='treebox.pick(this)' data-id='#{item.id}'>#{item.name}</p></div></li>"
              else
                ret += "<li><div><span class='icon-arrow-down' onclick='treebox.open(this)'></span><p onclick='treebox.pick(this)' data-id='#{item.id}'>#{item.name}</p></div><ul>#{treebox children}</ul></li>"
              end
            end
            ret
          end %>
          <%= raw treebox @categories.find_all{|r| !r.parent_id} %>
        </ul>
        <% if params[:parent_id].present? %>
          <%= f.hidden_field :parent_id, value: params[:parent_id] %>
        <% else %>
          <%= f.hidden_field :parent_id %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="half">
    <label>Код: <%= f.text_field :scode %></label>
    <label>Название: <%= f.text_field :name %></label>
    <label>Наценка продавца: <%= f.text_field :commission %></label>
    <label>Наша наценка: <%= f.text_field :rate %></label>
    <label class="checkbox">
      <%= f.check_box :menu %> Отображать в меню
    </label>
  </div>
  <div class="half">
    <label>SEO title: <%= f.text_field :s_title %></label>
    <label>SEO description: <%= f.text_field :s_description %></label>
    <label>SEO keywords через запятую: <%= f.text_field :s_keyword %></label>
    <label>Краткий url: <%= f.text_field :url %></label>
  </div>
  <br>
  <br>
  <div class="addImage">
    <% unless @category.header.blank? %>
      <p onclick="addImageButton(this)" class="btn btn-danger">Удалить</p>
      <img src="<%= @category.header %>">
    <% else %>
      <p onclick="addImageButton(this)" class="btn btn-primary">Добавить изображение в поле header</p>
    <% end %>
    <%= f.hidden_field :header %>
  </div>
  <br>
  <br>
  <div class="addImages">
    <p onclick="addImageButton(this)" class="btn btn-primary">Добавить изображение в поле images</p>
    <% unless @category.images.blank? %>
      <% for image in @category.images.split ',' %>
        <img src="<%= image %>">
        <p class='btn btn-danger' onclick='imagesDeleteExist(this)'>Удалить</p>
      <% end %>
    <% end %>
    <%= f.hidden_field :images %>
  </div>
  <br>
  <div class="editor">
    <p>Описание</p>
    <%= f.text_area :description, class: "tinymce", :rows => 12, :cols => 120 %>
  </div>
  <div class="editor">
    <p>SEO текст</p>
    <%= f.text_area :seo_text, class: "tinymce", :rows => 12, :cols => 120 %>
  </div>
  <div class="buttons">
    <div>
      <% unless @category.id.nil? %>
        <%= link_to 'Показать', @category, class: 'btn btn-default' %>
        <%= link_to 'Создать новую', new_category_path, class: 'btn btn-default' %>
      <% end %>
      <%= link_to 'Список категорий', categories_path, class: 'btn btn-default' %>
    </div>
    <%= f.submit 'Сохранить', onclick: 'return categoryValidate()', class: "btn btn-success" %>
  </div>
<% end %>
<%= tinymce %>