<div>
<h1 class="text-center" style="margin:15px 0">Категория</h1>
<table class="table table-striped table-bordered text-center">
	<tr>
		<th>Название</th>
		<th>Родительская категория</th>
		<th>Описание</th>
	</tr>
	<tr>
		<td><%= @category.name %></td>
		<td><%= @category.parent.nil? ? "": @category.parent.name %></td>
		<td><%= sanitize(@category.description) %></td>
	</tr>
	<tr>
		<td colspan="3">
			<%= link_to 'Редактировать', edit_category_path(@category), class: 'btn btn-warning' %>
			<%= link_to 'Удалить', @category, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-danger' %>
			<%= link_to 'Открыть', '/catalog/index?category_scode='+@category.scode, class: 'btn btn-info' %>
			<%= link_to 'Список категорий', categories_path, class: 'btn btn-primary' %>
			<div class="treebox ib">
		        <p class="btn btn-success" onclick="catDropDown(this)">Перенести продукты</p>
		        <div class="windows">
		        	<% for cat in Subcategory.all %>
		          		<div class='cat'><p class='enable' onclick='copyCatProducts(this, <%= cat.id %>, <%= @category.id %>)'><%= cat.name %></p></div>
		          	<% end %>
        		</div>
        	</div>	
		</td>
	</tr>
</table>
<h1 class="text-center" style="margin:15px 0">Подкатегории (<%= @category.subcategories.count %>)</h1>
<div class="text-center" style="margin-bottom:15px">
<%= link_to('Создать новую подкатегорию', "/categories/#{@category.id}/subcategories/new", class: 'btn btn-success' )%>
</div>
<div id="subcategories">
	<%= render partial: "subcategories/subcategory" , collection: @category.subcategories %>
</div>
<h1 class="text-center" style="margin:15px 0">Список продуктов (<%= @category.products.count %>)</h1>
<div class="text-center" style="margin-bottom:15px">
<%= link_to('Создать новый продукт', { :controller => :products, :action => :new , :category_id => @category.id }, class: 'btn btn-success' )%>
</div>
<ul id="productsSortable" class="text-center">
	<%= render(:partial => "products/product" , :collection => @products) %>
</ul>
</div>