<%= tinymce_assets %>

<%= form_for(@product) do |f| %>
 <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><%= f.label :category_id, "Категория:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-10">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name", if @product then @product.category_id else 1 end), {}, {class: "form-control"} %>
      </div>
    </div>
    <% for category in Category.find(:all) %>
      <div class="col-md-offset-2 col-md-10 wrath-content-box" style="padding:0 15px">
    		<%= check_box_tag "product[category_ids][]", category.id, @product.categories.include?(category) %>
    		<%= category.name %>
      </div>
    <% end %>
  </div>
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><%= f.label :scode, "Код:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-10">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :scode, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><%= f.label :name, "Название", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :name, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><%= f.label :price, "Цена", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :price, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <h4 class="col-md-2 text-right"><%= f.label :position, "Порядковый номер", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :position, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
  </div>
  <div class="row form-group">
  <h4 class="col-md-2 text-right"><%= f.label :s_title, "SEO title", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :s_title, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><%= f.label :s_description, "SEO description", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :s_description, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><%= f.label :s_keyword, "SEO keywords через запятую", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :s_keyword, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>    
  </div>
  <div class="row form-group">
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Отображать на главной странице</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "main", {}, "true", "false")%>
      </div>
    </div>
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Отображать на панели скидки</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "action", {}, "true", "false")%>
      </div>
    </div>
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Отображать на панели Хиты продаж</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "best", {}, "true", "false")%>
      </div>
    </div>
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Сделать Невидимым</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "invisible", {}, "true", "false")%>
      </div>
    </div>    
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Сделать Разделителем</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "delemiter", {}, "true", "false")%>
      </div>
    </div>
  </div>

  <% if @product.images %>
    <ul class="images">
    <% @product.images.split(',').each do |i| %>
      <li>
        <a href="<%= i %>" data-lightbox="image" title="<%= @product.name %>"><img src="<%= i %>"></a>
        <p onclick="deleteImage(this)">Удалить</p>
      </li>
    <% end %>
    </ul>
  <% end %>

  <div class="text-center" style="margin-bottom: 20px">
  <div id="addImages" class="product_images">
    <input type="button" value="Добавить изображение" class="btn btn-primary">
    <div></div>
  </div>
  <%= f.hidden_field :images %>
  </div>
  
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><%= f.label :shortdesk, "Краткое описание:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-10">
      <%= f.text_area :shortdesk, class: "tinymce", :rows => 12, :cols => 120 %>
    </div>
  </div>
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><%= f.label :description, "Описание:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-10">
      <%= f.text_area :description, class: "tinymce", :rows => 12, :cols => 120 %>
    </div>
  </div>
  <div class="text-center" style="margin: 30px 0">
    <%= f.submit 'Сохранить', class: "btn btn-success" %>
  </div>
<% end %>

<%= tinymce %>