<%= form_for(@product) do |f| %>
<table class="table table-bordered table-striped">
<tr><td style="padding: 15px 30px 0 20px">
 <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><%= f.label :category_id, "Категория:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-10">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name", if @product then @product.category_id else 1 end), {}, {class: "form-control"} %>
      </div>
    </div>
  </div>
  <div class="row form-group" style="padding-left: 100px">
    <% for category in Category.all %>
      <div class="col-md-2">
    		<%= check_box_tag "product[category_ids][]", category.id, @product.categories.include?(category) %>
    		<%= category.name %>
      </div>
    <% end %>
  </div>
  </td></tr>
  <tr><td style="padding: 15px 100px 0 20px">  
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><%= f.label :name, "Название", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :name, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><%= f.label :s_description, "SEO description", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :s_description, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><%= f.label :s_keyword, "SEO keywords через запятую", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :s_keyword, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
  </div>
  <div class="row form-group">
  <h4 class="col-md-2 text-right"><%= f.label :s_title, "Код", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :s_title, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><%= f.label :seo_title2, "SEO title 2", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :seo_title2, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-3 text-right"><%= f.label :position, "Порядковый номер", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :position, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>     
  </div>
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><%= f.label :price, "Цена", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :price, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><%= f.label :scode, "SCode:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-2">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :scode, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
    <h4 class="col-md-2 text-right"><%= f.label :old_price, "Старая цена", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px">
        <%= f.text_field :old_price, {class: 'form-control', style: 'padding-top:0;padding-bottom:0'} %>
      </div>
    </div>
  </div>
  </td></tr>
  <tr><td style="padding: 15px 30px 0 20px">
  <div class="row form-group">
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Отображать на главной странице</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "main", {}, "true", "false")%>
      </div>
    </div>
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Отображать на панели скидки</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "action", {}, "true", "false")%>
      </div>
    </div>
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Отображать на панели Хиты продаж</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "best", {}, "true", "false")%>
      </div>
    </div>
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Сделать Невидимым</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "invisible", {}, "true", "false")%>
      </div>
    </div>    
    <h4 class="col-md-3 text-right"><div class="wrath-content-box" style="padding:0 15px">Сделать Разделителем</div></h4>
    <div class="col-md-1">
      <div class="wrath-content-box" style="padding:0 15px;line-height:39px">
        <%=check_box("product", "delemiter", {}, "true", "false")%>
      </div>
    </div>
  </div>

  </td></tr>
  <tr><td style="padding: 15px 100px 15px 20px">

  <div class="text-center">
    <div id="addImages" class="product_images">
      <input type="button" value="Добавить изображение" class="btn btn-primary">
      <div class="productImages">
        <% if @product.images then @product.images.split(',').each do |i| %>
          <div>
            <img class="img-thumbnail" src="<%= i %>">
            <small class="btn btn-warning" onclick="deleteImage(this)">Удалить</small>
          </div>
        <% end end %>
      </div>
    </div>
    <%= f.hidden_field :images %>
  </div>
  
  </td></tr>
  <tr><td style="padding-right:30px">
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><nobr><%= f.label :shortdesk, "Краткое описание:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    <div class="col-md-10">
      <%= f.text_area :shortdesk, class: "tinymce", :rows => 12, :cols => 120 %>
    </div>
  </div>
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><%= f.label :description, "Описание:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-10">
      <%= f.text_area :description, class: "tinymce", :rows => 12, :cols => 120 %>
    </div>
  </div>
  <div class="row form-group">
    <h4 class="col-md-2 text-right"><%= f.label :seo_text, "SEO текст:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    <div class="col-md-10">
      <%= f.text_area :seo_text, class: "tinymce", :rows => 12, :cols => 120 %>
    </div>
  </div>
  </td></tr>
</table>
<br><br><br>
<table class="table table-striped fixed-buttons text-center">

<tr><td>
<div class="absolute">
  <% unless @product.scode.nil? %>
    <%= link_to 'Показать', '/kupit/'+@product.scode, class: 'btn btn-default' %>
    <%= link_to 'Создать новый', '/products/new', class: 'btn btn-default' %>
  <% end %>
  <%= link_to 'Список Продуктов', if(@product.category) then @product.category else products_path end, class: 'btn btn-default' %>
</div>
<%= f.submit 'Сохранить', class: "btn btn-success" %>
</td></tr>

</table>
<% end %>
<%= tinymce %>