<%= form_for(@product, {data: {product: @product.id}}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group treebox-group">
    <p>Родительская категория:</p>
    <div class="treebox">
      <% if @categories.empty? %>
        <div class="button">
          <p>Основная запись</p>
        </div>
      <% else %>
        <div class="button" onclick="treebox.show(this)">
          <p>
            <% if @product.category_id %>
              <%= @categories.find{|r| r.id == @product.category_id}.name %>
            <% else %>
              Выбрать
            <% end %>
          </p><span class="caret"></span>
        </div>
        <ul>
          <% def treebox items
            ret = ''
            for item in items
              children = @categories.find_all{|r| r.parent_id == item.id}
              if children.empty?
                ret += "<li><div><span></span><p onclick='treebox.pick(this)' data-id='#{item.id}'>#{item.name}</p></div></li>"
              else
                ret += "<li><div><span class='icon-arrow-down' onclick='treebox.open(this)'></span><p onclick='treebox.pick(this)' data-id='#{item.id}'>#{item.name}</p></div><ul>#{treebox children}</ul></li>"
              end
            end
            ret
          end %>
          <%= raw treebox @categories.find_all{|r| !r.parent_id} %>
        </ul>
        <% if params[:category_id].present? %>
          <%= f.hidden_field :category_id, value: params[:category_id] %>
        <% else %>
          <%= f.hidden_field :category_id %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="checkboxes">
    <h3>Дополнительные категории</h3>
    <div>
    <% for category in @categories %>
      <label>
    		<%= check_box_tag "product[category_ids][]", category.id, @product.categories.include?(category) %>
    		<%= category.name %>
      </label>
    <% end %>
    </div>
  </div>
  <br><br><br>
  <div class="half">
    <label>Название: <%= f.text_field :name %></label>
    <label>Код: <%= f.text_field :scode %></label>
    <label>Цена: <%= f.text_field :price %></label>
    <label>Старая цена: <%= f.text_field :old_price %></label>
    <label>Позиция: <%= f.text_field :position %></label>
    <label class="checkbox">
      <%= check_box("product", "invisible", {}, "true", "false") %> Сделать Невидимым
    </label>
    <label class="checkbox">
      <%= check_box("product", "delemiter", {}, "true", "false") %> Сделать Разделителем
    </label>
  </div>
  <div class="half">
    <label>Артикул: <%= f.text_field :article %></label>
    <label>SEO title: <%= f.text_field :s_title %></label>
    <label>SEO title 2: <%= f.text_field :seo_title2 %></label>
    <label>SEO description: <%= f.text_field :s_description %></label>
    <label>SEO keywords через запятую: <%= f.text_field :s_keyword %></label>
    <label class="checkbox">
      <%= check_box("product", "main", {}, "true", "false") %> Отображать на главной странице
    </label>
    <label class="checkbox">
      <%= check_box("product", "action", {}, "true", "false") %> Отображать на панели скидки
    </label>
    <label class="checkbox">
      <%= check_box("product", "best", {}, "true", "false") %> Отображать на панели Хиты продаж
    </label>
  </div>
  <br><br><br>
  <div class="addImages">
    <p onclick="addImageButton(this)" class="btn btn-primary">Добавить изображение в поле images</p>
    <% unless @product.images.blank? %>
      <% for image in @product.images.split ',' %>
        <img src="<%= image %>">
        <p class='btn btn-danger' onclick='imagesDeleteExist(this)'>Удалить</p>
      <% end %>
    <% end %>
    <%= f.hidden_field :images %>
  </div>
  <br>
  <div class="editor">
    <p>Короткое описание</p>
    <%= f.text_area :shortdesk, class: "tinymce", :rows => 12, :cols => 120 %>
  </div>
  <div class="editor">
    <p>Описание</p>
    <%= f.text_area :description, class: "tinymce", :rows => 12, :cols => 120 %>
  </div>
  <div class="editor">
    <p>SEO текст</p>
    <%= f.text_area :seo_text, class: "tinymce", :rows => 12, :cols => 120 %>
  </div>
  <div class="buttons">
    <div>
      <% unless @product.id.nil? %>
        <%= link_to 'Показать', @product, class: 'btn btn-default' %>
        <%= link_to 'Создать новую', new_category_path, class: 'btn btn-default' %>
      <% end %>
      <%= link_to 'Список категорий', categories_path, class: 'btn btn-default' %>
    </div>
    <%= f.submit 'Сохранить', class: "btn btn-success" %>
  </div>
<% end %>
<%= tinymce %>