<div>
    <% if productCatalog.images %>
		<% img = 0 %>
    	<% images = productCatalog.images.split(',') %>
        <a href="<%= images[0] %>" data-lightbox="<%= productCatalog.name %>" title="<%= productCatalog.name %>"><img src="<%= images[0] %>"></a>
        <div class="hidden">
        	<%  images.drop(1).each do |i| %>
        		<a href="<%= i %>" data-lightbox="<%= productCatalog.name %>" title="<%= productCatalog.name %>"><img src="<%= i %>"></a>
        	<% end %>
        </div>
    <% end %>
    <div><h3><%= link_to productCatalog.name, "/kupit/" + productCatalog.scode %></h3></div>
    <div><%= productCatalog.s_title %></div>
    <div><%= sanitize(productCatalog.shortdesk) %></div>
    <div><b>Цена:</b> <%= number_to_currency(productCatalog.price) %></div>
</div>
