<% if product.delemiter?  && del != 'false' %>
<div style="margin-bottom:10px;" id='product_<%= product.id %>'>
		<table  border="0" cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td valign="center" style="padding-left:10px;font-size:14px;background-color: #B5CEDC;width:100%;height:25px;"><b><%=product.name %></b></td>
			</tr>
			<% if current_user && current_user.admin? %>
				<tr>
					<td valign="right"><%= link_to 'show', "/kupit/" + product.scode %> <%= link_to 'edit', edit_product_path(product) %> <%= link_to 'del', product, :confirm => 'Вы уверены?', :method => :delete %><b> №<%=product.position%></b></td>
				</tr>
			<% end %>
		</table>
<% else %>
<div id='product_<%= product.id %>'>
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan="2">
				<%= link_to product.name, "/kupit/" + product.scode, class: 'btn btn-default' %>
				<% if current_user && current_user.admin? %>
					<%= link_to 'edit', edit_product_path(product), class: 'btn btn-warning' %>
					<%= link_to 'del', product, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-danger' %>
					<% if defined? color %>
					<form style="float:left">Позиция: <input class="form-control" style="width:50px;display:inline" type='text' value='<%= product.color_position %>' name='position'><input type="hidden" name='product_id' value='<%= product.id %>'><label class='btn btn-success'>Сохранить<input style="display:none" type="submit"></label></form>
					<% else %>
					<a style="float:left" class="btn btn-info">№<%=product.position%></a>
					<% end %>
					<%if product.invisible? %><a style="float:left" class="btn btn-danger">Невидимый</span><% end %>
				<% end %>
			</th>
		</tr>
		<tr>
			<td>
				<% if i = product.product_images.take %>
					<img src="<%= i.image.url %>">
				<% end %>
			</td>
			<td style="padding-left:10px;" align="left"><%= sanitize(product.shortdesk) %><br></td>
		</tr>
		<tr>
			<td colspan="2" style="padding-left:10px;">
				<span style="font-size:16px;"><b><%= number_to_currency(product.price) %></b></span>				
			</td>
		</tr>
	</table>
</div>
<% end %>