<% if @product.scode != productFooter.scode
price = number_to_currency productFooter.price %>
<div>
	<div>
		<% if productFooter.extension %>
			<img src="<%= productFooter.extension.image %>" class='extension-footer'>
		<% end %>
		<% images = productFooter.product_images.map{|i| i.image.url} %>
		<% if images.any?
			alt = "#{productFooter.name}, цена #{price}" %>
		    <div class="left inactive"></div>
	        <% if images[1] %>
	        <div class="right" onclick="photoRight(this)"></div>
	        <% else %>
	        <div class="right inactive"></div>
	        <% end %>       
	        <div class="photoes">
	            <a class="showPhoto" href="/kupit/<%= productFooter.scode %>"><img alt="<%= alt %>" src="<%= images[0] %>"></a>
	        	<% images.drop(1).each do |i| %>
	        		<a href="/kupit/<%= productFooter.scode %>"><img alt="<%= alt %>" src="<%= i %>"></a>
	        	<% end %>
	        </div>
		<% end %>
	</div>
	<div><a href="/kupit/<%= productFooter.scode %>"><%= productFooter.name %></a></div>
	<div><b>Цена:</b> <span class="price"><%= price %></span></div>
	<div class="appear">
		<% prsize = productFooter.prsizes[0] %>
        <% if prsize %>
            <div><b>Размер:</b> <span class="size"><%= prsize.name %></span></div>
            <% prcolor = prsize.prcolors[0] %>
            <% if prcolor %>
            	<% texture = prcolor.textures[0] %>
            	<% if texture %>
            		<div><b>Цвет:</b> <span class="color"><%= texture.name %></span></div>
            	<% else %>
            		<div><b>Цвет:</b> <span class="color"><%= prcolor.name %></span></div>
            	<% end %>
            <% end %>
            <% proption = prsize %>
            <% if proption %>
            	<div><b>Опция:</b> <span class="option"><%= proption.name %></span></div>
            <% end %>
        <% end %>
        <div class="id hidden"><%= productFooter.id %></div>
        <div class="scode hidden"><%= productFooter.scode %></div>
        <div class="fancyButton" onclick="addToCartFromCatalog('<%= productFooter.name %>', this)">Купить</div>
    </div>
</div>
<% end %>