<div>
	<div>
		<% if productFooter.images %>
			<% images = productFooter.images.split(',') %>
		    <a href="<%= images[0] %>" data-lightbox="<% productFooter.name %>" title="<% productFooter.name %>"><img src="<%= images[0] %>"></a>
		    <div class="hidden">
		    	<%  images.drop(1).each do |i| %>
		    		<a href="<%= i %>" data-lightbox="<% productFooter.name %>" title="<% productFooter.name %>"><img src="<%= i %>"></a>
		    	<% end %>
		    </div>
		<% end %>
	</div>
	<p><%= link_to productFooter.name, "/kupit/" + productFooter.scode %></p>
	<p>Цена: <%= number_to_currency(productFooter.price) %></p>
</div>