<p><%= @product.name %></p>
<p><%= @product.scode %></p>
<p><%= @product.shortdesk %></p>
<p><%= @product.price %></p>
<br>
<input type="button" onclick="addToCart('<%= @product.name %>','<%= @product.price %>')" value="Купить">