<% sizes_exist = !@product.prsizes.blank?
sizes = @product.prsizes
size_first = @product.prsizes.first %>
<div class="show page">
	<div class="breadcrumbs" style="margin: 10px">
		<a href="http://www.parra-shop.ru">Главная</a>
		<span>></span>
		<% if @product.category %>
			<% par = @product.category.parent
			while par %>
				<a href="http://www.parra-shop.ru/catalog/<%= par.url %>"><%= par.name %></a>
				<span>></span>
				<% par = par.parent
			end %>
			<a href="http://www.parra-shop.ru/catalog/<%= @product.category.url %>"><%= @product.category.name %></a>
			<span>></span>
		<% end %>
		<p><%= @product.name %></p>
	</div>
	<div class="page-title"><% if @product.category and !@product.category.header.blank? %><img src='<%= @product.category.header %>'> / <% end %><%= if @product.category then @product.category.name else @product.subcategory.name end %></div>
	<div class="main">
		<div>
			<% if @product.extension %>
				<img class='extension-show' src="<%= @product.extension.image %>">
			<% end %>
			<% unless @product.images.empty? %>
				<% images = @product.images.split(',') %>
				<div class="photoes">
			    	<a class="active" href="<%= images[0] %>" data-lightbox="images"><img src="<%= images[0] %>"></a>
		    		<% images[1..-1].each do |i| %>
		    			<a href="<%= i %>" data-lightbox="images"><img src="<%= i %>"></a>
		    		<% end %>
				</div>
				<div class="mini">
					<div class="prev" onclick="productMiniPrev(this)"></div>
					<div class="wrap">
						<div onclick="choosePhoto(this)" class="active" style="background-image: url('<%= images[0] %>')"></div>
						<% images[1..-1].each do |i| %>
				    		<div onclick="choosePhoto(this)" style="background-image: url('<%= i %>')"></div>
				    	<% end %>
					</div>
					<div class="next" onclick="productMiniNext(this)"></div>
				</div>
			<% end %>
		</div>
		<div class="productContent">
			<h1><%= @product.name %></h1>
			<div class="product-description">
			<%= raw @product.description.gsub('&nbsp;', '') %>
			</div>
			
			<% if !@product.prsizes.blank? %>
				<div>
					<a onclick="option(this)">Выбрать размер:<img src="/assets/optionArrow.png"></a>
					<div class="option">
						<% first = true %>
						<% for prsize in @product.prsizes %>
							<label onchange="priceChange(this)">
								<input data-old-price='<%= prsize.old_price %>' class="size-scode-<%= prsize.scode %>" value="<%= prsize.price %>" type="radio" name="prsizes"<% if first %><%= first = false; ' checked="checked"' %><% end %>/>
								<span><%= prsize.name %></span>
								<span class="hidden"><%= prsize.scode %></span>
							</label>
						<% end %>
					</div>
				</div>
				<% active = true %>
				<% first_color = true %>
				<% first_option = true %>
				<div class="prsize-wrap">
					<% for prsize in @product.prsizes %>
						<div class="<% if active %><%= active = false; ' active' %><% end %>" onchange="priceChange()">
							<% if !prsize.prcolors.blank? %>
								<div>
									<a onclick="option(this)">Выбрать цвет:<img src="/assets/optionArrow.png"></a>
									<div class="option">
										<% for prcolor in prsize.prcolors %>
											<% if prcolor.textures.blank? %>
												<label class="color" data-color="<%= prcolor.name %>">
													<input class="color-scode-<%= prcolor.scode %>" value="<%= prcolor.price %>" type="radio" name="prcolors"<% if first_color %><%= first_color = false; " checked=checked" %><% end %>>
													<a href="<%= prcolor.images %>" data-lightbox="<%= prcolor.name %>" title="<%= prcolor.name %>"><img src="<%= prcolor.images %>"></a>
													<span><%= sanitize(prcolor.description) %></span>
												</label>
											<% else %>
												<div class="catalog">
													<div class="header">
														<div class="heading" style="background-image: url('<%= prcolor.images %>') !important"><p>Каталог тканей</p><p><%= prcolor.name %></p></div>
														<div class="fancyButton" onclick="texturesWatch(this)">Выбрать</div>
													</div>
													<div class="textures" style="height:0">
														<% for t in prcolor.textures %>
															<label>
																<p class="hidden"><%= t.scode %></p>
																<p><%= t.scode %> <%= t.name %></p>
																<a href="<%= t.image %>" data-lightbox="<%= prcolor.name %>" title="<%= t.scode %> <%= t.name %>"><img src="<%= t.image %>"></a>
																<input class="texture-scode-<%= t.scode %>" type="radio" name="prcolors" value="<%= t.price + prcolor.price %>"<% if first %><%= first = false; ' checked="checked"' %><% end %>>
															</label>
														<% end %>
													</div>
												</div>
											<% end %>
										<% end %>
									</div>
								</div>
							<% end %>
							<% if !prsize.proptions.blank? %>
								<div>
									<a onclick="option(this)">Выбрать опции:<img src="/assets/optionArrow.png"></a>
									<div class="option">
										<label>
											<input value="0" type="radio" name="proptions"<% if first_option %><%= first_option = false; ' checked="checked"' %><% end %>>
											<span>Без опций</span>
											<span class="hidden">Без опций</span>
										</label>
										<% for proption in prsize.proptions %>
											<label>
												<input class="option-scode-<%= proption.scode %>" value="<%= proption.price %>" type="radio" name="proptions" />
												<span><%= proption.name %></span>
												<span class="hidden"><%= proption.scode %></span>
											</label>						
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
			<div id="choosedChars" class="open">
				<div class="choosed-options">Выбранные опции:</div>
				<p class="size">Размер: <b></b></p>
				<p class="color">Цвет: <b></b></p>
				<p class="opt">Опция: <b></b></p>
			</div>
			<div class="price">
				<div class="price-block">
					<p class="old_price">Цена: <strike id='oldPrice' data-val='<%= @product.old_price %>'></strike> <img src="/assets/rublGray.png"></p>
					<p class="main">
						<b id="summaryPrice"><%= to_money @product.price %></b> <img src="/assets/rubl.png">
					</p>
					<p class="difference">Вы экономите: <span id='pricesDifference'></span> <img src="/assets/rublGray.png"></p>
				</div>
				<div class="buyButton" onclick="addToCart('<%= @product.name %>', this)">Купить</div>
				<p style="font-size: 14px; margin: 37px 0 20px"><b>Мы принимаем к оплате:</b></p>
				<img src="/assets/grayCards.png">
				<p style="font-size: 12px; font-weight: normal; margin-top: 18px">*Держатели банковских карт перечисленных систем могут расплатиться ими в наших фирменных салонах-магазинах.</p>
				<%= hidden_field_tag :product_id_field, @product.id %>
				<%= hidden_field_tag :product_scode, @product.scode %>
			</div>
		</div>
	</div>
	<% if current_user && current_user.admin? %>
		<% @products = Product.order :position
		@prsizes = Prsize.all %>
		<div id="admin-product">
			<div>
				<%= link_to 'Редактировать', edit_product_path(@product), class: 'btn btn-warning' %>
				<%= link_to 'Удалить', @product, 'data-confirm' => 'Вы уверены?', method: :delete, class: 'btn btn-danger' %>
				<%= link_to 'Список Продуктов',   if(@product.category) then @product.category else products_path end, class: 'btn btn-info' %>
				<span class="btn btn-success" id='dropdown'>
					<p onclick='$(this).parent().toggleClass("active")'>Скопировать Размеры</p>
					<% def dropdown cats
						ret = '<ul>'
						for cat in cats
							ret += "<li><p onclick='$(this).next().toggleClass(\"active\")'>#{cat.name}</p>"
							children = @categories.find_all{|c| c.parent_id == cat.id}
							if children.blank?
								products = @products.find_all{|p| p.category_id == cat.id}
								if !products.blank?
									ret += '<ul>'
									for p in products
										ret += "<li><p>#{p.name}<a href='/copy-sizes?from=#{p.id}&to=#{@product.id}' class='btn btn-success'>Выбрать</a></p></li>"
									end
									ret += '</ul>'
								end
							else
								ret += dropdown children
							end
							ret += '</li>'
						end
						ret + '</ul>'
					end %>
					<%= raw dropdown @categories.find_all{|c| !c.parent_id} %>
				</span>
			</div>
			<br><br>
			<table>
				<tr><h2>Список размеров (<%= sizes.count %>) <%= link_to 'Создать', new_prsize_path(@product.id), class: 'btn btn-primary' %>
				<span class="btn btn-success" id='dropdown'>
					<p onclick='$(this).parent().toggleClass("active")'>Скопировать Размер</p>
					<% def dropdown cats
						ret = '<ul>'
						for cat in cats
							ret += "<li><p onclick='$(this).next().toggleClass(\"active\")'>#{cat.name}</p>"
							children = @categories.find_all{|c| c.parent_id == cat.id}
							if children.blank?
								ret += '<ul>'
								for p in @products.find_all{|p| p.category_id == cat.id}
									ret += "<li><p onclick='$(this).next().toggleClass(\"active\")'>#{p.name}</p><ul>"
									for s in @prsizes.find_all{|s| s.product_id == p.id}
										ret += "<li><p>#{s.name}<a href='/copy-size?from=#{p.id}&to=#{@product.id}' class='btn btn-success'>Выбрать</a></p></li>"
									end
									ret += "</ul></li>"
								end
								ret += '</ul>'
							else
								ret += dropdown children
							end
							ret += '</li>'
						end
						ret + '</ul>'
					end %>
					<%= raw dropdown @categories.find_all{|c| !c.parent_id} %>
				</span>
				</tr>
				<tr>
					<th>Название</th>
					<th>Старая цена</th>
					<th>Цена</th>
					<th>действия</th>
				</tr>
				<% for size in sizes %>
					<tr>
						<td><%= size.name %></td>
						<td><%= number_to_currency size.old_price %></td>
						<td><%= number_to_currency size.price %></td>
						<td>
							<%= link_to 'Удалить', size, data: {confirm: 'Вы уверены?'}, :method => :delete, class: 'btn btn-danger' %>
							<%= link_to 'Редактировать', edit_prsize_path(size), class: 'btn btn-warning' %>
							<div class="btn btn-success" onclick="sizeOpen(this)">Развернуть</div>
						</td>
					</tr>
					<tr class="color">
						<td colspan="3">
							<table class="hide">
								<tr>
									<th colspan="3"><h2>Список цветов (<%= size.prcolors.count %>) <%= link_to 'Создать', new_prcolor_path(@product.id, size.id), class: 'btn btn-primary' %> <div class="btn btn-primary" onclick="sizeSubOpen(this)">Развернуть</div></h2></th>
								</tr>
								<tr>
									<th>Название</th>
									<th>Цена</th>
									<th>действия</th>
								</tr>
								<% for color in size.prcolors %>
									<tr>
										<td><%= color.name %></td>
										<td><%= number_to_currency color.price %></td>
										<td>
											<%= link_to 'Удалить', color, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-danger' %>
											<%= link_to 'Редактировать', "/products/#{@product.id}/prsizes/#{size.id}/prcolors/#{color.id}/edit", class: 'btn btn-warning' %> <div class="btn btn-success" onclick="colorOpen(this)">Развернуть</div>
										</td>
									</tr>
									<tr class="texture">
										<td colspan="3">
											<table class="hide">
												<tr>
													<th colspan="3"><h2>Список текстур (<%= color.textures.count %>) <%= link_to 'Создать', "/products/#{@product.id}/prsizes/#{size.id}/prcolors/#{color.id}/edit", class: 'btn btn-primary' %> <div class="btn btn-primary" onclick="sizeSubOpen(this)">Развернуть</div></h2></th>
												</tr>
												<tr>
													<th>Название</th>
													<th>Цена</th>
													<th>действия</th>
												</tr>
												<% for texture in color.textures %>
													<tr>
														<td><%= texture.name %></td>
														<td><%= number_to_currency texture.price %></td>
														<td>
															<%= link_to 'Удалить', texture, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-danger' %>
															<%= link_to 'Редактировать', edit_texture_path(texture), class: 'btn btn-warning' %>
														</td>
													</tr>
												<% end %>
											</table>
										</td>
									</tr>
								<% end %>
							</table>
						</td>
					</tr>
					<tr class="option">
						<td colspan="3">
							<table class="hide">
								<tr>
									<th colspan="3"><h2>Список опций (<%= size.proptions.count %>) <%= link_to 'Создать', new_proption_path(@product.id, size.id), class: 'btn btn-primary' %> <div class="btn btn-primary" onclick="sizeSubOpen(this)">Развернуть</div></h2></th>
								</tr>
								<tr>
									<th>Название</th>
									<th>Цена</th>
									<th>действия</th>
								</tr>
								<% for option in size.proptions %>
									<tr>
										<td><%= option.name %></td>
										<td><%= number_to_currency option.price %></td>
										<td>
											<%= link_to 'Удалить', option, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-danger' %>
											<%= link_to 'Редактировать', edit_proption_path(option), class: 'btn btn-success' %>
										</td>
									</tr>
								<% end %>
							</table>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>
	<div class="others">
		<% if @product.category %>
			<p>Другие товары коллекции "<%= @product.category.name %>"</p>
			<%= render(:partial => "products/productFooter" , collection: @product.category.products) %>
		<% else %>
			<p>Другие товары коллекции "<%= @product.subcategory.name %>"</p>
			<%= render(:partial => "products/productFooter" , collection: @product.subcategory.products) %>
		<% end %>
	</div>
	<% unless @product.product_footer_images.blank? %>
		<% for footer in @product.product_footer_images %>
			<br>
			<br>
			<a href="<%= footer.image.url %>" data-lightbox="footer-images"><img style="width: 100%" src="<%= footer.image.url %>"></a>
		<% end %>
	<% end %>
	<% unless @product.seo_text.blank? %>
		<div class="seo_text">
			<%= raw @product.seo_text %>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	priceNum = $('#summaryPrice').html().replace(/ /g,'');
	productPage()
</script>

<script src="/assets/lightbox.min.js"></script>
<link href="/assets/lightbox.min.css" rel="stylesheet" />