<div id="product-page">
	<div id="breadcrumbs">
		<a href="/">Главная</a>
		<span>/</span>
		<a href="/Bella">Bella</a>
		<span>/</span>
		<p>Кровать Bella</p>
	</div>
	<div>
		<div class="gallery">
			<% unless @product.images.blank? %>
				<div class="mini">
					<% images = @product.images.split ',' %>
					<% unless images.blank? %>
						<div onclick="imagesMini(this)" class="active" style="background-image: url('<%= images.first %>')"></div>
					<% end %>
					<% for image in images[1..-1] %>
						<div onclick="imagesMini(this)" style="background-image: url('<%= image %>')"></div>
					<% end %>
				</div>
				<a href='<%= images.first %>' data-lightbox='images' class="photo" style="background-image: url('<%= images.first %>')"></a>
				<% for image in images[1..-1] %>
					<a href='<%= image %>' data-lightbox='images' class="hidden" style="background-image: url('<%= image %>')"></a>
				<% end %>
			<% end %>
		</div>
		<div class="description">
			<h1>
				<%= @product.name %>
			</h1>
			<div class="text">
				<% unless @product.article.blank? %>
					<p><b>Артикул:</b> <%= @product.article %></p>
				<% end %>
				<%= raw @product.description %>
			</div>
			<div class="options" <% if !@product.prsizes.blank? or !@product.prcolors.blank? %>class="hidden"<% end %>>
				<u>Выбранные опции:</u>
				<p>
					<b>Размер:</b>
					<span class="size">
						<% if !@product.prsizes.blank? %>
							<%= @product.prsizes.first.name %>
						<% end %>
					</span>
				</p>
				<p>
					<b>Цвет:</b>
					<span class="color">
						<% if !@product.prcolors.blank?
							if @product.prcolors.first.textures.blank? %>
								<%= @product.prcolors.first.name %>
							<% else %>
								<%= @product.prcolors.first.textures.first.name %>
							<% end %>
						<% end %>
					</span>
				</p>
				<% if !@product.prcolors.blank? %>
					<img src="<%= @product.prcolors.first.images %>">
				<% end %>
				<p><b></b> <span class="option"></span></p>
			</div>
		</div>
		<div class="panel-buy">
			<div class="buy">
				<div>
					<% if @product.old_price > 0 %>
						<del><%= @product.old_price.to_s.gsub(/\B(?=(\d{3})+(?!\d))/, " ") %><i class="icon-old-rubl"></i></del><br>
					<% end %>
					<b class="price"><%= @product.price.to_s.gsub(/\B(?=(\d{3})+(?!\d))/, " ") %></b><i class="icon-rubl"></i>
				</div>
				<div>
					<% if @product.old_price > 0 %>
						<b class="discount">Скидка - <%= 100 - (@product.price / @product.old_price * 100).to_i %>%</b>
					<% end %>
					<div class="btn-buy">Купить</div>
				</div>
			</div>
			<div class="info">
				<div>
					<div>
						<i class="icon-dostavka"></i>
						<p>Доставка</p>
						<span>платная</span>
					</div>
					<div>
						<i class="icon-oplata"></i>
						<p>Оплата</p>
						<span>в фирменных салонах</span>
					</div>
				</div>
				<div class="payment">
					<div>Мы принимаем к оплате:</div>
					<img src="/assets/payment1.png">
					<img src="/assets/payment2.png">
					<img src="/assets/payment3.png">
					<img src="/assets/payment4.png">
				</div>
			</div>
		</div>
		<% unless @product.prsizes.blank? or @product.prcolors.blank? or @product.proptions.blank? %>
		<h2>Выбрать модификацию:</h2>
		<div class="tabs">
			<% unless @product.prsizes.blank? %>
				<div onclick="tabs(this)">Размер</div>
			<% end %>
			<% unless @product.prcolors.blank? %>
				<div class="active" onclick="tabs(this)">Цвет</div>
			<% end %>
			<% unless @product.proptions.blank? %>
			<div onclick="tabs(this)">Другие опции</div>
			<% end %>
		</div>
		<div class="tabs-pages">
			<% unless @product.prsizes.blank? %>
				<div class="prsizes">
					<% checked = true
					for size in @product.prsizes %>
						<div onclick="checkboxClick(this)">
							<i class="checkbox<% if checked then checked = false %> checked<% end %>"></i>
							<%= size.name %>
						</div>
					<% end %>
				</div>
			<% end %>
			<% unless @product.prcolors.blank? %>
				<div class="active">
					<% checked = true
					for color in @product.prcolors %>
						<% textures = color.textures
						if textures.blank? %>
							<div class="color" onclick="checkboxClick(this)">
								<img src="<%= color.images %>">
								<p>Цвет <%= color.name %></p>
								<i class="checkbox<% if checked then checked = false %> checked<% end %>"></i>
							</div>
						<% else %>
							<div class="catalog">
								<div onclick="$(this).toggleClass('open').find('i').toggleClass('color-down color-up')">
									<img src="<%= color.images %>">
									<p>Каталог тканей <%= color.name %></p>
									<i class="color-down"></i>
								</div>
								<div class="textures">
									<% for texture in textures %>
										<div onclick="colorClick(this)">
											<p><%= texture.scode %> <%= texture.name %></p>
											<div style="background-image: url('<%= texture.image %>')"></div>
											<i class="checkbox<% if checked then checked = false %> checked<% end %>"></i>
										</div>
									<% end %>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			<% end %>
			<% unless @product.proptions.blank? %>
				<div class="proptions">
					<div onclick="checkboxClick(this)">
						<i class="checkbox checked"></i>
						Без опции
					</div>
					<% for option in @product.proptions %>
						<div onclick="checkboxClick(this)">
							<i class="checkbox"></i>
							<%= option.name %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
		<% end %>
		<% if current_user && current_user.admin? %>
			<div id="admin-product">
				<div>
					<%= link_to 'Редактировать', edit_product_path(@product), class: 'btn btn-success' %>
					<%= link_to 'Удалить', @product, 'data-confirm' => 'Вы уверены?', method: :delete, class: 'btn btn-danger' %>
					<%= link_to 'Список Продуктов',   if(@product.category) then @product.category else products_path end, class: 'btn btn-info' %>
				</div>
				<table>
					<tr><td>
					<h2>Список размеров (<%= @product.prsizes.count %>)</h2>
					<%= link_to 'Создать новый размер', {:controller => :prsizes, :action => :new , :product_id => @product.id}, class: 'btn btn-primary' %>
					<% if @product.prsizes.count != 0 %>
					<table>
						<tr>
							<th>Название</th>
							<th>Цена</th>
							<th>действия</th>
						</tr>
						<%= render(:partial => "prsizes/prsize" , :collection => @product.prsizes) %>
					</table>
					<% end %>
					</td></tr>
					<tr><td>
					<h2>Список цветов (<%= @product.prcolors.count %>)</h2>

					<%= link_to 'Создать новый цвет', { :controller => :prcolors, :action => :new , :product_id => @product.id }, class: 'btn btn-primary' %>
					<%= link_to 'Скопировать цвет', { :controller => :prcolors, :action => :copy , :product_id => @product.id }, class: 'btn btn-warning' %>

					<% if @product.prcolors.count != 0 %>
					<table class="optionsTable">
						<tr>
							<th>Название</th>
							<th>Цена</th>
							<th>действия</th>
						</tr>
						<%= render(:partial => "prcolors/prcolor" , :collection => @product.prcolors) %>
					</table>
					<% end %>
					</td></tr>
					<tr><td>
					<h2>Список опций (<%= @product.proptions.count %>)</h2>

					<%= link_to 'Создать новую опцию', { :controller => :proptions, :action => :new , :product_id => @product.id }, class: 'btn btn-primary' %>
					<% if @product.proptions.count != 0 %>
					<table>
						<tr>
							<th>Название</th>
							<th>Цена</th>
							<th>действия</th>
						</tr>
						<%= render(:partial => "proptions/proption" , :collection => @product.proptions) %>
					</table>
					<% end %>
					</td></tr>
				</table>
			</div>
		<% end %>
		<h2>Другие товары коллекции:</h2>
		<div class="products-small">
			<% for product in @categories.find{|c| c.id == @product.category_id}.products.where.not id: @product.id %>
			<div>
				<div>
					<% if product.images.blank? %>
						<div class="images"></div>
					<% else %>
						<div class="left" onclick="product.left(this)"></div>
						<div class="images">
							<div class="wrap">
								<a href="/uploads/1.png" data-lightbox="images-1" style="background-image: url('/uploads/1.png')"></a>
								<a href="/uploads/2.png" data-lightbox="images-1" style="background-image: url('/uploads/2.png')"></a>
								<a href="/uploads/3.png" data-lightbox="images-1" style="background-image: url('/uploads/3.png')"></a>
								<a href="/uploads/4.png" data-lightbox="images-1" style="background-image: url('/uploads/4.png')"></a>
								<a href="/uploads/5.png" data-lightbox="images-1" style="background-image: url('/uploads/5.png')"></a>
								<a href="/uploads/6.png" data-lightbox="images-1" style="background-image: url('/uploads/6.png')"></a>
							</div>
						</div>
						<div class="right" onclick="product.right(this)"></div>
					<% end %>
					<a href="/kupit/<%= product.scode %>">
						<b><%= product.name %></b>
						<p><b>Цена:</b> <span><%= number_to_currency product.price %></span></p>
					</a>
					<div class="btn-buy"><p>Купить</p></div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>