<link rel="stylesheet" type="text/css" href="/assets/product.css">
<div id="product-page" class="show page">
	<div class="breadcrumbs">
		<a href="http://www.parra-shop.ru">Главная</a>
		<span>></span>
		<% if @product.category %>
			<% par = @product.category.parent
			while par %>
				<a href="http://www.parra-shop.ru/catalog/<%= par.url %>"><%= par.name %></a>
				<span>></span>
				<% par = par.parent
			end %>
			<a href="http://www.parra-shop.ru/catalog/<%= @product.category.url %>"><%= @product.category.name %></a>
			<span>></span>
		<% end %>
		<p><%= @product.name %></p>
	</div>
	<div class="page-title"><% if @product.category and !@product.category.header.blank? %><img src='<%= @product.category.header %>'> / <% end %><%= if @product.category then @product.category.name else @product.subcategory.name end %></div>
	<div class="product-wrap">
		<div>
			<% if @product.extension %>
				<img class='extension-show' src="<%= @product.extension.image %>">
			<% elsif $global_share %>
				<img src="<%= $global_extension.url %>" class='extension-show'>
			<% end %>
			<% images = @product.product_images.map{|i| i.image} %>
			<% if images.any?
				alt = @product.name %>
				<div class="photoes">
			    	<div class="active">
			    		<img alt="<%= alt %>" src="<%= images[0].big.url %>">
    					<a href="<%= images[0].url %>" data-lightbox="images"></a>
			    	</div>
		    		<% images[1..-1].each do |i| %>
		    			<div>
		    				<img alt="<%= alt %>" src="<%= i.big.url %>">
	    					<a href="<%= i.url %>" data-lightbox="images"></a>
		    			</div>
		    		<% end %>
				</div>
				<div class="mini">
					<div class="item"><img data-i='0' onclick="choosePhoto(this)" class="active" src="<%= images[0].small.url %>"></div>
					<% images[1..-1].each_with_index do |img, i| %>
						<div class="item"><img data-i='<%= i + 1 %>' onclick="choosePhoto(this)" src="<%= img.small.url %>"></div>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="productContent">
			<h1><%= @product.name %></h1>
			<div class="product-description">
			<%= raw @product.description.gsub('&nbsp;', '') %>
			</div>
			<div class="presence">
				<div class="round" style="background: #7ec34e"></div>
				<span>В наличии</span>
			</div>
			<br>
			<div id="pricePanel">
				<div class="left">
					<div class="columns">
						<div class="left">
							<div class="old">Цена: <strike id="oldPrice"></strike><img src="/assets/product/rubl-old.png"></div>
							<div class="price"><b id="summaryPrice"></b> <img class="purple" src="/assets/product/rubl-purple.png"><img class="black" src="/assets/product/rubl-black.png"></div>
							<div class="save">Вы экономите: <b id="pricesDifference">8 800.00</b> <img src="/assets/product/rubl-save.png"></div>
						</div>
						<div class="right" id="saveRound">
							<div class="round" id="saveProcent"></div>
						</div>
					</div>
				</div>
				<div class="right">
					<p><u>Выбранная модификация:</u></p>
					<p id="sizeP">Размер: <span id="sizeB"></span></p>
					<p id="colorP">Цвет: <span id="colorB"></p>
					<p id="optionP">Опция: <span id="optionB"></p>
				</div>
			</div>
			<div class="buttons">
				<div>
					<div class="btn green" onclick="buyProduct()"><img src="/assets/product/cart.png">Добавить в корзину</div>
				</div>
				<div>
					<div onclick="openOrderProjectPopup()" class="btn white">Заказать дизайн проект</div>
				</div>
			</div>
			<div class="links">
				<a href="/pokupka-v-kredit"><img src="/assets/product/rass.png"><span>Купить в рассрочку</span></a>
				<a href="/pokupka-v-kredit"><img src="/assets/product/credit.png"><span>Купить в кредит</span></a>
				<a><img src="/assets/product/print.png"><span>Распечатать</span></a>
			</div>
			<div class="rounds">
				<div class="half">
					<a href="/dostavka-i-oplata"><img src="/assets/Transport.png"><p>Бесплатная<br>доставка</p></a>
					<a href="/dostavka-i-oplata"><img src="/assets/Tools.png"><p>Сборка</p></a>
				</div>
				<div class="half">
					<a href="/sposoby-oplaty"><img src="/assets/Payment.png"><p>Способы оплаты</p></a>
					<a href="/garantii"><img src="/assets/Certificate.png"><p>Гарантии</p></a>
					<a onclick="openOrderProjectPopup()"><img src="/assets/3Dproject.jpg"><p>3D проект</p></a>
				</div>
			</div>
		</div>
	</div>
	<% if current_user && current_user.admin? %>
		<% @products = Product.order :position
		@prsizes = Prsize.all %>
		<div id="admin-product">
			<div>
				<%= link_to 'Редактировать', edit_product_path(@product), class: 'btn btn-warning' %>
				<%= link_to 'Удалить', @product, 'data-confirm' => 'Вы уверены?', method: :delete, class: 'btn btn-danger' %>
				<%= link_to 'Список Продуктов',   if(@product.category) then @product.category else products_path end, class: 'btn btn-info' %>
				<span class="btn btn-success" id='dropdown'>
					<p onclick='$(this).parent().toggleClass("active")'>Скопировать Размеры</p>
					<% def dropdown cats
						ret = '<ul>'
						for cat in cats
							ret += "<li><p onclick='$(this).next().toggleClass(\"active\")'>#{cat.name}</p>"
							children = @categories.find_all{|c| c.parent_id == cat.id}
							if children.blank?
								products = @products.find_all{|p| p.category_id == cat.id}
								if !products.blank?
									ret += '<ul>'
									for p in products
										ret += "<li><p>#{p.name}<a href='/copy-sizes?from=#{p.id}&to=#{@product.id}' class='btn btn-success'>Выбрать</a></p></li>"
									end
									ret += '</ul>'
								end
							else
								ret += dropdown children
							end
							ret += '</li>'
						end
						ret + '</ul>'
					end %>
					<%= raw dropdown @categories.find_all{|c| c if c.parent_id.nil? or c.parent_id == 0} %>
				</span>
			</div>
			<br><br>
			<table>
				<tr><h2>Список размеров (<%= @product.prsizes.count %>) <%= link_to 'Создать', new_prsize_path(@product.id), class: 'btn btn-primary' %>
				<span class="btn btn-success" id='dropdown'>
					<p onclick='$(this).parent().toggleClass("active")'>Скопировать Размер</p>
					<% def dropdown cats
						ret = '<ul>'
						for cat in cats
							ret += "<li><p onclick='$(this).next().toggleClass(\"active\")'>#{cat.name}</p>"
							children = @categories.find_all{|c| c.parent_id == cat.id}
							if children.blank?
								ret += '<ul>'
								for p in @products.find_all{|p| p.category_id == cat.id}
									ret += "<li><p onclick='$(this).next().toggleClass(\"active\")'>#{p.name}</p><ul>"
									for s in @prsizes.find_all{|s| s.product_id == p.id}
										ret += "<li><p>#{s.name}<a href='/copy-size?from=#{p.id}&to=#{@product.id}' class='btn btn-success'>Выбрать</a></p></li>"
									end
									ret += "</ul></li>"
								end
								ret += '</ul>'
							else
								ret += dropdown children
							end
							ret += '</li>'
						end
						ret + '</ul>'
					end %>
					<%= raw dropdown @categories.find_all{|c| c if c.parent_id.nil? or c.parent_id == 0} %>
				</span>
				</tr>
				<tr>
					<th>Название</th>
					<th>Старая цена</th>
					<th>Цена</th>
					<th>действия</th>
				</tr>
				<% for size in @product.prsizes %>
					<tr>
						<td><%= size.name %></td>
						<td><%= number_to_currency size.old_price %></td>
						<td><%= number_to_currency size.price %></td>
						<td>
							<%= link_to 'Удалить', size, data: {confirm: 'Вы уверены?'}, :method => :delete, class: 'btn btn-danger' %>
							<%= link_to 'Редактировать', edit_prsize_path(size), class: 'btn btn-warning' %>
							<div class="btn btn-success" onclick="sizeOpen(this)">Развернуть</div>
						</td>
					</tr>
					<tr class="color">
						<td colspan="4">
							<table class="hide">
								<tr>
									<th colspan="4"><h2>Список цветов (<%= size.prcolors.count %>) <%= link_to 'Создать', new_prcolor_path(@product.id, size.id), class: 'btn btn-primary' %> <div class="btn btn-primary" onclick="sizeSubOpen(this)">Развернуть</div></h2></th>
								</tr>
								<tr>
									<th>Название</th>
									<th>Цена</th>
									<th>действия</th>
								</tr>
								<% for color in size.prcolors %>
									<tr>
										<td><%= color.name %></td>
										<td><%= number_to_currency color.price %></td>
										<td>
											<%= link_to 'Удалить', color, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-danger' %>
											<%= link_to 'Редактировать', "/products/#{@product.id}/prsizes/#{size.id}/prcolors/#{color.id}/edit", class: 'btn btn-warning' %> <div class="btn btn-success" onclick="colorOpen(this)">Развернуть</div>
										</td>
									</tr>
									<tr class="texture">
										<td colspan="4">
											<table class="hide">
												<tr>
													<th colspan="4"><h2>Список текстур (<%= color.textures.count %>) <%= link_to 'Создать', "/products/#{@product.id}/prsizes/#{size.id}/prcolors/#{color.id}/edit", class: 'btn btn-primary' %> <div class="btn btn-primary" onclick="sizeSubOpen(this)">Развернуть</div></h2></th>
												</tr>
												<tr>
													<th>Название</th>
													<th>Цена</th>
													<th>действия</th>
												</tr>
												<% for texture in color.textures %>
													<tr>
														<td><%= texture.name %></td>
														<td><%= number_to_currency texture.price %></td>
														<td>
															<%= link_to 'Удалить', texture, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-danger' %>
															<%= link_to 'Редактировать', edit_texture_path(texture), class: 'btn btn-warning' %>
														</td>
													</tr>
												<% end %>
											</table>
										</td>
									</tr>
								<% end %>
							</table>
						</td>
					</tr>
					<tr class="option">
						<td colspan="4">
							<table class="hide">
								<tr>
									<th colspan="4"><h2>Список опций (<%= size.proptions.count %>) <%= link_to 'Создать', new_proption_path(@product.id, size.id), class: 'btn btn-primary' %> <div class="btn btn-primary" onclick="sizeSubOpen(this)">Развернуть</div></h2></th>
								</tr>
								<tr>
									<th>Название</th>
									<th>Цена</th>
									<th>действия</th>
								</tr>
								<% for option in size.proptions %>
									<tr>
										<td><%= option.name %></td>
										<td><%= number_to_currency option.price %></td>
										<td>
											<%= link_to 'Удалить', option, :confirm => 'Вы уверены?', :method => :delete, class: 'btn btn-danger' %>
											<%= link_to 'Редактировать', edit_proption_path(option), class: 'btn btn-success' %>
										</td>
									</tr>
								<% end %>
							</table>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>
	<% sizes = @product.prsizes %>
	<% sizes_exist = sizes.any? %>
	<% if sizes_exist %>
		<div class="header">Выбрать модификацию:</div>
		<div class="tabs">
			<div onclick="tabs(this)" class="active">Размер</div>
			<div id="colorNav" onclick="tabs(this)">Цвет</div>
			<div id="optionNav" onclick="tabs(this)">Другие опции</div>
		</div>
		<div class="tabs-pages">
			<div id="sizesTab" class="prsizes active tab">
				<% checked = true
				for size in @product.prsizes %>
					<div onclick="sizeChoose(this)" data-old-price="<%= size.old_price %>" data-price="<%= size.price %>">
						<span data-id="<%= size.id %>" data-type="size" class="i checkbox<% if checked then checked = false %> checked<% end %>"></span>
						<span class="name"><%= size.name %></span>
					</div>
				<% end %>
			</div>
			<div id="colorsTab" class="prcolors tab">
				<% first = true %>
				<% for size in sizes %>
					<div class="size<%= if first then first = false; ' cur' end %>">
						<% if size.prcolors.blank? %>
							<div class="hint">Для этого размера цвета отсутствуют.</div>
						<% else %>
							<% checked = true
							for color in size.prcolors %>
								<% textures = color.textures
								if textures.blank? %>
									<div data-price="<%= color.price %>" class="color" onclick="chooseColor(this)">
										<a href='<%= color.images %>' data-lightbox='<%= color.name %>'><img src="<%= color.images %>"></a>
										<p class="name">Цвет <%= color.name %></p>
										<span data-id="<%= color.id %>" data-type="color" class="i checkbox<% if checked then checked = false %> checked<% end %>"></span>
									</div>
								<% else %>
									<div class="catalog">
										<div data-price="<%= color.price %>" data-type="color" data-id="<%= color.id %>" onclick="$(this).toggleClass('open').find('i').toggleClass('color-down color-up')">
											<a href='<%= color.images %>' data-lightbox='<%= color.name %>'><img src="<%= color.images %>"></a>
											<p class="name">Каталог тканей <%= color.name %></p>
											<span class="i color-down"></span>
										</div>
										<div class="textures">
											<% for texture in textures %>
												<div data-price="<%= texture.price %>" onclick="chooseTexture(this)">
													<p class="name"><%= texture.scode %> <%= texture.name %></p>
													<a class="texture-image" href='<%= texture.image %>' data-lightbox='<%= color.name %>'><img src="<%= texture.image %>"></a>
													<span data-id="<%= texture.id %>" data-type="texture" class="i checkbox<% if checked then checked = false %> checked<% end %>"></span>
												</div>
											<% end %>
										</div>
									</div>
								<% end %>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
			<div id="optionsTab" class="proptions tab">
				<% first = true %>
				<% checked = true %>
				<% for size in sizes %>
					<div class="size<%= if first then first = false; ' cur' end %>">
						<% for option in size.proptions %>
							<div data-price="<%= option.price %>" onclick="chooseOption(this)">
								<span data-id="<%= option.id %>" data-type="option" class="i checkbox<% if checked then checked = false %> checked<% end %>"></span>
								<span class="name"><%= option.name %></span>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="others">
		<% if @product.category %>
			<div class="header">Другие товары коллекции "<%= @product.category.name %>"</div>
			<div class="wrap">
				<div class="table">
					<% for product in @product.category.products.order(:position).where.not(id: @product.id) %>
						<%= render(partial: "pages/product", locals: {product: product}) %>
					<% end %>
				</div>
			</div>
		<% else %>
			<div class="header">Другие товары коллекции "<%= @product.subcategory.name %>"</div>
			<div class="wrap">
				<div class="table">
					<% for product in @product.subcategory.products.order(:position).where.not(id: @product.id) %>
						<%= render(partial: "pages/product", locals: {product: product}) %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<% unless @product.product_footer_images.blank? %>
		<% for footer in @product.product_footer_images %>
			<br>
			<br>
			<a href="<%= footer.image.url %>" data-lightbox="footer-images"><img style="width: 100%" src="<%= footer.image.url %>"></a>
		<% end %>
	<% end %>
	<% unless @product.seo_text.blank? %>
		<div class="seo_text">
			<%= raw @product.seo_text %>
		</div>
	<% end %>
</div>

<script type="text/javascript" src="/assets/product.js"></script>
<script type="text/javascript">
	productPage(<%= raw @product.to_json(only: [:id, :name, :scode, :s_title, :price, :old_price], include: {prsizes: {only: [:id, :price, :old_price, :name, :scode], include: [{prcolors: {only: [:id, :price, :name, :scode], include: {textures: {only: [:id, :price, :name, :scode]}}}}, {proptions: {only: [:id, :price, :name, :scode]}}]}}) %>)	
</script>

<script src="/assets/lightbox.min.js"></script>
<link href="/assets/lightbox.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="/assets/slick.min.css">
<script type="text/javascript" src="/assets/slick.min.js"></script>
<script type="text/javascript">
var w = document.body.offsetWidth;
var slides;
if (w > 505) {
	slides = 3
} else if (w > 360) {
	slides = 2
} else {
	slides = 1
}
$('.mini').slick({slidesToShow:slides,slidesToScroll:slides});
</script>