<script src="http://lokeshdhakar.com/projects/lightbox2/js/lightbox-2.6.min.js"></script>
<link href="http://lokeshdhakar.com/projects/lightbox2/css/lightbox.css" rel="stylesheet" />
<div class="show page">
	<h2><img src='<%= @product.category.header %>'> / <%= @product.category.name %></h2>
	<div class="main">
		<div>			
			<% if @product.images %>
				<% images = @product.images.split(',') %>
				<div class="mini">
					<img onclick="choosePhoto(this)" class="active" src="<%= images[0] %>">
					<%  images.drop(1).each do |i| %>
			    		<img onclick="choosePhoto(this)" src="<%= i %>">
			    	<% end %>
				</div>
				<div class="photoes">
					<img class="showPhoto" src="<%= images[0] %>">
					<%  images.drop(1).each do |i| %>
			    		<img src="<%= i %>">
			    	<% end %>
				</div>
			<% end %>
		</div>
		<div class="productContent" onchange="priceChange()">
			<p><%= @product.name %></p>
			<%= sanitize(@product.description) %>
			
			<% if @product.prsizes && @product.prsizes.count > 0 %>
			<div>
				<a onclick="option(this)">Выбрать размер:<img src="/assets/optionArrow.png"></a>
				<div class="option">
					<label>
						<input value="<%= @product.prsizes[0].price %>" type="radio" name="prsizes" checked="checked" />
						<span><%= @product.prsizes[0].name %></span>
					</label>
					<% @product.prsizes[1..-1].each do |p| %>
						<label>
							<input value="<%= p.price %>" type="radio" name="prsizes" />
							<span><%= p.name %></span>
						</label>						
					<% end %>
				</div>
			</div>
			<% end %>
			<% if @product.prcolors && @product.prcolors.count > 0 %>
			<div>
				<a onclick="option(this)">Выбрать цвет:<img src="/assets/optionArrow.png"></a>
				<div class="option">
					<% if @product.prcolors[0].textures.empty? %>
					<label class="color">
						<input value="<%= @product.prcolors[0].price %>" type="radio" name="prcolors" checked="checked" />
						<input type="hidden" value="<%= @product.prcolors[0].name %>">
						<a href="<%= @product.prcolors[0].images %>" data-lightbox="<%= @product.prcolors[0].name %>" title="<%= @product.prcolors[0].name %>"><img src="<%= @product.prcolors[0].images %>"></a>
						<span><%= sanitize(@product.prcolors[0].description) %></span>
					</label>
					<% else %>
						<%= render :partial => "prcolors/textures" , :object => @product.prcolors[0] %>
					<% end %>
					<% @product.prcolors[1..-1].each do |p| %>
						<% if p.textures.empty? %>
						<label class="color">
							<input value="<%= p.price %>" type="radio" name="prcolors" />
							<input type="hidden" value="<%= p.name %>">
							<a href="<%= p.images %>" data-lightbox="<%= p.name %>" title="<%= p.name %>"><img src="<%= p.images %>"></a>
							<span><%= sanitize(p.description) %></span>
						</label>
						<% else %>
							<%= render :partial => "prcolors/textures" , :object => p %>
						<% end %>			
					<% end %>
				</div>
			</div>
			<% end %>
			<% if @product.proptions && @product.proptions.count > 0 %>
			<div>
				<a onclick="option(this)">Выбрать опции:<img src="/assets/optionArrow.png"></a>
				<div class="option">
					<label>
						<input value="0" type="radio" name="proptions" checked="checked" />
						<span>Без опций</span>
					</label>
					<% @product.proptions.each do |p| %>
						<label>
							<input value="<%= p.price %>" type="radio" name="proptions" />
							<span><%= p.name %></span>
						</label>						
					<% end %>
				</div>
			</div>
			<% end %>
			<div class="price">
				<p>Цена: <b id="summaryPrice"><%= number_to_currency(@product.price) %></b></p>
				<div class="fancyButton" onclick="addToCart('<%= @product.name %>', this)">Купить</div>
				<%= hidden_field_tag :product_id_field, @product.id %>
				<%= hidden_field_tag :product_scode, @product.scode %>
			</div>
		</div>
	</div>
	<% if current_user && current_user.admin? %>
	<%= link_to 'Редактировать', edit_product_path(@product) %> |
	<%= link_to 'Удалить', @product, :confirm => 'Вы уверены?', :method => :delete %> |
	<%= link_to 'Список Продуктов',   if(@product.category) then @product.category else products_path end %>
	<div class="options">
		<h2>Список размеров (<%= @product.prsizes.count %>)</h2>
		<p><%= link_to('Создать новый размер', { :controller => :prsizes, :action => :new , :product_id => @product.id })%></p>
		<ul class="table tborder">
			<li>
				<div style="text-align: center">Название</div>
				<div style="text-align: center">Цена</div>
				<div style="text-align: center">действия</div>
			</li>
			<%= render(:partial => "prsizes/prsize" , :collection => @product.prsizes) %>
		</ul>
		<h2>Список цветов (<%= @product.prcolors.count %>)</h2>

		<%= link_to('Создать новый цвет', { :controller => :prcolors, :action => :new , :product_id => @product.id })%>
		<table class="optionsTable">
			<tr>
				<th>Название</th>
				<th>Цена</th>
				<th>действия</th>
			</tr>
			<%= render(:partial => "prcolors/prcolor" , :collection => @product.prcolors) %>
		</table>
		
		<h2>Список опций (<%= @product.proptions.count %>)</h2>

		<%= link_to('Создать новую опцию', { :controller => :proptions, :action => :new , :product_id => @product.id })%>
		
		<ul class="table tborder">
			<li>
				<div style="text-align: center">Название</div>
				<div style="text-align: center">Цена</div>
				<div style="text-align: center">действия</div>
			</li>
			<%= render(:partial => "proptions/proption" , :collection => @product.proptions) %>
		</ul>
	</div>
	<% end %>
	<div class="others">
		<p>Похожие товары</p>
		<%= render(:partial => "products/productFooter" , collection: @product.category.products) %>
	</div>
</div>

<script type="text/javascript">
	priceNum = $('#summaryPrice').html().replace(' ', '').split(' ')
</script>