<script src="http://lokeshdhakar.com/projects/lightbox2/js/lightbox-2.6.min.js"></script>
<link href="http://lokeshdhakar.com/projects/lightbox2/css/lightbox.css" rel="stylesheet" />

<div class="show page">
	<h2><%= @product.category.name %></h2>
	<div class="main">
		<% if @product.images %>
			<% images = @product.images.split(',') %>
		    <a href="<%= images[0] %>" data-lightbox="image" title="<% @product.name %>"><img src="<%= images[0] %>"></a>
		    <div class="hidden">
		    	<%  images.drop(1).each do |i| %>
		    		<a href="<%= i %>" data-lightbox="image" title="<% @product.name %>"><img src="<%= i %>"></a>
		    	<% end %>
		    </div>
		<% end %>
		<div>
			<p><%= @product.name %></p>
			<%= sanitize(@product.description) %>
			
			<% if @product.prsizes && @product.prsizes.count > 0 %>
				<br>
				<label style="margin-left:50px;">Выбрать размер:</label></br>
				<%= select_tag :prsizes, options_for_select(@product.prsizes.map{|c| [c.name, c.price]}), {onchange: 'priceChange(this)', style: 'margin-left:50px;'} %>
			<% end %>
			<% if @product.prcolors && @product.prcolors.count > 0 %>
				<br>
				<label style="margin-left:50px;">Выбрать цвет:</label></br>
				<%= select_tag :prcolors, options_for_select(@product.prcolors.map{|c| [c.name, c.price]}), {onchange: 'priceChange(this)', style: 'margin-left:50px;'} %>
			<% end %>
			<% if @product.proptions && @product.proptions.count > 0 %>
				<br>
				<label style="margin-left:50px;">Выбрать опции:</label></br>
				<%= select_tag :proptions, options_for_select(@product.proptions.map{|c| [c.name, c.price]}), {onchange: 'priceChange(this)', style: 'margin-left:50px;'} %>
			<% end %>
			<div>
				<p>Цена: <b id="price"><%= number_to_currency(@product.price) %></b></p>
				<div onclick="addToCart('<%= @product.name %>','<%= @product.price %>')">Купить</div>
				<%= hidden_field_tag :product_id_field, @product.id %>
			</div>
		</div>
	</div>
	<% if current_user && current_user.admin? %>
	<div class="options">
		<h2>Список размеров (<%= @product.prsizes.count %>)</h2>
		<p><%= link_to('Создать новый размер', { :controller => :prsizes, :action => :new , :product_id => @product.id })%></p>
		<ul class="table tborder">
			<li>
				<div style="text-align: center">Название</div>
				<div style="text-align: center">Цена</div>
				<div style="text-align: center">действия</div>
			</li>
			<%= render(:partial => "prsizes/prsize" , :collection => @product.prsizes) %>
		</ul>
		<h2>Список цветов (<%= @product.prcolors.count %>)</h2>

		<%= link_to('Создать новый цвет', { :controller => :prcolors, :action => :new , :product_id => @product.id })%>
		
		<ul class="table tborder">
			<li>
				<div style="text-align: center">Название</div>
				<div style="text-align: center">Цена</div>
				<div style="text-align: center">действия</div>
			</li>
			<%= render(:partial => "prcolors/prcolor" , :collection => @product.prcolors) %>
		</ul>
		
		<h2>Список опций (<%= @product.proptions.count %>)</h2>

		<%= link_to('Создать новую опцию', { :controller => :proptions, :action => :new , :product_id => @product.id })%>
		
		<ul class="table tborder">
			<li>
				<div style="text-align: center">Название</div>
				<div style="text-align: center">Цена</div>
				<div style="text-align: center">действия</div>
			</li>
			<%= render(:partial => "proptions/proption" , :collection => @product.proptions) %>
		</ul>
	</div>
	<% end %>
	<div class="others">
		<p>Похожие товары</p>
		<%= render(:partial => "products/productFooter" , collection: @product.category.products) %>
	</div>
</div>

