<!DOCTYPE html>
<html>
<head>
  <title>ParraShop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<a href='/'><img class="logo" src="/assets/logo.png"></a>
<div class="shopPhone">
  <p><b>8</b><b>495</b>728-20-90</p>
  <p>Единый телефон продаж в Москве</p>
</div>
<nav>
  <ul id="mainMenu">    
    <li><a href="">Спальни</a>
	      <div>
	        <div style="background-image: url(/assets/Bella.png); left: 0"></div>
	        <div style="background-image: url(/assets/Plisset.png)"></div>
	        <div style="background-image: url(/assets/Orly.png)"></div>
	        <div style="background-image: url(/assets/Ritmika.png)"></div>
	        <div style="background-image: url(/assets/Lorra.png)"></div>
	        <div style="background-image: url(/assets/Leggero.png)"></div>
	        <div style="background-image: url(/assets/Miro.png)"></div>
			<div style="background-image: url(/assets/Mild.png)"></div>
	      </div>     
	      <ul>
	<li><%= link_to('Bella', { :controller => '/catalog', :action => :index, :category_scode => :Bella} )%></li>
	<li><%= link_to('Plisset', { :controller => '/catalog', :action => :index, :category_scode => :Plisset} )%></li>
	<li><%= link_to('Orly', { :controller => '/catalog', :action => :index, :category_scode => :Orly} )%></li>
	<li><%= link_to('Ritmika', { :controller => '/catalog', :action => :index, :category_scode => :Ritmika} )%></li>
	<li><%= link_to('Lorra', { :controller => '/catalog', :action => :index, :category_scode => :Lorra} )%></li>
	<li><%= link_to('Leggero', { :controller => '/catalog', :action => :index, :category_scode => :Leggero} )%></li>
	<li><%= link_to('Miro', { :controller => '/catalog', :action => :index, :category_scode => :Miro} )%></li>
	<li><%= link_to('Mild', { :controller => '/catalog', :action => :index, :category_scode => :Mild} )%></li>
	      </ul>
	    </li>
	    <li><a href="">Гостинные</a>
	  <div>
	  <div style="background: url(/assets/Azzon.png); left: 0"></div>
	  <div style="background: url(/assets/BellaGost.png)"></div>
	  <div style="background: url(/assets/P3.png)"></div>
	  <div style="background: url(/assets/Forma.png)"></div>
	  <div style="background: url(/assets/Joy.png)"></div>
	  <div style="background: url(/assets/Style.png)"></div>
	  <div style="background: url(/assets/Verro.png)"></div>
	  </div>
	 <ul>
	  <li><%= link_to('Azzon', { :controller => '/catalog', :action => :index, :category_scode => :Azzon} )%></li>
	  <li><%= link_to('Bella', { :controller => '/catalog', :action => :index, :category_scode => :BellaGost} )%></li>
	  <li><%= link_to('P3', { :controller => '/catalog', :action => :index, :category_scode => :P3} )%></li>
	  <li><%= link_to('Forma', { :controller => '/catalog', :action => :index, :category_scode => :Forma} )%></li>
	  <li><%= link_to('Joy', { :controller => '/catalog', :action => :index, :category_scode => :Joy} )%></li>
	  <li><%= link_to('Style', { :controller => '/catalog', :action => :index, :category_scode => :Style} )%></li>
	  <li><%= link_to('Verro', { :controller => '/catalog', :action => :index, :category_scode => :Verro} )%></li>
	   </ul>
	 </li>

	<li><a href="">Диваны</a>
		<div>
		  <div style="background: url(/assets/Trevi.png); left: 0"></div>
		  <div style="background: url(/assets/Opera.png)"></div>
		  <div style="background: url(/assets/Lucca.png)"></div>
		  <div style="background: url(/assets/Ritmo.png)"></div>
		  <div style="background: url(/assets/Nuvola.png)"></div>
		  <div style="background: url(/assets/SoftAgioArteCircle.png)"></div>
		</div>
		<ul>
		  <li><%= link_to('Trevi', { :controller => '/catalog', :action => :index, :category_scode => :Trevi} )%></li>
		  <li><%= link_to('Opera', { :controller => '/catalog', :action => :index, :category_scode => :Opera} )%></li>
		  <li><%= link_to('Lucca', { :controller => '/catalog', :action => :index, :category_scode => :Lucca} )%></li>
		  <li><%= link_to('Ritmo', { :controller => '/catalog', :action => :index, :category_scode => :Ritmo} )%></li>
		  <li><%= link_to('Nuvola', { :controller => '/catalog', :action => :index, :category_scode => :Nuvola} )%></li>
		<li><%= link_to('Кресла', { :controller => '/catalog', :action => :index, :category_scode => :Кресла} )%></li>
		</ul>
	</li>
    <li><a href="">Матрасы</a>
		<div>
			<div style="background: url(/assets/SonberryOrganic.png)"></div>
		  	<div style="background: url(/assets/SonberryAero.png)"></div>
			<div style="background: url(/assets/SonberryActive.png); left: 0"></div>		  
		</div>
		<ul>
			<li><%= link_to('Organic', { :controller => '/catalog', :action => :index, :category_scode => :SonberryOrganic} )%></li>
			<li><%= link_to('Aero', { :controller => '/catalog', :action => :index, :category_scode => :SonberryAero} )%></li>
		    <li><%= link_to('Active', { :controller => '/catalog', :action => :index, :category_scode => :SonberryActive} )%></li>
		 </ul>
	</li>
    <li class="allProducts">
      <a>Все товары</a>
      <div>
	    <%= link_to('Кровати', { :controller => '/catalog', :action => :index, :category_scode => :Кровати} )%>
	    <%= link_to('Шкафы', { :controller => '/catalog', :action => :index, :category_scode => :Шкафы} )%>
        <%= link_to('Комоды', { :controller => '/catalog', :action => :index, :category_scode => :Комоды} )%>
        <%= link_to('Тумбочки', { :controller => '/catalog', :action => :index, :category_scode => :Тумбочки} )%>
        <br>
        <%= link_to('Зеркала', { :controller => '/catalog', :action => :index, :category_scode => :Зеркала} )%>
		<%= link_to('Полки', { :controller => '/catalog', :action => :index, :category_scode => :Полки} )%>
		<%= link_to('Столы', { :controller => '/catalog', :action => :index, :category_scode => :Столы} )%>
		<%= link_to('Основания', { :controller => '/catalog', :action => :index, :category_scode => :Основания} )%>
      </div>
    </li>
    <li class="wherebuy"><%= link_to 'Где купить', stores_path %>
      <span>
        <div>
          <div>
            <%= link_to raw('Мебель PARRA в МЦ "Мебель PARK"<br>(499) 940-12-29<br>м.Юго-Западная'), store1_path %>
            <%= link_to raw('Салон "НовоМебель" в МЦ "Family Room"<br>(499) 940-12-29<br>м.Юго-Западная'), store2_path %>
            <%= link_to raw('Мебель PARRA в МЦ "Армада"<br>(495) 665-11-52<br>м.Пражская'), store3_path %>
            <%= link_to raw('Мебель PARRA в ТЦ "Черемушки"<br>(499) 340-56-56<br>м.Новые черемушки'), store4_path %>
            <%= link_to raw('Мебель PARRA в МЦ "ROOMER"<br>(499) 340-09-08<br>м.Автозаводская'), store5_path %>
            <%= link_to raw('Мебель PARRA в ТЦ «Твой Дом — Крокус»<br>(499) 940-12-29<br>м.Мякинино'), store6_path %>
            <%= link_to raw('Мебель PARRA в ТРЦ "РИО" Реутов<br>(499) 347-09-09<br>м.Новогиреево'), store7_path %>
          </div>
        </div>        
      </span>
    </li>
    <li class="cart"><a href="/cart">Корзина<b id="cartCount"></b></a>
      <span id="menuCart">
        <div></div>
        <span>
        <a onclick="order()">Оформить заказ</a>
        <h2>Итого: <b id="price"></b> руб.</h2>
        </span>
      </span>
    </li>
  </ul>
</nav>

<div class="main">
  <div>
	<div id="notice"><%= flash[:notice] %></div>
    <%= yield %>
  </div>
</div>

<nav class="footer">
    <ul>
        <li><%= link_to 'Доставка и сборка', service_path %></li>
        <li><%= link_to 'Партнерам', partners_path %></li>
        <li><%= link_to 'Новости', news_path %></li>
        <li><%= link_to 'Статьи', articles_path %></li>
        <li><%= link_to 'Гарантии', insurance_path %></li>
    </ul>
</nav>

<div id="orderWindow">
  <div onclick="this.parentNode.style.display = 'none'"></div>
  <div>
    <div class="header">
      Отправьте Ваши контактные данные<br>и менеджер свяжется с Вами.
      <div onclick="this.parentNode.parentNode.parentNode.style.display = 'none'"></div>
    </div>
    <%= form_for :order, url: '/order' do |f| %>
    <p>Ваше имя:<%= f.text_field :first_name %></p>
    <p>Контактный телефон:<%= f.text_field :phone %></p>
    <p><label><input type="checkbox" onclick="orderShowAll()">Нужна доставка<label></p>
    <div id="otherInputs" class="hide">
      <p>Ваш e-mail:<%= f.text_field :email %></p>
      <p>Улица:<%= f.text_field :addr_street %></p>
      <p>Дом:<%= f.text_field :addr_home %></p>
      <p>Корпус:<input type="text" name="addr_block"></p>
      <p>Квартира:<input type="text" name="addr_flat"></p>
    </div>
    <input type="submit" value="Отправить">
    <% end %>
  </div>
</div>

</body>
</html>
