<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'ParraShop' %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name='yandex-verification' content='55e5e85d2e764276' />
  <meta name="description" content="<%= @seo_description || '' %>">
  <meta name="keywords" content="<%= @seo_keywords || '' %>">
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/lightbox/lightbox.min.js"></script>
</head>
<body class='<%= controller.controller_name %>'>
<% if params[:controller] + params[:action] == 'mainindex' %>
	<div id="preloader">
		<p>Идет загрузка...</p>
	</div>
<% end %>
<a href='/'><img class="logo" src="/assets/logo.png" alt="PARRA-Shop.ru  – модульная корпусная мебель из натурального шпона для спальни и гостиной"></a>
<% if user_signed_in? %>
<div class="admin-nav">
	<div>Действия</div>
	<ul>
		<% if current_user.admin? %>
		<li><a href="/categories">Список категорий</a></li>
		<li><a href="/users/">Пользователи</a></li>
		<li><a href="/banners/">Баннеры</a></li>
		<% end
		if current_user.manager or current_user.admin? %>
		<li><a href="/admin/model/order/records">Заказы</a></li>
		<% end %>
		<li><a href="/admin/packinglist">Импорт товарных накладных</a></li>
		<li><a href="/extensions">Статусы товаров</a></li>
		<li><%= link_to "Выход", destroy_user_session_path, :method => :delete %></li>
	</ul>
</div>
<% end %>
<div><form id="search" action="/catalog/index">
	<input type="text" name="q" placeholder="Например, кровать Bella" value="<%= params[:q] %>"/>
	<input type="submit" value="Поиск"/>
</form></div>
<div class="shopPhone">
  <p>8-800-707-67-57</p>
  <ins>Бесплатные звонки по России</ins>
</div>
<nav>
	<ul id="mainMenu">  	 
		<li class="menu">
			<a href="/spalni">Спальни</a>
			<div>
				<div style="background-image: url(/assets/GammaNew.jpg); left: 0"></div>
				<div style="background-image: url(/assets/LyonaNew.jpg)"></div>
				<div style="background-image: url(/assets/Bella.jpg)"></div>
				<div style="background-image: url(/assets/Plisset.jpg)"></div>
				<div style="background-image: url(/assets/Orly.jpg)"></div>
				<div style="background-image: url(/assets/RitmikaSale.jpg)"></div>
				<div style="background-image: url(/assets/RitmikaSale2.jpg)"></div>
				<div style="background-image: url(/assets/Lorra.jpg)"></div>
				<div style="background-image: url(/assets/LeggeroSale.jpg)"></div>
				<div style="background-image: url(/assets/LeggeroSale2.jpg)"></div>
				<div style="background-image: url(/assets/Miro.jpg)"></div>
				<div style="background-image: url(/assets/Mild.jpg)"></div>
			</div>     
			<ul>
				<li><%= link_to('Gamma', { controller: :catalog, action: :index, url: 'spalni-gamma'} )%></li>
				<li><%= link_to('Lyona', { controller: :catalog, action: :index, url: 'spalni-liona'} )%></li>
				<li><%= link_to('Bella', { controller: :catalog, action: :index, url: 'spalni-bella'} )%></li>
				<li><%= link_to('Plisset', { controller: :catalog, action: :index, url: 'spalni-plisset'} )%></li>
				<li><%= link_to('Orly', { controller: :catalog, action: :index, url: 'spalni-orly'} )%></li>
				<li><%= link_to('Ritmika', { controller: :catalog, action: :index, url: 'spalni-ritmika'} )%></li>
				<li><%= link_to('Ritmika2', { controller: :catalog, action: :index, url: 'spalni-ritmika2'} )%></li>
				<li><%= link_to('Lorra', { controller: :catalog, action: :index, url: 'spalni-lorra'} )%></li>
				<li><%= link_to('Leggero Орех', { controller: :catalog, action: :index, url: 'spalni-leggero-oreh'} )%></li>
				<li><%= link_to('Leggero choco', { controller: :catalog, action: :index, url: 'spalni-leggero-choco1'} )%></li>
				<li><%= link_to('Miro', { controller: :catalog, action: :index, url: 'spalni-miro'} )%></li>
				<li><%= link_to('Mild', { controller: :catalog, action: :index, url: 'spalni-mild'} )%></li>	
			</ul>
	    </li>
		<li class="dark"></li>
	    <li class="menu">
	    	<a href="/gostinaya">Гостиные</a>
			<div>
				<div style="background: url(/assets/NorteNew.jpg); left: 0"></div>
				<div style="background: url(/assets/P3.jpg)"></div>
				<div style="background: url(/assets/BellaGost.jpg)"></div>
				<div style="background: url(/assets/Verro.jpg)"></div>
				<div style="background: url(/assets/Style.jpg)"></div>
				<div style="background: url(/assets/Style2.jpg)"></div>
				<div style="background: url(/assets/Joy.jpg)"></div>
				<div style="background: url(/assets/Azzon.jpg)"></div>
			</div>
			<ul>
				<li><%= link_to('Norte', { controller: :catalog, action: :index, url: 'gostinye-norte'} )%></li>
				<li><%= link_to('P3', { controller: :catalog, action: :index, url: 'gostinnye-pz'} )%></li>
				<li><%= link_to('Bella', { controller: :catalog, action: :index, url: 'gostinnye-bella'} )%></li>
				<li><%= link_to('Verro', { controller: :catalog, action: :index, url: 'gostinnye-verro'} )%></li>
				<li><%= link_to('Style choco', { controller: :catalog, action: :index, url: 'gostinnye-style-choco'} )%></li>
				<li><%= link_to('Style орех', { controller: :catalog, action: :index, url: 'gostinnye-style-oreh'} )%></li>
				<li><%= link_to('Joy', { controller: :catalog, action: :index, url: 'gostinnye-joy'} )%></li>
				<li><%= link_to('Azzon', { controller: :catalog, action: :index, url: 'gostinye-azzon'} )%></li>
			</ul>
		</li>
		<li class="dark"></li>
		<li class="menu">
			<a href="/divani">Диваны</a>
			<div>
				<div style="background: url(/assets/Trevi.jpg); left: 0"></div>
				<div style="background: url(/assets/Opera.jpg)"></div>
				<div style="background: url(/assets/Lucca.jpg)"></div>
				<div style="background: url(/assets/Ritmo.jpg)"></div>
				<div style="background: url(/assets/Nuvola.jpg)"></div>
				<div style="background: url(/assets/SoftAgioArteCircle.jpg)"></div>
			</div>
			<ul>
				<li><%= link_to('Trevi', { controller: :catalog, action: :index, url: 'divany-trevi'} )%></li>
				<li><%= link_to('Opera', { controller: :catalog, action: :index, url: 'divany-opera'} )%></li>
				<li><%= link_to('Lucca', { controller: :catalog, action: :index, url: 'divany-lucca'} )%></li>
				<li><%= link_to('Ritmo', { controller: :catalog, action: :index, url: 'divany-ritmo'} )%></li>
				<li><%= link_to('Nuvola', { controller: :catalog, action: :index, url: 'divany-nuvola'} )%></li>
				<li><%= link_to('Кресла', { controller: :catalog, action: :index, url: 'kresla'} )%></li>
			</ul>
		</li>
		<li class="dark"></li>
		<li class="menu">
			<a href="/matras">Матрасы</a>
			<div>
				<div style="background: url(/assets/SonberryOrganic.jpg); left: 0"></div>
				<div style="background: url(/assets/SonberryAero.jpg)"></div>
				<div style="background: url(/assets/SonberryActive.jpg)"></div> 
				<div style="background: url(/assets/SonberryItalia.jpg)"></div>  
			</div>
			<ul>
				<li><%= link_to('Organic', { controller: :catalog, action: :index, url: 'matrasy-organic'} )%></li>
				<li><%= link_to('Aero', { controller: :catalog, action: :index, url: 'matrasy-aero'} )%></li>
				<li><%= link_to('Active', { controller: :catalog, action: :index, url: 'matrasy-active'} )%></li>
				<li><%= link_to('Italia', { controller: :catalog, action: :index, url: 'matrasy-italia'} )%></li>
			</ul>
		</li>
		<li class="dark"></li>
		<li class="menu allProducts">
			<a>Все товары</a>
			<div>
				<p>
					<%= link_to('Кровати', { controller: :catalog, action: :index, url: 'krovati-dlja-spalni'} )%>
					<%= link_to('Шкафы', { controller: :catalog, action: :index, url: 'shkafy'} )%>
					<%= link_to('Комоды', { controller: :catalog, action: :index, url: 'komody'} )%>
					<%= link_to('Тумбочки', { controller: :catalog, action: :index, url: 'tumby-dlja-spalni'} )%>
					<%= link_to('Тумбы TV', { controller: :catalog, action: :index, url: 'tumby-pod-tv'} )%>
				</p>
				<p>
					<%= link_to('Зеркала', { controller: :catalog, action: :index, url: 'zerkala'} )%>
					<%= link_to('Полки', { controller: :catalog, action: :index, url: 'polki'} )%>
					<%= link_to('Столы', { controller: :catalog, action: :index, url: 'stoly'} )%>
					<%= link_to('Основания', { controller: :catalog, action: :index, url: 'osnovanija'} )%>
					<%= link_to('Буфеты', { controller: :catalog, action: :index, url: 'bufety'} )%>
				</p>				
			</div>
		</li>
		<li class="dark"></li>
		<li class="menu wherebuy">
			<%= link_to 'Где купить', stores_path %>
			<span>
				<div>
					<div>
						<%= link_to raw('Мебель PARRA<br>МЦ "Мебель PARK"<br>Киевское шоссе,<br>Строение 1, 3 вход,<br>3 этаж<br>(499) 940-12-29'), store1_path %>
						<%= link_to raw('Мебель PARRA<br>МЦ "Family Room"<br>Киевское шоссе,<br>Строение 1, 5 вход,<br>2 этаж<br>(499) 940-12-29'), store2_path %>
						<%= link_to raw('Мебель PARRA<br>МЦ "Армада"<br>Кировоградская ул.,<br>д. 11/1, 2 этаж<br>(495) 665-11-52'), store3_path %>
						<%= link_to raw('Мебель PARRA<br>ТЦ "Черемушки"<br>Профсоюзная ул.,<br>д. 56, 3 этаж<br>(499) 340-56-56'), store4_path %>
						<%= link_to raw('Мебель PARRA<br>МЦ "ROOMER"<br>ул. Ленинская,<br>Слобода, д. 26,<br>2 этаж<br>(499) 426-46-06'), store5_path %>
						<%= link_to raw('Мебель PARRA<br><nobr>ТЦ «Твой Дом - Крокус»</nobr><br>(пересечение<br>Волоколамского ш. и<br> 66км МКАД), 2 этаж<br>(499) 340-09-08'), store6_path %>
						<%= link_to raw('Мебель PARRA<br>ТРК «Красный Кит»<br>г. Мытищи,<br>Шараповский проезд, вл. 2, 1 этаж.<br>(499) 347-09-09'), store7_path %>
						<%= link_to raw('Мебель PARRA<br>МЦ "Вагант"<br>г. Подольск, ул. Станционная,<br> д. 11, 1 этаж<br>(499) 400-58-18'), store8_path %>
						<%= link_to raw('Мебель PARRA<br>МЦ "Империя"<br>Дмитровское шоссе <br>д. 159 , 3 этаж.<br>(499) 899-07-09'), store9_path %>
					</div>
				</div>      
			</span>
		</li>
		<li class="menu dark"></li>
		<li class="menu cart">
			<a href="/cart">Корзина<b id="cartCount"></b></a>
			<span id="menuCart">
				<div></div>
				<span>
					<a onclick="order()" class="squareButton">Оформить заказ</a>
					<h2>Итого: <b id="price"></b> руб.</h2>
				</span>
			</span>
		</li>
		<li class="dark"></li>
	</ul>
</nav>

<div class="main">
	<ul id="mainMenuCompact">
  		<li onclick="miniCatOpen(this)">Спальни<p></p>
			<div>
				<a href="/catalog/index?category_scode=Gamma"><img src="/assets/GammaNew.jpg"></a>
				<a href="/catalog/index?category_scode=Lyona"><img src="/assets/LyonaNew.jpg"></a>
				<a href="/catalog/index?category_scode=Bella"><img src="/assets/Bella.jpg"></a>
				<a href="/catalog/index?category_scode=Plisset"><img src="/assets/Plisset.jpg"></a>
				<a href="/catalog/index?category_scode=Orly"><img src="/assets/Orly.jpg"></a>
				<a href="/catalog/index?category_scode=Ritmika"><img src="/assets/RitmikaSale.jpg"></a>
				<a href="/catalog/index?category_scode=Ritmika2"><img src="/assets/RitmikaSale2.jpg"></a>
				<a href="/catalog/index?category_scode=Lorra"><img src="/assets/Lorra.jpg"></a>
				<a href="/catalog/index?category_scode=Leggero"><img src="/assets/LeggeroSale.jpg"></a>
				<a href="/catalog/index?category_scode=Leggerochoco1"><img src="/assets/LeggeroSale2.jpg"></a>
				<a href="/catalog/index?category_scode=Miro"><img src="/assets/Miro.jpg"></a>
				<a href="/catalog/index?category_scode=Mild"><img src="/assets/Mild.jpg"></a>
			</div>
  		<li onclick="miniCatOpen(this)">Гостиные<p></p>
  			<div>
				<a href="/catalog/index?category_scode=Norte"><img src="/assets/NorteNew.jpg"></a>
				<a href="/catalog/index?category_scode=P3"><img src="/assets/P3.jpg"></a>
				<a href="/catalog/index?category_scode=BellaGost"><img src="/assets/BellaGost.jpg"></a>
				<a href="/catalog/index?category_scode=Verro"><img src="/assets/Verro.jpg"></a>
				<a href="/catalog/index?category_scode=Stylechoco"><img src="/assets/Style.jpg"></a>
				<a href="/catalog/index?category_scode=Stylenut"><img src="/assets/Style2.jpg"></a>
				<a href="/catalog/index?category_scode=Joy"><img src="/assets/Joy.jpg"></a>
				<a href="/catalog/index?category_scode=Azzon"><img src="/assets/Azzon.jpg"></a>
  		</li>
  		<li onclick="miniCatOpen(this)">Диваны<p></p>
  			<div>
				<a href="/catalog/index?category_scode=Trevi"><img src="/assets/Trevi.jpg"></a>
				<a href="/catalog/index?category_scode=Opera"><img src="/assets/Opera.jpg"></a>
				<a href="/catalog/index?category_scode=Lucca"><img src="/assets/Lucca.jpg"></a>
				<a href="/catalog/index?category_scode=Ritmo"><img src="/assets/Ritmo.jpg"></a>
				<a href="/catalog/index?category_scode=Nuvola"><img src="/assets/Nuvola.jpg"></a>
				<a href="/catalog/index?category_scode=Кресла"><img src="/assets/SoftAgioArteCircle.jpg"></a>
			</div>
  		</li>
  		<li onclick="miniCatOpen(this)">Матрасы<p></p>
  			<div>
				<a href="/catalog/index?category_scode=SonberryOrganic"><img src="/assets/SonberryOrganic.jpg"></a>
				<a href="/catalog/index?category_scode=SonberryAero"><img src="/assets/SonberryAero.jpg"></a>
				<a href="/catalog/index?category_scode=SonberryActive"><img src="/assets/SonberryActive.jpg"></a>
				<a href="/catalog/index?category_scode=SonberryItalia"><img src="/assets/SonberryItalia.jpg"></a>
			</div>
  		</li>
  		<li class="allProducts" onclick="$(this).toggleClass('open')">Все товары<p></p>
  			<div>
	  			<p>
	  				<a href="http://www.parra-shop.ru/catalog/index?category_scode=Кровати">Кровати</a>
	  				<a href="http://www.parra-shop.ru/catalog/index?category_scode=Шкафы">Шкафы</a>
	  				<a href="http://www.parra-shop.ru/catalog/index?category_scode=Комоды">Комоды</a>
	  				<a href="http://www.parra-shop.ru/catalog/index?category_scode=Тумбочки">Тумбочки</a>
					<a href="http://www.parra-shop.ru/catalog/index?category_scode=ТумбыподTV">Тумбы под TV</a>
	  			</p>
	  			<p>
	  				<a href="http://www.parra-shop.ru/catalog/index?category_scode=Зеркала">Зеркала</a>
	  				<a href="http://www.parra-shop.ru/catalog/index?category_scode=Полки">Полки</a>
	  				<a href="http://www.parra-shop.ru/catalog/index?category_scode=Столы">Столы</a>
	  				<a href="http://www.parra-shop.ru/catalog/index?category_scode=Основания">Основания</a>
					<a href="http://www.parra-shop.ru/catalog/index?category_scode=Буфеты">Буфеты</a>
	  			</p>
  			</div>
  		</li>
  		<li class="whereCanBuy" onclick="$(this).toggleClass('open')">Где купить<p></p>
  			<div>
				<a href="<%= url_for store1_path %>">Мебель PARRA<br>МЦ "Мебель PARK"<br>Киевское шоссе,<br>Строение 1, 3 вход,<br>3 этаж<br>(499) 940-12-29</a>
				<a href="<%= url_for store2_path %>">Мебель PARRA<br>МЦ "Family Room"<br>Киевское шоссе,<br>Строение 1, 5 вход,<br>2 этаж<br>(499) 940-12-29</a>
				<a href="<%= url_for store3_path %>">Мебель PARRA<br>МЦ "Армада"<br>Кировоградская ул.,<br>д. 11/1, 2 этаж<br>(495) 665-11-52</a>
				<a href="<%= url_for store4_path %>">Мебель PARRA<br>ТЦ "Черемушки"<br>Профсоюзная ул.,<br>д. 56, 3 этаж<br>(499) 340-56-56</a>
				<a href="<%= url_for store5_path %>">Мебель PARRA<br>МЦ "ROOMER"<br>ул. Ленинская,<br>Слобода, д. 26,<br>2 этаж<br>(499) 426-46-06</a>
				<a href="<%= url_for store6_path %>">Мебель PARRA<br><nobr>ТЦ «Твой Дом - Крокус»</nobr><br>(пересечение Волоколамского ш. и 66км МКАД), 2 этаж<br>(499) 340-09-08</a>
				<a href="<%= url_for store7_path %>">Мебель PARRA<br>ТРК «Красный Кит»<br>г. Мытищи,<br>Шараповский проезд, вл. 2, 1 этаж.<br>(499) 347-09-09</a>
				<a href="<%= url_for store8_path %>">Мебель PARRA<br>МЦ "Вагант" <br>г. Подольск, ул. Станционная,<br> д. 11, 1 этаж<br>8(499)347-09-09</a>
				<a href="<%= url_for store9_path %>">Мебель PARRA<br>МЦ "Империя" <br>Дмитровское шоссе<br>д. 159 , 3 этаж.<br>(499) 899-07-09</a>
  			</div>
  		</li>
  		<li class="miniMenuCart">
  			<a href="/cart">Корзина</a>
  		</li>
  	</ul>
  <div <%= raw('style="overflow: hidden"') if params[:controller] == 'configurator' %>>
  	<% if notice == 'ordersave' %>
  		<div id="orderSave" class="windows">
			<p>Ваш заказ принят. Наш менеджер свяжется с вами с ближайшее время.</p>
			<div class="btn-s" onclick="windowClose()">OK</div>
		</div>
		<script type="text/javascript">
			$('#windowLayout').show()
		</script>
  	<% else %>
		<div id="notice"><%= flash[:notice] %></div>
	<% end %>
    <%= yield %>
  </div>
</div>

<nav class="footer">
    <ul>
        <li><%= link_to 'Доставка и сборка', service_path %></li>
        <li><%= link_to 'Партнерам', partners_path %></li>
        <li><%= link_to 'Новости', news_path %></li>
        <li><%= link_to 'Статьи', articles_path %></li>
        <li><%= link_to 'Гарантии', insurance_path %></li>
        <li><%= link_to 'Отзывы', otzyvy_path %></li>
        <li><%= link_to 'О нас', about_path %></li>
        <li><a href="/sitemap">Карта сайта</a></li>
    </ul>
</nav>

<div id="orderWindow">
  <div onclick="this.parentNode.style.display = 'none'"></div>
  <div>
    <div class="header">
      <h4>Отправьте Ваши контактные данные<br>и менеджер свяжется с Вами.</h4>
      <div style="background:url('/assets/remove-icon.png')" onclick="this.parentNode.parentNode.parentNode.style.display = 'none'"></div>
    </div>
    <%= form_for :order, {url: orders_path, html: {onsubmit: 'return orderValidate(this)'}} do |f| %>
    <div class="row">
    	<h4 class="col-md-5 text-right"><%= f.label :first_name, "Ваше имя:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    	<div class="col-md-5">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :first_name, class: "form-control" %>
	      </div>
	    </div>
	</div>
	<div class="row">
	    <h4 class="col-md-5 text-right"><nobr><%= f.label :phone, "Контактный телефон:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    	<div class="col-md-5">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :phone, class: "form-control" %>
	      </div>
	    </div>
    </div>
	<div class="row">
		<h4 class="col-md-5 text-right"><nobr><%= f.label :email, "Ваш e-mail:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
		<div class="col-md-5">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :email, class: "form-control" %>
	      </div>
	    </div>
    </div>
    <div class="checkbox">
	  <label>
	    <input type="checkbox" onclick="orderShowAll()">
	    <h4 class="text-left">Нужна доставка</h4>
	  </label>
	</div>
    <div id="otherInputs">
	    <div class="row">
	    <h4 class="col-md-5 text-right"><nobr><%= f.label :addr_street, "Улица:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    	<div class="col-md-5">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :addr_street, class: "form-control" %>
	      </div>
	    </div>
	    </div>
	    <div class="row">
	    <h4 class="col-md-5 text-right"><nobr><%= f.label :addr_home, "Дом:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    	<div class="col-md-5">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :addr_home, class: "form-control" %>
	      </div>
	    </div>
	    </div>
	    <div class="row">
	    <h4 class="col-md-5 text-right"><nobr><%= f.label :addr_block, "Корпус:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
	    	<div class="col-md-5">
		      <div class="wrath-content-box" style="padding:0 15px">
		        <%= f.text_field :addr_block, class: "form-control" %>
		      </div>
	    </div>
	    </div>
	    <div class="row">
	    <h4 class="col-md-5 text-right"><nobr><%= f.label :addr_flat, "Квартира:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
	    	<div class="col-md-5">
		      <div class="wrath-content-box" style="padding:0 15px">
		        <%= f.text_field :addr_flat, class: "form-control" %>
		      </div>
	    </div>
	    </div>
    </div>
    <input class="btn btn-success" type="submit" value="Отправить">
    <input type="hidden" name="cartfield" id="cartfield">
    <% end %>
  </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter25900607 = new Ya.Metrika({id:25900607,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25900607" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Google counter -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54896395-2', 'auto');
  ga('send', 'pageview');

</script>
<!-- /Google counter -->
</body>
</html>
