<!DOCTYPE html>
<html>
<head>
  <title>ParraShop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<a href='/'><img class="logo" src="/assets/logo.png"></a>
<div class="shopPhone">
  <p><b>8</b><b>495</b>728-20-90</p>
  <p>Единый телефон продаж в Москве</p>
</div>
<nav>
  <ul id="mainMenu">    
    <li><a href="">Спальни</a>
	      <div>
	        <div style="background-image: url(/assets/Bella.png); left: 0"></div>
	        <div style="background-image: url(/assets/Plisset.png)"></div>
	        <div style="background-image: url(/assets/Orly.png)"></div>
	        <div style="background-image: url(/assets/Ritmika.png)"></div>
	        <div style="background-image: url(/assets/Lorra.png)"></div>
	        <div style="background-image: url(/assets/Leggero.png)"></div>
	        <div style="background-image: url(/assets/Miro.png)"></div>
	      </div>     
	      <ul>
	<li><%= link_to('Bella', { :controller => '/catalog', :action => :index, :category_scode => :Bella} )%></li>
	<li><%= link_to('Plisset', { :controller => '/catalog', :action => :index, :category_scode => :Plisset} )%></li>
	<li><%= link_to('Orly', { :controller => '/catalog', :action => :index, :category_scode => :Orly} )%></li>
	<li><%= link_to('Ritmika', { :controller => '/catalog', :action => :index, :category_scode => :Ritmika} )%></li>
	<li><%= link_to('Lorra', { :controller => '/catalog', :action => :index, :category_scode => :Lorra} )%></li>
	<li><%= link_to('Leggero', { :controller => '/catalog', :action => :index, :category_scode => :Leggero} )%></li>
	<li><%= link_to('Miro', { :controller => '/catalog', :action => :index, :category_scode => :Miro} )%></li>
	      </ul>
	    </li>
	    <li><a href="">Гостинные</a>
	  <div>
	  <div style="background: url(/assets/Azzon.png); left: 0"></div>
	  <div style="background: url(/assets/BellaGost.png)"></div>
	  <div style="background: url(/assets/P3.png)"></div>
	  <div style="background: url(/assets/Forma.png)"></div>
	  <div style="background: url(/assets/Joy.png)"></div>
	  <div style="background: url(/assets/Style.png)"></div>
	  <div style="background: url(/assets/Verro.png)"></div>
	  </div>
	 <ul>
	  <li><%= link_to('Azzon', { :controller => '/catalog', :action => :index, :category_scode => :Azzon} )%></li>
	  <li><%= link_to('Bella', { :controller => '/catalog', :action => :index, :category_scode => :BellaGost} )%></li>
	  <li><%= link_to('P3', { :controller => '/catalog', :action => :index, :category_scode => :P3} )%></li>
	  <li><%= link_to('Forma', { :controller => '/catalog', :action => :index, :category_scode => :Forma} )%></li>
	  <li><%= link_to('Joy', { :controller => '/catalog', :action => :index, :category_scode => :Joy} )%></li>
	  <li><%= link_to('Style', { :controller => '/catalog', :action => :index, :category_scode => :Style} )%></li>
	  <li><%= link_to('Verro', { :controller => '/catalog', :action => :index, :category_scode => :Verro} )%></li>
	   </ul>
	 </li>

	    <li><%= link_to('Диваны', { :controller => '/catalog', :action => :index, :category_scode => :Divanes} )%></li>
    <li><a href="">Матрасы</a></li>
    <li class="allProducts">
      <a href="">Все товары</a>
      <div>
        <a href="">Кровати</a>
        <a href="">Шкафы</a>
        <a href="">Комоды</a>
        <a href="">Тумбочки</a>
        <a href="">Зеркала</a>
        <a href="">Полки</a>
        <a href="">Столы</a>
        <a href="">Основания</a>
      </div>
    </li>
    <li class="wherebuy"><%= link_to 'Где купить', stores_path %>
      <span>
        <div>
          <div>
            <%= link_to raw('Мебель PARRA в МЦ "Мебель PARK"<br>(499) 940-12-29<br>м.Юго-Западная'), store1_path %>
            <%= link_to raw('Салон "НовоМебель" в МЦ "Family Room"<br>(499) 940-12-29<br>м.Юго-Западная'), store2_path %>
            <%= link_to raw('Мебель PARRA в МЦ "Армада"<br>(495) 665-11-52<br>м.Пражская'), store3_path %>
            <%= link_to raw('Мебель PARRA в ТЦ "Черемушки"<br>(499) 340-56-56<br>м.Новые черемушки'), store4_path %>
            <%= link_to raw('Мебель PARRA в МЦ "ROOMER"<br>(499) 340-09-08<br>м.Автозаводская'), store5_path %>
            <%= link_to raw('Мебель PARRA в ТЦ «Твой Дом — Крокус»<br>(499) 940-12-29<br>м.Мякинино'), store6_path %>
            <%= link_to raw('Мебель PARRA в ТРЦ "РИО" Реутов<br>(499) 347-09-09<br>м.Новогиреево'), store7_path %>
          </div>
        </div>        
      </span>
    </li>
    <li class="submenu">
      <a>информация</a>
      <div>
        <ul>
          <li><%= link_to 'Доставка и сборка', service_path %></li>
          <li><%= link_to 'Партнерам', partners_path %></li>
          <li><%= link_to 'Новости', news_path %></li>
          <li><%= link_to 'Статьи', articles_path %></li>
          <li><%= link_to 'Гарантии', insurance_path %></li>
        </ul>
      </div>
    </li>
  	<li><a href="/cart">Корзина<b id="cartCount"></b></a></li>
  </ul>
</nav>

<div class="main">
  <div>
	<div id="notice"><%= flash[:notice] %></div>
    <%= yield %>
  </div>
</div>

<nav class="footer">
    <ul>
        <li><%= link_to 'Доставка и сборка', service_path %></li>
        <li><%= link_to 'Партнерам', partners_path %></li>
        <li><%= link_to 'Новости', news_path %></li>
        <li><%= link_to 'Статьи', articles_path %></li>
        <li><%= link_to 'Гарантии', insurance_path %></li>
    </ul>
</nav>

</body>
</html>
