<!DOCTYPE html>
<html>
<head>
  <title>Novomeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="windows">
	<p class="bg" onclick="windowsClose()"></p>
	<div id="window-buy">
		<div>
			<h2>Товар успешно добавлен в корзину</h2>
			<div class="images-wrap">
				<div class="left" onclick="product.left(this)"></div>
				<div class="images">
					<div class="wrap"></div>
				</div>
				<div class="right" onclick="product.right(this)"></div>
			</div>
			<div class="desc"></div>
			<div onclick="windowsClose()" class="button left">Вернутся к покупкам</div>
			<a href="/cart" class="button right">Перейти в корзину</a>
		</div>
	</div>
	<div id="window-order">
		<div>
			<h2>Отправьте Ваши контактные данные<br>и менеджер свяжется с Вами</h2>
			<%= form_for :order, {url: orders_path, html: {onsubmit: 'return orderValidate(this)'}} do |f| %>
				<label>Ваше имя: <input name="order[name]" type="text"></label>
				<label>Контактный телефон: <input name="order[phone]" type="text"></label>
				<label>Ваш e-mail: <input name="order[email]" type="text"></label>
				<label class="checkbox"><input onchange="orderDelivery(this)" type="checkbox"> Нужна доставка</label>
				<div>
					<label>Улица: <input name="order[addr_street]" type="text"></label>
					<label>Дом: <input name="order[addr_home]" type="text"></label>
					<label>Корпус: <input name="order[addr_block]" type="text"></label>
					<label>Квартира: <input name="order[addr_flat]" type="text"></label>
				</div>
				<input class="btn btn-success" type="submit" value="Отправить">
	    		<input type="hidden" name="cartfield">
	    	<% end %>
		</div>
	</div>
</div>
<!-- <div id="orderWindow">
  <div onclick="this.parentNode.style.display = 'none'"></div>
  <div>
    <div class="header">
      <h4>Отправьте Ваши контактные данные<br>и менеджер свяжется с Вами.</h4>
      <div style="background:url('/assets/remove-icon.png')" onclick="this.parentNode.parentNode.parentNode.style.display = 'none'"></div>
    </div>
    <%= form_for :order, {url: orders_path, html: {onsubmit: 'return orderValidate(this)'}} do |f| %>
    <div class="row">
    	<h4 class="col-md-5 text-right"><%= f.label :first_name, "Ваше имя:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></h4>
    	<div class="col-md-5">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :first_name, class: "form-control" %>
	      </div>
	    </div>
	</div>
	<div class="row">
	    <h4 class="col-md-5 text-right"><nobr><%= f.label :phone, "Контактный телефон:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    	<div class="col-md-5">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :phone, class: "form-control" %>
	      </div>
	    </div>
    </div>
	<div class="row">
		<h4 class="col-md-5 text-right"><nobr><%= f.label :email, "Ваш e-mail:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
		<div class="col-md-5">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :email, class: "form-control" %>
	      </div>
	    </div>
    </div>
    <div class="checkbox">
	  <label>
	    <input type="checkbox" onclick="orderShowAll()">
	    <h4 class="text-left">Нужна доставка</h4>
	  </label>
	</div>
    <div id="otherInputs">
	    <div class="row">
	    <h4 class="col-md-5 text-right"><nobr><%= f.label :addr_street, "Улица:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    	<div class="col-md-5">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :addr_street, class: "form-control" %>
	      </div>
	    </div>
	    </div>
	    <div class="row">
	    <h4 class="col-md-5 text-right"><nobr><%= f.label :addr_home, "Дом:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
    	<div class="col-md-5">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :addr_home, class: "form-control" %>
	      </div>
	    </div>
	    </div>
	    <div class="row">
	    <h4 class="col-md-5 text-right"><nobr><%= f.label :addr_block, "Корпус:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
	    	<div class="col-md-5">
		      <div class="wrath-content-box" style="padding:0 15px">
		        <%= f.text_field :addr_block, class: "form-control" %>
		      </div>
	    </div>
	    </div>
	    <div class="row">
	    <h4 class="col-md-5 text-right"><nobr><%= f.label :addr_flat, "Квартира:", {class: 'control-label wrath-content-box', style: 'padding:0 15px'} %></nobr></h4>
	    	<div class="col-md-5">
		      <div class="wrath-content-box" style="padding:0 15px">
		        <%= f.text_field :addr_flat, class: "form-control" %>
		      </div>
	    </div>
	    </div>
    </div>
    <input class="btn btn-success" type="submit" value="Отправить">
    <input type="hidden" name="cartfield" id="cartfield">
    <% end %>
  </div>
</div> -->
<div id="main">
	<% if user_signed_in? %>
		<div class="menu-admin">
			<% if current_user.admin? %>
				<a href="/categories">Список категорий</a>
				<a href="/users/">Пользователи</a>
				<a href="/banners/">Баннеры</a>
			<% end
			if current_user.manager or current_user.admin? %>
				<a href="/orders">Заказы</a>
			<% end %>
			<%= link_to "Выход", destroy_user_session_path, method: :delete %>
		</div>
	<% end %>
	<div id="header">
		<div class="top">
			<a href="/" class="logo"></a>
			<div class="numbers">
				<div>
					<b>8-495-728-20-90</b>
					<p>Единый телефон продаж в Москве</p>
				</div>
				<div>
					<b>8-800-707-67-57</b>
					<p>Единый телефон продаж в России</p>
				</div>
			</div>
			<div class="novomeb"></div>
		</div>
		<p class="logo">Дом для счастья и любви!</p>
		<p class="orange">Самые низкие цены на Новомебель - Parra!</p>
		<div id="menu-1">
			<a href="#">Полезная информация</a>
			<a href="#">Партнерам</a>
			<a href="#">Новости</a>
			<a href="#">Статьи</a>
			<a href="#">Гарантии</a>
			<a href="#">Магазины</a>
			<a href="#">Доставка и сборка</a>
		</div>
		<div id="menu-2">
			<% def menu items
				ret = ''
				for item in items
					children = @categories.find_all{|r| r.parent_id == item.id}
					if children.empty?
						ret += "<a href='/#{item.scode}'>#{item.name}</a>"
					else
						ret += "<div><p>#{item.name}</p><div>#{menu children}</div></div>"
					end
				end
				ret
			end %>
			<%= raw menu @categories.find_all{|r| !r.parent_id} %>
			<a href="#">Все товары</a>
			<a href="/cart">Корзина</a>
		</div>
	</div>
	<div id="content">
		<%= yield %>
	</div>
	<div id="footer">
		<a href="#">Полезная информация</a>
		<a href="#">Партнерам</a>
		<a href="#">Новости</a>
		<a href="#">Статьи</a>
		<a href="#">Гарантии</a>
		<a href="#">Магазины</a>
		<a href="#">Доставка и сборка</a>
	</div>
</div>
</body>
</html>
